n8n-workflows/workflow-main-chatbot.json
{
  "name": "Main Chatbot v2 Fixed",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "parameters": {
        "jsCode": "const msg = $input.item.json.message;\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || '',\n    message_id: msg.message_id\n  }\n}];"
      },
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [640, 400],
      "alwaysOutputData": true
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst messageData = $('Extract Message').item.json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      onboarding_stage: userData.onboarding_stage,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n}"
      },
      "name": "Check User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.userExists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "User Not Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 400]
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "parameters": {
        "operation": "create",
        "tableId": "users",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.telegram_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "started"
            },
            {
              "fieldId": "language",
              "fieldValue": "ru"
            }
          ]
        }
      },
      "name": "Create User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1240, 550]
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').item.json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User Again",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1440, 550]
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "parameters": {
        "jsCode": "let userData;\nlet messageData;\n\nconst checkUserData = $('Check User').item.json;\n\nif (checkUserData.userExists) {\n  userData = {\n    id: checkUserData.user_id,\n    onboarding_stage: checkUserData.onboarding_stage\n  };\n  messageData = {\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id\n  };\n} else {\n  userData = $input.item.json;\n  messageData = {\n    chat_id: $('Check User').item.json.chat_id,\n    message_text: $('Check User').item.json.message_text,\n    message_id: $('Check User').item.json.message_id\n  };\n}\n\nconst message = messageData.message_text.toLowerCase();\nconst onboardingStage = userData.onboarding_stage || 'started';\n\nlet intent = 'general';\nlet systemPrompt = '';\n\nif (onboardingStage !== 'completed') {\n  intent = 'onboarding';\n  systemPrompt = 'Ты — AI-тренер по бегу. Проводишь онбординг. Собери информацию: уровень (beginner/intermediate/advanced), текущий темп на 5км, сколько раз в неделю бегает, цель. Задавай по ОДНОМУ вопросу. Будь дружелюбным.';\n} else if (message.includes('план') || message.includes('/plan')) {\n  intent = 'plan';\n  systemPrompt = 'Ты — AI-тренер. Скажи что генерация планов пока в разработке, но скоро будет!';\n} else if (message.includes('пробежал') || message.includes('км')) {\n  intent = 'training';\n  systemPrompt = 'Ты — AI-тренер. Дай feedback на тренировку! Скажи что логирование пока в разработке.';\n} else {\n  systemPrompt = 'Ты — персональный AI-тренер по бегу. Отвечай кратко и дружелюбно.';\n}\n\nreturn [{\n  json: {\n    user_id: userData.id,\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_id: messageData.message_id,\n    intent: intent,\n    system_prompt: systemPrompt\n  }\n}];"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 400]
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"{{ $json.system_prompt }}\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.message_text }}\"}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 400\n}",
        "options": {}
      },
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 400]
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst userData = $('Prepare Data').item.json;\nconst aiMessage = response.choices[0].message.content;\n\nreturn [{\n  json: {\n    user_id: userData.user_id,\n    chat_id: userData.chat_id,\n    message_id: userData.message_id,\n    user_message: userData.message_text,\n    intent: userData.intent,\n    response_text: aiMessage\n  }\n}];"
      },
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 400]
    },
    {
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "parameters": {
        "operation": "create",
        "tableId": "chat_history",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.user_message }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $json.intent }}"
            },
            {
              "fieldId": "telegram_message_id",
              "fieldValue": "={{ $json.message_id }}"
            }
          ]
        }
      },
      "name": "Save User Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2240, 300]
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-234567890123",
      "parameters": {
        "operation": "create",
        "tableId": "chat_history",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Response').item.json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Extract Response').item.json.response_text }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Extract Response').item.json.intent }}"
            }
          ]
        }
      },
      "name": "Save AI Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "id": "a3b4c5d6-e7f8-9012-abcd-345678901234",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "{{ $json.chat_id }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {}
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2240, 500]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Extract Message", "type": "main", "index": 0}]]
    },
    "Extract Message": {
      "main": [[{"node": "Get User", "type": "main", "index": 0}]]
    },
    "Get User": {
      "main": [[{"node": "Check User", "type": "main", "index": 0}]]
    },
    "Check User": {
      "main": [[{"node": "User Not Found?", "type": "main", "index": 0}]]
    },
    "User Not Found?": {
      "main": [
        [{"node": "Create User", "type": "main", "index": 0}],
        [{"node": "Prepare Data", "type": "main", "index": 0}]
      ]
    },
    "Create User": {
      "main": [[{"node": "Get User Again", "type": "main", "index": 0}]]
    },
    "Get User Again": {
      "main": [[{"node": "Prepare Data", "type": "main", "index": 0}]]
    },
    "Prepare Data": {
      "main": [[{"node": "Call OpenAI", "type": "main", "index": 0}]]
    },
    "Call OpenAI": {
      "main": [[{"node": "Extract Response", "type": "main", "index": 0}]]
    },
    "Extract Response": {
      "main": [[
        {"node": "Save User Msg", "type": "main", "index": 0},
        {"node": "Send to Telegram", "type": "main", "index": 0}
      ]]
    },
    "Save User Msg": {
      "main": [[{"node": "Save AI Msg", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
