n8n-workflows/workflow-main-chatbot-v5.json
{
    "updatedAt": "2026-02-06T23:32:39.651Z",
    "createdAt": "2026-02-03T14:16:53.371Z",
    "id": "7Ar459SadzSXgUEv",
    "name": "AI Running Coach - Main Chatbot v5 (Photo + Stats)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "telegram-trigger",
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "TelegramTrigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "extract-message",
            "parameters": {
                "functionCode": "const msg = items[0].json.message;\n\n// \u041e\u043f\u0440\u0435\u0434\u0435\u043b\u044f\u0435\u043c \u0442\u0438\u043f \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f\nlet messageType = 'text';\nlet photoFileId = null;\nlet photoCaption = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  messageType = 'photo';\n  // \u0411\u0435\u0440\u0451\u043c \u0444\u043e\u0442\u043e \u043c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0433\u043e \u0440\u0430\u0437\u043c\u0435\u0440\u0430 (\u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0435 \u0432 \u043c\u0430\u0441\u0441\u0438\u0432\u0435)\n  photoFileId = msg.photo[msg.photo.length - 1].file_id;\n  photoCaption = msg.caption || '';\n}\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || '\u0414\u0440\u0443\u0433',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || photoCaption || '',\n    message_id: msg.message_id,\n    message_type: messageType,\n    photo_file_id: photoFileId\n  }\n}];"
            },
            "name": "Extract Message",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                440,
                400
            ]
        },
        {
            "id": "get-user",
            "parameters": {
                "operation": "getAll",
                "tableId": "users",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "telegram_id",
                            "condition": "eq",
                            "keyValue": "={{ $json.telegram_id }}"
                        }
                    ]
                }
            },
            "name": "Get User",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                640,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "check-user",
            "parameters": {
                "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      race_date: userData.race_date,\n      race_distance: userData.race_distance,\n      target_time_seconds: userData.target_time_seconds,\n      resting_hr: userData.resting_hr,\n      max_hr: userData.max_hr,\n      has_lab_testing: userData.has_lab_testing,\n      vo2max: userData.vo2max,\n      lthr: userData.lthr,\n      hr_zone1_max: userData.hr_zone1_max,\n      hr_zone2_max: userData.hr_zone2_max,\n      hr_zone3_max: userData.hr_zone3_max,\n      hr_zone4_max: userData.hr_zone4_max,\n      hr_zone5_max: userData.hr_zone5_max,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n}"
            },
            "name": "Check User",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                840,
                400
            ]
        },
        {
            "id": "show-typing",
            "parameters": {
                "operation": "sendChatAction",
                "chatId": "={{ $json.chat_id.toString() }}",
                "action": "typing"
            },
            "name": "Show Typing",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1040,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "route-after-typing",
            "parameters": {
                "functionCode": "const data = $('Check User').first().json;\nreturn [{json: data}];"
            },
            "name": "Route After Typing",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1240,
                400
            ]
        },
        {
            "id": "is-photo",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "photo-check",
                            "leftValue": "={{ $json.message_type }}",
                            "rightValue": "photo",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "completed-check",
                            "leftValue": "={{ $json.onboarding_stage }}",
                            "rightValue": "completed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Photo?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1440,
                400
            ]
        },
        {
            "id": "parse-vision-response",
            "parameters": {
                "functionCode": "const checkUserData = $('Check User').first().json;\nconst visionResponse = items[0].json;\nconst aiContent = visionResponse.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiContent);\n} catch (e) {\n  parsed = {\n    recognized: false,\n    response: '\u041e\u0448\u0438\u0431\u043a\u0430 \u043f\u0440\u0438 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0435 \u0444\u043e\u0442\u043e. \u041f\u043e\u043f\u0440\u043e\u0431\u0443\u0439 \u0435\u0449\u0451 \u0440\u0430\u0437 \u0438\u043b\u0438 \u043d\u0430\u043f\u0438\u0448\u0438 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442 \u0442\u0435\u043a\u0441\u0442\u043e\u043c.'\n  };\n}\n\n// \u041e\u0447\u0438\u0449\u0430\u0435\u043c \u0442\u0435\u043a\u0441\u0442 \u0434\u043b\u044f Telegram\nlet responseText = parsed.response || '\u0424\u043e\u0442\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d\u043e';\nresponseText = responseText\n  .replace(/\\*/g, '\u2022')\n  .replace(/_/g, ' ')\n  .replace(/`/g, \"'\")\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_id: checkUserData.message_id,\n    recognized: parsed.recognized || false,\n    confidence: parsed.confidence || 'low',\n    training_data: parsed.data || null,\n    source_app: parsed.source_app || null,\n    response_text: responseText,\n    is_photo_training: true\n  }\n}];"
            },
            "name": "Parse Vision Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2240,
                200
            ]
        },
        {
            "id": "is-training-recognized",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "recognized-check",
                            "leftValue": "={{ $json.recognized }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Training Recognized?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2440,
                200
            ]
        },
        {
            "id": "save-photo-training",
            "parameters": {
                "operation": "create",
                "tableId": "trainings",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "user_id",
                            "fieldValue": "={{ $json.user_id }}"
                        },
                        {
                            "fieldId": "date",
                            "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                        },
                        {
                            "fieldId": "day_of_week",
                            "fieldValue": "={{ $now.format('EEEE').toLowerCase() }}"
                        },
                        {
                            "fieldId": "type",
                            "fieldValue": "={{ $json.training_data.type || 'easy_run' }}"
                        },
                        {
                            "fieldId": "distance_km",
                            "fieldValue": "={{ $json.training_data.distance_km }}"
                        },
                        {
                            "fieldId": "duration_seconds",
                            "fieldValue": "={{ $json.training_data.duration_seconds }}"
                        },
                        {
                            "fieldId": "avg_pace_seconds",
                            "fieldValue": "={{ $json.training_data.avg_pace_seconds }}"
                        },
                        {
                            "fieldId": "avg_heart_rate",
                            "fieldValue": "={{ $json.training_data.avg_heart_rate }}"
                        },
                        {
                            "fieldId": "max_heart_rate",
                            "fieldValue": "={{ $json.training_data.max_heart_rate }}"
                        },
                        {
                            "fieldId": "calories",
                            "fieldValue": "={{ $json.training_data.calories }}"
                        },
                        {
                            "fieldId": "elevation_gain_m",
                            "fieldValue": "={{ $json.training_data.elevation_gain_m }}"
                        },
                        {
                            "fieldId": "source",
                            "fieldValue": "screenshot"
                        },
                        {
                            "fieldId": "is_planned",
                            "fieldValue": "={{ false }}"
                        }
                    ]
                }
            },
            "name": "Save Photo Training",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2640,
                100
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "format-photo-response",
            "parameters": {
                "functionCode": "const parseData = $('Parse Vision Response').first().json;\nconst td = parseData.training_data || {};\n\nconst formatPace = (s) => {\n  if (!s) return '\u043d/\u0434';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = '\ud83d\udcdd \u0422\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0430 \u0437\u0430\u043f\u0438\u0441\u0430\u043d\u0430!\\n\\n';\ntext += '\u2022 \u0414\u0438\u0441\u0442\u0430\u043d\u0446\u0438\u044f: ' + (td.distance_km || '\u043d/\u0434') + ' \u043a\u043c\\n';\ntext += '\u2022 \u0412\u0440\u0435\u043c\u044f: ' + (td.duration_seconds ? Math.floor(td.duration_seconds/60) + ' \u043c\u0438\u043d' : '\u043d/\u0434') + '\\n';\ntext += '\u2022 \u0422\u0435\u043c\u043f: ' + formatPace(td.avg_pace_seconds) + '/\u043a\u043c\\n';\nif (td.avg_heart_rate) text += '\u2022 \u041f\u0443\u043b\u044c\u0441: ' + td.avg_heart_rate + ' \u0443\u0434/\u043c\u0438\u043d\\n';\nif (td.calories) text += '\u2022 \u041a\u0430\u043b\u043e\u0440\u0438\u0438: ' + td.calories + '\\n';\nif (td.elevation_gain_m) text += '\u2022 \u041d\u0430\u0431\u043e\u0440 \u0432\u044b\u0441\u043e\u0442\u044b: ' + td.elevation_gain_m + ' \u043c\\n';\ntext += '\\n\ud83d\udcaa \u041e\u0442\u043b\u0438\u0447\u043d\u0430\u044f \u0440\u0430\u0431\u043e\u0442\u0430!';\n\nreturn [{\n  json: {\n    chat_id: parseData.chat_id,\n    response_text: text\n  }\n}];"
            },
            "name": "Format Photo Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2840,
                100
            ]
        },
        {
            "id": "send-photo-response",
            "parameters": {
                "operation": "sendMessage",
                "chatId": "={{ $json.chat_id.toString() }}",
                "text": "={{ $json.response_text }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send Photo Response",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                3040,
                100
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "send-not-recognized",
            "parameters": {
                "operation": "sendMessage",
                "chatId": "={{ $json.chat_id.toString() }}",
                "text": "={{ $json.response_text }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send Not Recognized",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                2640,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "user-not-found",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.userExists }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "User Not Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1640,
                500
            ]
        },
        {
            "id": "create-user",
            "parameters": {
                "operation": "create",
                "tableId": "users",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "telegram_id",
                            "fieldValue": "={{ $json.telegram_id }}"
                        },
                        {
                            "fieldId": "username",
                            "fieldValue": "={{ $json.username }}"
                        },
                        {
                            "fieldId": "first_name",
                            "fieldValue": "={{ $json.first_name }}"
                        },
                        {
                            "fieldId": "last_name",
                            "fieldValue": "={{ $json.last_name }}"
                        },
                        {
                            "fieldId": "onboarding_stage",
                            "fieldValue": "started"
                        },
                        {
                            "fieldId": "language",
                            "fieldValue": "ru"
                        }
                    ]
                }
            },
            "name": "Create User",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1840,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "get-user-again",
            "parameters": {
                "operation": "getAll",
                "tableId": "users",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "telegram_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Check User').first().json.telegram_id }}"
                        }
                    ]
                }
            },
            "name": "Get User Again",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2040,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "prepare-new-user",
            "parameters": {
                "functionCode": "const messageData = $('Check User').first().json;\nconst userData = items[0].json;\nreturn [{\n  json: {\n    userExists: true,\n    user_id: userData.id,\n    first_name: userData.first_name || messageData.first_name,\n    onboarding_stage: userData.onboarding_stage || 'started',\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_id: messageData.message_id,\n    active_plan: null,\n    recent_trainings: []\n  }\n}];"
            },
            "name": "Prepare New User Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2240,
                400
            ]
        },
        {
            "id": "get-active-plan",
            "parameters": {
                "operation": "getAll",
                "tableId": "weekly_plans",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "user_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Check User').first().json.user_id }}"
                        },
                        {
                            "keyName": "status",
                            "condition": "eq",
                            "keyValue": "active"
                        }
                    ]
                },
                "options": {
                    "orderByColumn": "created_at",
                    "orderType": "desc"
                }
            },
            "name": "Get Active Plan",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1840,
                600
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "get-recent-trainings",
            "parameters": {
                "operation": "getAll",
                "tableId": "trainings",
                "returnAll": false,
                "limit": 10,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "user_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Check User').first().json.user_id }}"
                        }
                    ]
                },
                "options": {
                    "orderByColumn": "date",
                    "orderType": "desc"
                }
            },
            "name": "Get Recent Trainings",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2040,
                600
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "merge-context",
            "parameters": {
                "functionCode": "const checkUserData = $('Check User').first().json;\nconst planItems = $('Get Active Plan').all();\nconst trainingItems = items;\n\nlet activePlan = null;\nif (planItems.length > 0 && planItems[0].json && planItems[0].json.id) {\n  activePlan = planItems[0].json;\n}\n\nlet recentTrainings = [];\nif (trainingItems.length > 0) {\n  recentTrainings = trainingItems.map(t => t.json).filter(t => t && t.id);\n}\n\nreturn [{\n  json: {\n    ...checkUserData,\n    active_plan: activePlan,\n    recent_trainings: recentTrainings\n  }\n}];"
            },
            "name": "Merge Context",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2240,
                600
            ]
        },
        {
            "id": "merge-flows",
            "parameters": {
                "mode": "append",
                "options": {}
            },
            "name": "Merge User Flows",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                2440,
                500
            ]
        },
        {
            "id": "prepare-data",
            "parameters": {
                "functionCode": "const data = items[0].json;\nconst message = data.message_text;\nconst stage = data.onboarding_stage || 'started';\nconst firstName = data.first_name || '\u0434\u0440\u0443\u0433';\n\nlet systemPrompt = '';\nlet nextStage = stage;\nlet isPlanGeneration = false;\n\nconst JSON_FORMAT = '\u041e\u0442\u0432\u0435\u0442\u044c JSON: {\"extracted\": {...}, \"response\": \"\u0442\u0435\u043a\u0441\u0442\"}. \u041d\u0415 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439 * _ ` [ ]';\n\nconst formatPace = (sec) => {\n  if (!sec) return '\u043d/\u0434';\n  return Math.floor(sec/60) + ':' + (sec%60).toString().padStart(2,'0');\n};\n\n// \u041a\u043e\u043d\u0442\u0435\u043a\u0441\u0442 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043e\u043a\nlet trainingsContext = '';\nconst trainings = data.recent_trainings || [];\nif (trainings.length > 0) {\n  trainingsContext = '\\n\\n\u0423 \u041f\u041e\u041b\u042c\u0417\u041e\u0412\u0410\u0422\u0415\u041b\u042f \u0415\u0421\u0422\u042c ' + trainings.length + ' \u0417\u0410\u041f\u0418\u0421\u0410\u041d\u041d\u042b\u0425 \u0422\u0420\u0415\u041d\u0418\u0420\u041e\u0412\u041e\u041a:\\n';\n  trainings.slice(0, 10).forEach(t => {\n    trainingsContext += '\u2022 ' + t.date + ': ' + (t.distance_km || '?') + ' \u043a\u043c';\n    if (t.duration_seconds) trainingsContext += ', ' + Math.round(t.duration_seconds/60) + ' \u043c\u0438\u043d';\n    if (t.avg_pace_seconds) trainingsContext += ', \u0442\u0435\u043c\u043f ' + formatPace(t.avg_pace_seconds) + '/\u043a\u043c';\n    if (t.avg_heart_rate) trainingsContext += ', \u043f\u0443\u043b\u044c\u0441 ' + t.avg_heart_rate;\n    if (t.type) trainingsContext += ' (' + t.type + ')';\n    trainingsContext += '\\n';\n  });\n} else {\n  trainingsContext = '\\n\\n\u0422\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043e\u043a \u043f\u043e\u043a\u0430 \u043d\u0435 \u0437\u0430\u043f\u0438\u0441\u0430\u043d\u043e.\\n';\n}\n\n// \u041a\u043e\u043d\u0442\u0435\u043a\u0441\u0442 \u043f\u043b\u0430\u043d\u0430\nlet planContext = '';\nif (data.active_plan && data.active_plan.plan_data) {\n  try {\n    const pd = typeof data.active_plan.plan_data === 'string' ? JSON.parse(data.active_plan.plan_data) : data.active_plan.plan_data;\n    planContext = '\\n\u0410\u041a\u0422\u0418\u0412\u041d\u042b\u0419 \u041f\u041b\u0410\u041d: ' + (pd.raw_plan || '').substring(0, 500);\n  } catch(e) {}\n}\n\nif (stage !== 'completed') {\n  const prompts = {\n    'started': '\u041f\u0440\u0438\u0432\u0435\u0442\u0441\u0442\u0432\u0443\u0439 ' + firstName + '. \u041f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u044c\u0441\u044f AI-\u0442\u0440\u0435\u043d\u0435\u0440\u043e\u043c \u043f\u043e \u0431\u0435\u0433\u0443. \u0421\u043f\u0440\u043e\u0441\u0438 \u0443\u0440\u043e\u0432\u0435\u043d\u044c: \u043d\u043e\u0432\u0438\u0447\u043e\u043a/\u043b\u044e\u0431\u0438\u0442\u0435\u043b\u044c/\u043f\u0440\u043e\u0434\u0432\u0438\u043d\u0443\u0442\u044b\u0439. ' + JSON_FORMAT,\n    'profile': '\u041e\u043f\u0440\u0435\u0434\u0435\u043b\u0438 level: beginner/intermediate/advanced. \u0421\u043f\u0440\u043e\u0441\u0438 \u0432\u043e\u0437\u0440\u0430\u0441\u0442. ' + JSON_FORMAT + ' extracted: {level: ...}',\n    'physical': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 age. \u0421\u043f\u0440\u043e\u0441\u0438 \u0440\u043e\u0441\u0442 \u0438 \u0432\u0435\u0441. ' + JSON_FORMAT + ' extracted: {age: \u0447\u0438\u0441\u043b\u043e}',\n    'heart_rate': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 height_cm, weight_kg. \u0421\u043f\u0440\u043e\u0441\u0438 \u043f\u0443\u043b\u044c\u0441 \u043f\u043e\u043a\u043e\u044f. ' + JSON_FORMAT + ' extracted: {height_cm, weight_kg}',\n    'running_info': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 resting_hr. \u0421\u043f\u0440\u043e\u0441\u0438 \u0442\u0435\u043c\u043f \u043d\u0430 5\u043a\u043c. ' + JSON_FORMAT + ' extracted: {resting_hr}',\n    'lab_testing': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 current_5k_pace_seconds (\u0442\u0435\u043c\u043f \u0432 \u0441\u0435\u043a/\u043a\u043c). \u0421\u043f\u0440\u043e\u0441\u0438 \u043f\u0440\u043e VO2max \u0442\u0435\u0441\u0442. ' + JSON_FORMAT + ' extracted: {current_5k_pace_seconds}',\n    'training_freq': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 has_lab_testing. \u0421\u043f\u0440\u043e\u0441\u0438 \u0434\u043d\u0435\u0439 \u0432 \u043d\u0435\u0434\u0435\u043b\u044e (3-6). ' + JSON_FORMAT + ' extracted: {has_lab_testing, vo2max?, lthr?}',\n    'race_details': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 weekly_runs. \u0421\u043f\u0440\u043e\u0441\u0438 \u0434\u0438\u0441\u0442\u0430\u043d\u0446\u0438\u044e \u0437\u0430\u0431\u0435\u0433\u0430, \u0434\u0430\u0442\u0443, \u0446\u0435\u043b\u044c. ' + JSON_FORMAT + ' extracted: {weekly_runs}',\n    'strategy_preview': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 race_distance (5k/10k/half/marathon), race_date (YYYY-MM-DD), target_time_seconds. \u0421\u0433\u0435\u043d\u0435\u0440\u0438\u0440\u0443\u0439 \u0441\u0442\u0440\u0430\u0442\u0435\u0433\u0438\u044e. ' + JSON_FORMAT + ' extracted: {race_distance, race_date, strategy_generated: true}'\n  };\n  systemPrompt = prompts[stage] || prompts['started'];\n  const nextStages = {started:'profile', profile:'physical', physical:'heart_rate', heart_rate:'running_info', running_info:'lab_testing', lab_testing:'training_freq', training_freq:'race_details', race_details:'strategy_preview', strategy_preview:'completed'};\n  nextStage = nextStages[stage] || stage;\n} else {\n  if (/\u043f\u043b\u0430\u043d|\u0441\u043e\u0441\u0442\u0430\u0432|\u0434\u0430\u0432\u0430\u0439|\u043d\u0430\u0447\u043d|\u0433\u043e\u0442\u043e\u0432|\u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a|\u043d\u0435\u0434\u0435\u043b/i.test(message)) {\n    isPlanGeneration = true;\n    systemPrompt = 'AI-\u0442\u0440\u0435\u043d\u0435\u0440 \u0434\u043b\u044f ' + firstName + '. \u0421\u043e\u0441\u0442\u0430\u0432\u044c \u043f\u043b\u0430\u043d \u043d\u0430 \u043d\u0435\u0434\u0435\u043b\u044e (' + (data.weekly_runs || 3) + ' \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043e\u043a).' + trainingsContext + planContext + ' ' + JSON_FORMAT + ' extracted: {plan_generated: true, total_km: \u0447\u0438\u0441\u043b\u043e}';\n  } else {\n    systemPrompt = '\u0422\u044b AI-\u0442\u0440\u0435\u043d\u0435\u0440 \u043f\u043e \u0431\u0435\u0433\u0443 \u0434\u043b\u044f ' + firstName + '. \u041d\u0415 \u0437\u0434\u043e\u0440\u043e\u0432\u0430\u0439\u0441\u044f.' + trainingsContext + planContext + '\\n\\n\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0441\u043f\u0440\u0430\u0448\u0438\u0432\u0430\u0435\u0442: \"' + message + '\"\\n\\n\u041f\u0420\u0410\u0412\u0418\u041b\u0410 \u041e\u0422\u0412\u0415\u0422\u0410:\\n1. \u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439 \u0414\u0410\u041d\u041d\u042b\u0415 \u0422\u0420\u0415\u041d\u0418\u0420\u041e\u0412\u041e\u041a \u0432\u044b\u0448\u0435 \u0434\u043b\u044f \u043e\u0442\u0432\u0435\u0442\u0430\\n2. \u0415\u0441\u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0441\u043f\u0440\u0430\u0448\u0438\u0432\u0430\u0435\u0442 \"\u043a\u0430\u043a \u043f\u043e\u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u0430\u043b\u0441\u044f\" \u2014 \u0440\u0430\u0441\u0441\u043a\u0430\u0436\u0438 \u043e \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0439 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0435 \u0438\u0437 \u0441\u043f\u0438\u0441\u043a\u0430\\n3. \u0411\u0443\u0434\u044c \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u044b\u043c: \u0443\u043a\u0430\u0437\u044b\u0432\u0430\u0439 \u0446\u0438\u0444\u0440\u044b \u0438\u0437 \u0434\u0430\u043d\u043d\u044b\u0445\\n4. \u0414\u0430\u0439 \u043a\u0440\u0430\u0442\u043a\u0443\u044e \u043e\u0446\u0435\u043d\u043a\u0443 \u0438 \u0441\u043e\u0432\u0435\u0442 \u043a\u0430\u043a \u0442\u0440\u0435\u043d\u0435\u0440\\n\\n' + JSON_FORMAT;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_text: message,\n    message_id: data.message_id,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    is_plan_generation: isPlanGeneration,\n    weekly_runs: data.weekly_runs\n  }\n}];"
            },
            "name": "Prepare Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2640,
                500
            ]
        },
        {
            "id": "call-openai",
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
            },
            "name": "Call OpenAI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2840,
                500
            ],
            "credentials": {
                "openAiApi": {
                    "id": "koikxNcf4ds6vKgZ",
                    "name": "OpenAI - Running Coach"
                }
            }
        },
        {
            "id": "extract-response",
            "parameters": {
                "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\nconst aiContent = response.choices[0].message.content;\n\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {}\n\nresponseText = responseText.replace(/\\*/g, '\u2022').replace(/_/g, ' ').replace(/`/g, \"'\").replace(/\\[/g, '(').replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    is_plan_generation: prepareData.is_plan_generation,\n    weekly_runs: prepareData.weekly_runs\n  }\n}];"
            },
            "name": "Extract Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                3040,
                500
            ]
        },
        {
            "id": "send-telegram",
            "parameters": {
                "operation": "sendMessage",
                "chatId": "={{ $json.chat_id.toString() }}",
                "text": "={{ $json.response_text }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                3240,
                500
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "is-onboarding",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.onboarding_stage }}",
                            "rightValue": "completed",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Onboarding?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3440,
                500
            ]
        },
        {
            "id": "build-update",
            "parameters": {
                "functionCode": "const data = items[0].json;\nconst ext = data.extracted_data || {};\nconst updateFields = {};\nlet nextStage = data.next_stage;\n\nif (data.onboarding_stage === 'started') updateFields.goal = 'race';\nif (data.onboarding_stage === 'strategy_preview' && ext.strategy_generated) nextStage = 'completed';\nif (nextStage && nextStage !== data.onboarding_stage) updateFields.onboarding_stage = nextStage;\n\n['level','age','height_cm','weight_kg','current_5k_pace_seconds','weekly_runs','race_distance','race_date','target_time_seconds','resting_hr','max_hr','has_lab_testing','vo2max','lthr'].forEach(k => { if (ext[k] !== undefined) updateFields[k] = ext[k]; });\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0\n  }\n}];"
            },
            "name": "Build Update Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                3640,
                400
            ]
        },
        {
            "id": "has-updates",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.has_updates }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Has Updates?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3840,
                400
            ]
        },
        {
            "id": "update-user",
            "parameters": {
                "operation": "update",
                "tableId": "users",
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.user_id }}"
                        }
                    ]
                },
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "onboarding_stage",
                            "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
                        },
                        {
                            "fieldId": "level",
                            "fieldValue": "={{ $json.update_fields.level }}"
                        },
                        {
                            "fieldId": "age",
                            "fieldValue": "={{ $json.update_fields.age }}"
                        },
                        {
                            "fieldId": "weekly_runs",
                            "fieldValue": "={{ $json.update_fields.weekly_runs }}"
                        },
                        {
                            "fieldId": "race_date",
                            "fieldValue": "={{ $json.update_fields.race_date }}"
                        },
                        {
                            "fieldId": "race_distance",
                            "fieldValue": "={{ $json.update_fields.race_distance }}"
                        },
                        {
                            "fieldId": "resting_hr",
                            "fieldValue": "={{ $json.update_fields.resting_hr }}"
                        }
                    ]
                }
            },
            "name": "Update User Profile",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                4040,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "is-plan-gen",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $('Extract Response').first().json.is_plan_generation }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Plan Generation?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3640,
                600
            ]
        },
        {
            "id": "save-plan",
            "parameters": {
                "operation": "create",
                "tableId": "weekly_plans",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "user_id",
                            "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
                        },
                        {
                            "fieldId": "week_start",
                            "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                        },
                        {
                            "fieldId": "plan_data",
                            "fieldValue": "={{ JSON.stringify({raw_plan: $('Extract Response').first().json.response_text}) }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "active"
                        }
                    ]
                }
            },
            "name": "Save Plan",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                3840,
                600
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "download-photo-telegram",
            "parameters": {
                "resource": "file",
                "operation": "get",
                "fileId": "={{ $(\"Check User\").first().json.photo_file_id }}",
                "download": true
            },
            "name": "Download Photo",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1640,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "move-binary-to-json",
            "parameters": {
                "mode": "binaryToJson",
                "setAllData": false,
                "sourceKey": "data",
                "destinationKey": "base64_image",
                "options": {
                    "keepAsBase64": true
                }
            },
            "name": "Binary to Base64",
            "type": "n8n-nodes-base.moveBinaryData",
            "typeVersion": 1,
            "position": [
                1840,
                200
            ]
        },
        {
            "id": "prepare-vision-data",
            "parameters": {
                "functionCode": "const checkUserData = $(\"Check User\").first().json;\nconst base64Data = items[0].json.base64_image;\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id,\n    base64_image: base64Data,\n    mime_type: \"image/jpeg\"\n  }\n}];"
            },
            "name": "Prepare Vision Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2040,
                200
            ]
        },
        {
            "id": "call-gpt4o-vision",
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"\u0420\u0430\u0441\u043f\u043e\u0437\u043d\u0430\u0439 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0443 \u0441 \u0444\u043e\u0442\u043e. \u0412\u0435\u0440\u043d\u0438 JSON: {\\\"recognized\\\": true/false, \\\"data\\\": {\\\"distance_km\\\": \u0447\u0438\u0441\u043b\u043e, \\\"duration_seconds\\\": \u0447\u0438\u0441\u043b\u043e, \\\"avg_pace_seconds\\\": \u0447\u0438\u0441\u043b\u043e, \\\"avg_heart_rate\\\": \u0447\u0438\u0441\u043b\u043e \u0438\u043b\u0438 null, \\\"type\\\": \\\"easy_run\\\"/\\\"tempo\\\"/\\\"intervals\\\"}, \\\"response\\\": \\\"\u0442\u0435\u043a\u0441\u0442\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mime_type }};base64,{{ $json.base64_image }}\"\n          }\n        },\n        {\n          \"type\": \"text\", \n          \"text\": \"\u0420\u0430\u0441\u043f\u043e\u0437\u043d\u0430\u0439 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0443\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
            },
            "name": "GPT-4o Vision",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2240,
                200
            ],
            "credentials": {
                "openAiApi": {
                    "id": "koikxNcf4ds6vKgZ",
                    "name": "OpenAI - Running Coach"
                }
            }
        }
    ],
    "connections": {
        "TelegramTrigger": {
            "main": [
                [
                    {
                        "node": "Extract Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message": {
            "main": [
                [
                    {
                        "node": "Get User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User": {
            "main": [
                [
                    {
                        "node": "Check User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check User": {
            "main": [
                [
                    {
                        "node": "Show Typing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Show Typing": {
            "main": [
                [
                    {
                        "node": "Route After Typing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route After Typing": {
            "main": [
                [
                    {
                        "node": "Is Photo?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Photo?": {
            "main": [
                [
                    {
                        "node": "Download Photo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "User Not Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT-4o Vision": {
            "main": [
                [
                    {
                        "node": "Parse Vision Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Vision Response": {
            "main": [
                [
                    {
                        "node": "Training Recognized?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Training Recognized?": {
            "main": [
                [
                    {
                        "node": "Save Photo Training",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Not Recognized",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Photo Training": {
            "main": [
                [
                    {
                        "node": "Format Photo Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Photo Response": {
            "main": [
                [
                    {
                        "node": "Send Photo Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "User Not Found?": {
            "main": [
                [
                    {
                        "node": "Create User",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Active Plan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create User": {
            "main": [
                [
                    {
                        "node": "Get User Again",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User Again": {
            "main": [
                [
                    {
                        "node": "Prepare New User Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare New User Data": {
            "main": [
                [
                    {
                        "node": "Merge User Flows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Active Plan": {
            "main": [
                [
                    {
                        "node": "Get Recent Trainings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Recent Trainings": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Context": {
            "main": [
                [
                    {
                        "node": "Merge User Flows",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge User Flows": {
            "main": [
                [
                    {
                        "node": "Prepare Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Data": {
            "main": [
                [
                    {
                        "node": "Call OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call OpenAI": {
            "main": [
                [
                    {
                        "node": "Extract Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Response": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram": {
            "main": [
                [
                    {
                        "node": "Is Onboarding?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Is Plan Generation?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Onboarding?": {
            "main": [
                [
                    {
                        "node": "Build Update Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Build Update Data": {
            "main": [
                [
                    {
                        "node": "Has Updates?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Updates?": {
            "main": [
                [
                    {
                        "node": "Update User Profile",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Is Plan Generation?": {
            "main": [
                [
                    {
                        "node": "Save Plan",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Download Photo": {
            "main": [
                [
                    {
                        "node": "Binary to Base64",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Binary to Base64": {
            "main": [
                [
                    {
                        "node": "Prepare Vision Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Vision Data": {
            "main": [
                [
                    {
                        "node": "GPT-4o Vision",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
    "activeVersionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
    "versionCounter": 67,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-03T14:16:53.371Z",
            "createdAt": "2026-02-03T14:16:53.371Z",
            "role": "workflow:owner",
            "workflowId": "7Ar459SadzSXgUEv",
            "projectId": "jjRGAgVN0Om9gEix",
            "project": {
                "updatedAt": "2025-11-17T04:59:06.055Z",
                "createdAt": "2025-11-14T08:46:34.197Z",
                "id": "jjRGAgVN0Om9gEix",
                "name": "Nikita Kuznetsov <knu@skbkontur.ru>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "70308841-4ee1-48e9-854d-73f215836be6",
                "projectRelations": [
                    {
                        "updatedAt": "2025-11-14T08:46:34.197Z",
                        "createdAt": "2025-11-14T08:46:34.197Z",
                        "userId": "70308841-4ee1-48e9-854d-73f215836be6",
                        "projectId": "jjRGAgVN0Om9gEix",
                        "user": {
                            "updatedAt": "2026-02-06T23:26:54.198Z",
                            "createdAt": "2025-11-14T08:46:34.197Z",
                            "id": "70308841-4ee1-48e9-854d-73f215836be6",
                            "email": "knu@skbkontur.ru",
                            "firstName": "Nikita",
                            "lastName": "Kuznetsov",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-11-17T04:59:14.713Z",
                                "personalization_survey_n8n_version": "1.117.3"
                            },
                            "settings": {
                                "firstSuccessfulWorkflowId": "OElc53ji11bXjJWq",
                                "userActivated": true,
                                "userActivatedAt": 1769961636692
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-06",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-06T23:32:39.653Z",
        "createdAt": "2026-02-06T23:32:39.653Z",
        "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
        "workflowId": "7Ar459SadzSXgUEv",
        "nodes": [
            {
                "id": "telegram-trigger",
                "parameters": {
                    "updates": [
                        "message"
                    ],
                    "additionalFields": {}
                },
                "name": "TelegramTrigger",
                "type": "n8n-nodes-base.telegramTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    400
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "extract-message",
                "parameters": {
                    "functionCode": "const msg = items[0].json.message;\n\n// \u041e\u043f\u0440\u0435\u0434\u0435\u043b\u044f\u0435\u043c \u0442\u0438\u043f \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f\nlet messageType = 'text';\nlet photoFileId = null;\nlet photoCaption = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  messageType = 'photo';\n  // \u0411\u0435\u0440\u0451\u043c \u0444\u043e\u0442\u043e \u043c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0433\u043e \u0440\u0430\u0437\u043c\u0435\u0440\u0430 (\u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0435 \u0432 \u043c\u0430\u0441\u0441\u0438\u0432\u0435)\n  photoFileId = msg.photo[msg.photo.length - 1].file_id;\n  photoCaption = msg.caption || '';\n}\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || '\u0414\u0440\u0443\u0433',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || photoCaption || '',\n    message_id: msg.message_id,\n    message_type: messageType,\n    photo_file_id: photoFileId\n  }\n}];"
                },
                "name": "Extract Message",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    440,
                    400
                ]
            },
            {
                "id": "get-user",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "users",
                    "returnAll": false,
                    "limit": 1,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "telegram_id",
                                "condition": "eq",
                                "keyValue": "={{ $json.telegram_id }}"
                            }
                        ]
                    }
                },
                "name": "Get User",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    640,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "check-user",
                "parameters": {
                    "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      race_date: userData.race_date,\n      race_distance: userData.race_distance,\n      target_time_seconds: userData.target_time_seconds,\n      resting_hr: userData.resting_hr,\n      max_hr: userData.max_hr,\n      has_lab_testing: userData.has_lab_testing,\n      vo2max: userData.vo2max,\n      lthr: userData.lthr,\n      hr_zone1_max: userData.hr_zone1_max,\n      hr_zone2_max: userData.hr_zone2_max,\n      hr_zone3_max: userData.hr_zone3_max,\n      hr_zone4_max: userData.hr_zone4_max,\n      hr_zone5_max: userData.hr_zone5_max,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n}"
                },
                "name": "Check User",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    840,
                    400
                ]
            },
            {
                "id": "show-typing",
                "parameters": {
                    "operation": "sendChatAction",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "action": "typing"
                },
                "name": "Show Typing",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    1040,
                    400
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "route-after-typing",
                "parameters": {
                    "functionCode": "const data = $('Check User').first().json;\nreturn [{json: data}];"
                },
                "name": "Route After Typing",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    1240,
                    400
                ]
            },
            {
                "id": "is-photo",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "photo-check",
                                "leftValue": "={{ $json.message_type }}",
                                "rightValue": "photo",
                                "operator": {
                                    "type": "string",
                                    "operation": "equals"
                                }
                            },
                            {
                                "id": "completed-check",
                                "leftValue": "={{ $json.onboarding_stage }}",
                                "rightValue": "completed",
                                "operator": {
                                    "type": "string",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Is Photo?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    1440,
                    400
                ]
            },
            {
                "id": "parse-vision-response",
                "parameters": {
                    "functionCode": "const checkUserData = $('Check User').first().json;\nconst visionResponse = items[0].json;\nconst aiContent = visionResponse.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiContent);\n} catch (e) {\n  parsed = {\n    recognized: false,\n    response: '\u041e\u0448\u0438\u0431\u043a\u0430 \u043f\u0440\u0438 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0435 \u0444\u043e\u0442\u043e. \u041f\u043e\u043f\u0440\u043e\u0431\u0443\u0439 \u0435\u0449\u0451 \u0440\u0430\u0437 \u0438\u043b\u0438 \u043d\u0430\u043f\u0438\u0448\u0438 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442 \u0442\u0435\u043a\u0441\u0442\u043e\u043c.'\n  };\n}\n\n// \u041e\u0447\u0438\u0449\u0430\u0435\u043c \u0442\u0435\u043a\u0441\u0442 \u0434\u043b\u044f Telegram\nlet responseText = parsed.response || '\u0424\u043e\u0442\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d\u043e';\nresponseText = responseText\n  .replace(/\\*/g, '\u2022')\n  .replace(/_/g, ' ')\n  .replace(/`/g, \"'\")\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_id: checkUserData.message_id,\n    recognized: parsed.recognized || false,\n    confidence: parsed.confidence || 'low',\n    training_data: parsed.data || null,\n    source_app: parsed.source_app || null,\n    response_text: responseText,\n    is_photo_training: true\n  }\n}];"
                },
                "name": "Parse Vision Response",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2240,
                    200
                ]
            },
            {
                "id": "is-training-recognized",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "recognized-check",
                                "leftValue": "={{ $json.recognized }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Training Recognized?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    2440,
                    200
                ]
            },
            {
                "id": "save-photo-training",
                "parameters": {
                    "operation": "create",
                    "tableId": "trainings",
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "user_id",
                                "fieldValue": "={{ $json.user_id }}"
                            },
                            {
                                "fieldId": "date",
                                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                            },
                            {
                                "fieldId": "day_of_week",
                                "fieldValue": "={{ $now.format('EEEE').toLowerCase() }}"
                            },
                            {
                                "fieldId": "type",
                                "fieldValue": "={{ $json.training_data.type || 'easy_run' }}"
                            },
                            {
                                "fieldId": "distance_km",
                                "fieldValue": "={{ $json.training_data.distance_km }}"
                            },
                            {
                                "fieldId": "duration_seconds",
                                "fieldValue": "={{ $json.training_data.duration_seconds }}"
                            },
                            {
                                "fieldId": "avg_pace_seconds",
                                "fieldValue": "={{ $json.training_data.avg_pace_seconds }}"
                            },
                            {
                                "fieldId": "avg_heart_rate",
                                "fieldValue": "={{ $json.training_data.avg_heart_rate }}"
                            },
                            {
                                "fieldId": "max_heart_rate",
                                "fieldValue": "={{ $json.training_data.max_heart_rate }}"
                            },
                            {
                                "fieldId": "calories",
                                "fieldValue": "={{ $json.training_data.calories }}"
                            },
                            {
                                "fieldId": "elevation_gain_m",
                                "fieldValue": "={{ $json.training_data.elevation_gain_m }}"
                            },
                            {
                                "fieldId": "source",
                                "fieldValue": "screenshot"
                            },
                            {
                                "fieldId": "is_planned",
                                "fieldValue": "={{ false }}"
                            }
                        ]
                    }
                },
                "name": "Save Photo Training",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    2640,
                    100
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "format-photo-response",
                "parameters": {
                    "functionCode": "const parseData = $('Parse Vision Response').first().json;\nconst td = parseData.training_data || {};\n\nconst formatPace = (s) => {\n  if (!s) return '\u043d/\u0434';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = '\ud83d\udcdd \u0422\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0430 \u0437\u0430\u043f\u0438\u0441\u0430\u043d\u0430!\\n\\n';\ntext += '\u2022 \u0414\u0438\u0441\u0442\u0430\u043d\u0446\u0438\u044f: ' + (td.distance_km || '\u043d/\u0434') + ' \u043a\u043c\\n';\ntext += '\u2022 \u0412\u0440\u0435\u043c\u044f: ' + (td.duration_seconds ? Math.floor(td.duration_seconds/60) + ' \u043c\u0438\u043d' : '\u043d/\u0434') + '\\n';\ntext += '\u2022 \u0422\u0435\u043c\u043f: ' + formatPace(td.avg_pace_seconds) + '/\u043a\u043c\\n';\nif (td.avg_heart_rate) text += '\u2022 \u041f\u0443\u043b\u044c\u0441: ' + td.avg_heart_rate + ' \u0443\u0434/\u043c\u0438\u043d\\n';\nif (td.calories) text += '\u2022 \u041a\u0430\u043b\u043e\u0440\u0438\u0438: ' + td.calories + '\\n';\nif (td.elevation_gain_m) text += '\u2022 \u041d\u0430\u0431\u043e\u0440 \u0432\u044b\u0441\u043e\u0442\u044b: ' + td.elevation_gain_m + ' \u043c\\n';\ntext += '\\n\ud83d\udcaa \u041e\u0442\u043b\u0438\u0447\u043d\u0430\u044f \u0440\u0430\u0431\u043e\u0442\u0430!';\n\nreturn [{\n  json: {\n    chat_id: parseData.chat_id,\n    response_text: text\n  }\n}];"
                },
                "name": "Format Photo Response",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2840,
                    100
                ]
            },
            {
                "id": "send-photo-response",
                "parameters": {
                    "operation": "sendMessage",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "text": "={{ $json.response_text }}",
                    "additionalFields": {
                        "appendAttribution": false
                    }
                },
                "name": "Send Photo Response",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    3040,
                    100
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "send-not-recognized",
                "parameters": {
                    "operation": "sendMessage",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "text": "={{ $json.response_text }}",
                    "additionalFields": {
                        "appendAttribution": false
                    }
                },
                "name": "Send Not Recognized",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    2640,
                    300
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "user-not-found",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $json.userExists }}",
                                "rightValue": false,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "User Not Found?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    1640,
                    500
                ]
            },
            {
                "id": "create-user",
                "parameters": {
                    "operation": "create",
                    "tableId": "users",
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "telegram_id",
                                "fieldValue": "={{ $json.telegram_id }}"
                            },
                            {
                                "fieldId": "username",
                                "fieldValue": "={{ $json.username }}"
                            },
                            {
                                "fieldId": "first_name",
                                "fieldValue": "={{ $json.first_name }}"
                            },
                            {
                                "fieldId": "last_name",
                                "fieldValue": "={{ $json.last_name }}"
                            },
                            {
                                "fieldId": "onboarding_stage",
                                "fieldValue": "started"
                            },
                            {
                                "fieldId": "language",
                                "fieldValue": "ru"
                            }
                        ]
                    }
                },
                "name": "Create User",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    1840,
                    400
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "get-user-again",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "users",
                    "returnAll": false,
                    "limit": 1,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "telegram_id",
                                "condition": "eq",
                                "keyValue": "={{ $('Check User').first().json.telegram_id }}"
                            }
                        ]
                    }
                },
                "name": "Get User Again",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    2040,
                    400
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "prepare-new-user",
                "parameters": {
                    "functionCode": "const messageData = $('Check User').first().json;\nconst userData = items[0].json;\nreturn [{\n  json: {\n    userExists: true,\n    user_id: userData.id,\n    first_name: userData.first_name || messageData.first_name,\n    onboarding_stage: userData.onboarding_stage || 'started',\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_id: messageData.message_id,\n    active_plan: null,\n    recent_trainings: []\n  }\n}];"
                },
                "name": "Prepare New User Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2240,
                    400
                ]
            },
            {
                "id": "get-active-plan",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "weekly_plans",
                    "returnAll": false,
                    "limit": 1,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "user_id",
                                "condition": "eq",
                                "keyValue": "={{ $('Check User').first().json.user_id }}"
                            },
                            {
                                "keyName": "status",
                                "condition": "eq",
                                "keyValue": "active"
                            }
                        ]
                    },
                    "options": {
                        "orderByColumn": "created_at",
                        "orderType": "desc"
                    }
                },
                "name": "Get Active Plan",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    1840,
                    600
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "get-recent-trainings",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "trainings",
                    "returnAll": false,
                    "limit": 10,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "user_id",
                                "condition": "eq",
                                "keyValue": "={{ $('Check User').first().json.user_id }}"
                            }
                        ]
                    },
                    "options": {
                        "orderByColumn": "date",
                        "orderType": "desc"
                    }
                },
                "name": "Get Recent Trainings",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    2040,
                    600
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "merge-context",
                "parameters": {
                    "functionCode": "const checkUserData = $('Check User').first().json;\nconst planItems = $('Get Active Plan').all();\nconst trainingItems = items;\n\nlet activePlan = null;\nif (planItems.length > 0 && planItems[0].json && planItems[0].json.id) {\n  activePlan = planItems[0].json;\n}\n\nlet recentTrainings = [];\nif (trainingItems.length > 0) {\n  recentTrainings = trainingItems.map(t => t.json).filter(t => t && t.id);\n}\n\nreturn [{\n  json: {\n    ...checkUserData,\n    active_plan: activePlan,\n    recent_trainings: recentTrainings\n  }\n}];"
                },
                "name": "Merge Context",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2240,
                    600
                ]
            },
            {
                "id": "merge-flows",
                "parameters": {
                    "mode": "append",
                    "options": {}
                },
                "name": "Merge User Flows",
                "type": "n8n-nodes-base.merge",
                "typeVersion": 3,
                "position": [
                    2440,
                    500
                ]
            },
            {
                "id": "prepare-data",
                "parameters": {
                    "functionCode": "const data = items[0].json;\nconst message = data.message_text;\nconst stage = data.onboarding_stage || 'started';\nconst firstName = data.first_name || '\u0434\u0440\u0443\u0433';\n\nlet systemPrompt = '';\nlet nextStage = stage;\nlet isPlanGeneration = false;\n\nconst JSON_FORMAT = '\u041e\u0442\u0432\u0435\u0442\u044c JSON: {\"extracted\": {...}, \"response\": \"\u0442\u0435\u043a\u0441\u0442\"}. \u041d\u0415 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439 * _ ` [ ]';\n\nconst formatPace = (sec) => {\n  if (!sec) return '\u043d/\u0434';\n  return Math.floor(sec/60) + ':' + (sec%60).toString().padStart(2,'0');\n};\n\n// \u041a\u043e\u043d\u0442\u0435\u043a\u0441\u0442 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043e\u043a\nlet trainingsContext = '';\nconst trainings = data.recent_trainings || [];\nif (trainings.length > 0) {\n  trainingsContext = '\\n\\n\u0423 \u041f\u041e\u041b\u042c\u0417\u041e\u0412\u0410\u0422\u0415\u041b\u042f \u0415\u0421\u0422\u042c ' + trainings.length + ' \u0417\u0410\u041f\u0418\u0421\u0410\u041d\u041d\u042b\u0425 \u0422\u0420\u0415\u041d\u0418\u0420\u041e\u0412\u041e\u041a:\\n';\n  trainings.slice(0, 10).forEach(t => {\n    trainingsContext += '\u2022 ' + t.date + ': ' + (t.distance_km || '?') + ' \u043a\u043c';\n    if (t.duration_seconds) trainingsContext += ', ' + Math.round(t.duration_seconds/60) + ' \u043c\u0438\u043d';\n    if (t.avg_pace_seconds) trainingsContext += ', \u0442\u0435\u043c\u043f ' + formatPace(t.avg_pace_seconds) + '/\u043a\u043c';\n    if (t.avg_heart_rate) trainingsContext += ', \u043f\u0443\u043b\u044c\u0441 ' + t.avg_heart_rate;\n    if (t.type) trainingsContext += ' (' + t.type + ')';\n    trainingsContext += '\\n';\n  });\n} else {\n  trainingsContext = '\\n\\n\u0422\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043e\u043a \u043f\u043e\u043a\u0430 \u043d\u0435 \u0437\u0430\u043f\u0438\u0441\u0430\u043d\u043e.\\n';\n}\n\n// \u041a\u043e\u043d\u0442\u0435\u043a\u0441\u0442 \u043f\u043b\u0430\u043d\u0430\nlet planContext = '';\nif (data.active_plan && data.active_plan.plan_data) {\n  try {\n    const pd = typeof data.active_plan.plan_data === 'string' ? JSON.parse(data.active_plan.plan_data) : data.active_plan.plan_data;\n    planContext = '\\n\u0410\u041a\u0422\u0418\u0412\u041d\u042b\u0419 \u041f\u041b\u0410\u041d: ' + (pd.raw_plan || '').substring(0, 500);\n  } catch(e) {}\n}\n\nif (stage !== 'completed') {\n  const prompts = {\n    'started': '\u041f\u0440\u0438\u0432\u0435\u0442\u0441\u0442\u0432\u0443\u0439 ' + firstName + '. \u041f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u044c\u0441\u044f AI-\u0442\u0440\u0435\u043d\u0435\u0440\u043e\u043c \u043f\u043e \u0431\u0435\u0433\u0443. \u0421\u043f\u0440\u043e\u0441\u0438 \u0443\u0440\u043e\u0432\u0435\u043d\u044c: \u043d\u043e\u0432\u0438\u0447\u043e\u043a/\u043b\u044e\u0431\u0438\u0442\u0435\u043b\u044c/\u043f\u0440\u043e\u0434\u0432\u0438\u043d\u0443\u0442\u044b\u0439. ' + JSON_FORMAT,\n    'profile': '\u041e\u043f\u0440\u0435\u0434\u0435\u043b\u0438 level: beginner/intermediate/advanced. \u0421\u043f\u0440\u043e\u0441\u0438 \u0432\u043e\u0437\u0440\u0430\u0441\u0442. ' + JSON_FORMAT + ' extracted: {level: ...}',\n    'physical': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 age. \u0421\u043f\u0440\u043e\u0441\u0438 \u0440\u043e\u0441\u0442 \u0438 \u0432\u0435\u0441. ' + JSON_FORMAT + ' extracted: {age: \u0447\u0438\u0441\u043b\u043e}',\n    'heart_rate': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 height_cm, weight_kg. \u0421\u043f\u0440\u043e\u0441\u0438 \u043f\u0443\u043b\u044c\u0441 \u043f\u043e\u043a\u043e\u044f. ' + JSON_FORMAT + ' extracted: {height_cm, weight_kg}',\n    'running_info': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 resting_hr. \u0421\u043f\u0440\u043e\u0441\u0438 \u0442\u0435\u043c\u043f \u043d\u0430 5\u043a\u043c. ' + JSON_FORMAT + ' extracted: {resting_hr}',\n    'lab_testing': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 current_5k_pace_seconds (\u0442\u0435\u043c\u043f \u0432 \u0441\u0435\u043a/\u043a\u043c). \u0421\u043f\u0440\u043e\u0441\u0438 \u043f\u0440\u043e VO2max \u0442\u0435\u0441\u0442. ' + JSON_FORMAT + ' extracted: {current_5k_pace_seconds}',\n    'training_freq': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 has_lab_testing. \u0421\u043f\u0440\u043e\u0441\u0438 \u0434\u043d\u0435\u0439 \u0432 \u043d\u0435\u0434\u0435\u043b\u044e (3-6). ' + JSON_FORMAT + ' extracted: {has_lab_testing, vo2max?, lthr?}',\n    'race_details': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 weekly_runs. \u0421\u043f\u0440\u043e\u0441\u0438 \u0434\u0438\u0441\u0442\u0430\u043d\u0446\u0438\u044e \u0437\u0430\u0431\u0435\u0433\u0430, \u0434\u0430\u0442\u0443, \u0446\u0435\u043b\u044c. ' + JSON_FORMAT + ' extracted: {weekly_runs}',\n    'strategy_preview': '\u0418\u0437\u0432\u043b\u0435\u043a\u0438 race_distance (5k/10k/half/marathon), race_date (YYYY-MM-DD), target_time_seconds. \u0421\u0433\u0435\u043d\u0435\u0440\u0438\u0440\u0443\u0439 \u0441\u0442\u0440\u0430\u0442\u0435\u0433\u0438\u044e. ' + JSON_FORMAT + ' extracted: {race_distance, race_date, strategy_generated: true}'\n  };\n  systemPrompt = prompts[stage] || prompts['started'];\n  const nextStages = {started:'profile', profile:'physical', physical:'heart_rate', heart_rate:'running_info', running_info:'lab_testing', lab_testing:'training_freq', training_freq:'race_details', race_details:'strategy_preview', strategy_preview:'completed'};\n  nextStage = nextStages[stage] || stage;\n} else {\n  if (/\u043f\u043b\u0430\u043d|\u0441\u043e\u0441\u0442\u0430\u0432|\u0434\u0430\u0432\u0430\u0439|\u043d\u0430\u0447\u043d|\u0433\u043e\u0442\u043e\u0432|\u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a|\u043d\u0435\u0434\u0435\u043b/i.test(message)) {\n    isPlanGeneration = true;\n    systemPrompt = 'AI-\u0442\u0440\u0435\u043d\u0435\u0440 \u0434\u043b\u044f ' + firstName + '. \u0421\u043e\u0441\u0442\u0430\u0432\u044c \u043f\u043b\u0430\u043d \u043d\u0430 \u043d\u0435\u0434\u0435\u043b\u044e (' + (data.weekly_runs || 3) + ' \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043e\u043a).' + trainingsContext + planContext + ' ' + JSON_FORMAT + ' extracted: {plan_generated: true, total_km: \u0447\u0438\u0441\u043b\u043e}';\n  } else {\n    systemPrompt = '\u0422\u044b AI-\u0442\u0440\u0435\u043d\u0435\u0440 \u043f\u043e \u0431\u0435\u0433\u0443 \u0434\u043b\u044f ' + firstName + '. \u041d\u0415 \u0437\u0434\u043e\u0440\u043e\u0432\u0430\u0439\u0441\u044f.' + trainingsContext + planContext + '\\n\\n\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0441\u043f\u0440\u0430\u0448\u0438\u0432\u0430\u0435\u0442: \"' + message + '\"\\n\\n\u041f\u0420\u0410\u0412\u0418\u041b\u0410 \u041e\u0422\u0412\u0415\u0422\u0410:\\n1. \u0418\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u0439 \u0414\u0410\u041d\u041d\u042b\u0415 \u0422\u0420\u0415\u041d\u0418\u0420\u041e\u0412\u041e\u041a \u0432\u044b\u0448\u0435 \u0434\u043b\u044f \u043e\u0442\u0432\u0435\u0442\u0430\\n2. \u0415\u0441\u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u0441\u043f\u0440\u0430\u0448\u0438\u0432\u0430\u0435\u0442 \"\u043a\u0430\u043a \u043f\u043e\u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u0430\u043b\u0441\u044f\" \u2014 \u0440\u0430\u0441\u0441\u043a\u0430\u0436\u0438 \u043e \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0439 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0435 \u0438\u0437 \u0441\u043f\u0438\u0441\u043a\u0430\\n3. \u0411\u0443\u0434\u044c \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u044b\u043c: \u0443\u043a\u0430\u0437\u044b\u0432\u0430\u0439 \u0446\u0438\u0444\u0440\u044b \u0438\u0437 \u0434\u0430\u043d\u043d\u044b\u0445\\n4. \u0414\u0430\u0439 \u043a\u0440\u0430\u0442\u043a\u0443\u044e \u043e\u0446\u0435\u043d\u043a\u0443 \u0438 \u0441\u043e\u0432\u0435\u0442 \u043a\u0430\u043a \u0442\u0440\u0435\u043d\u0435\u0440\\n\\n' + JSON_FORMAT;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_text: message,\n    message_id: data.message_id,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    is_plan_generation: isPlanGeneration,\n    weekly_runs: data.weekly_runs\n  }\n}];"
                },
                "name": "Prepare Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2640,
                    500
                ]
            },
            {
                "id": "call-openai",
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/chat/completions",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "openAiApi",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
                },
                "name": "Call OpenAI",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2840,
                    500
                ],
                "credentials": {
                    "openAiApi": {
                        "id": "koikxNcf4ds6vKgZ",
                        "name": "OpenAI - Running Coach"
                    }
                }
            },
            {
                "id": "extract-response",
                "parameters": {
                    "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\nconst aiContent = response.choices[0].message.content;\n\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {}\n\nresponseText = responseText.replace(/\\*/g, '\u2022').replace(/_/g, ' ').replace(/`/g, \"'\").replace(/\\[/g, '(').replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    is_plan_generation: prepareData.is_plan_generation,\n    weekly_runs: prepareData.weekly_runs\n  }\n}];"
                },
                "name": "Extract Response",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    3040,
                    500
                ]
            },
            {
                "id": "send-telegram",
                "parameters": {
                    "operation": "sendMessage",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "text": "={{ $json.response_text }}",
                    "additionalFields": {
                        "appendAttribution": false
                    }
                },
                "name": "Send to Telegram",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    3240,
                    500
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "is-onboarding",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $json.onboarding_stage }}",
                                "rightValue": "completed",
                                "operator": {
                                    "type": "string",
                                    "operation": "notEquals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Is Onboarding?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    3440,
                    500
                ]
            },
            {
                "id": "build-update",
                "parameters": {
                    "functionCode": "const data = items[0].json;\nconst ext = data.extracted_data || {};\nconst updateFields = {};\nlet nextStage = data.next_stage;\n\nif (data.onboarding_stage === 'started') updateFields.goal = 'race';\nif (data.onboarding_stage === 'strategy_preview' && ext.strategy_generated) nextStage = 'completed';\nif (nextStage && nextStage !== data.onboarding_stage) updateFields.onboarding_stage = nextStage;\n\n['level','age','height_cm','weight_kg','current_5k_pace_seconds','weekly_runs','race_distance','race_date','target_time_seconds','resting_hr','max_hr','has_lab_testing','vo2max','lthr'].forEach(k => { if (ext[k] !== undefined) updateFields[k] = ext[k]; });\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0\n  }\n}];"
                },
                "name": "Build Update Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    3640,
                    400
                ]
            },
            {
                "id": "has-updates",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $json.has_updates }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Has Updates?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    3840,
                    400
                ]
            },
            {
                "id": "update-user",
                "parameters": {
                    "operation": "update",
                    "tableId": "users",
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "id",
                                "condition": "eq",
                                "keyValue": "={{ $json.user_id }}"
                            }
                        ]
                    },
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "onboarding_stage",
                                "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
                            },
                            {
                                "fieldId": "level",
                                "fieldValue": "={{ $json.update_fields.level }}"
                            },
                            {
                                "fieldId": "age",
                                "fieldValue": "={{ $json.update_fields.age }}"
                            },
                            {
                                "fieldId": "weekly_runs",
                                "fieldValue": "={{ $json.update_fields.weekly_runs }}"
                            },
                            {
                                "fieldId": "race_date",
                                "fieldValue": "={{ $json.update_fields.race_date }}"
                            },
                            {
                                "fieldId": "race_distance",
                                "fieldValue": "={{ $json.update_fields.race_distance }}"
                            },
                            {
                                "fieldId": "resting_hr",
                                "fieldValue": "={{ $json.update_fields.resting_hr }}"
                            }
                        ]
                    }
                },
                "name": "Update User Profile",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    4040,
                    300
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "is-plan-gen",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $('Extract Response').first().json.is_plan_generation }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Is Plan Generation?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    3640,
                    600
                ]
            },
            {
                "id": "save-plan",
                "parameters": {
                    "operation": "create",
                    "tableId": "weekly_plans",
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "user_id",
                                "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
                            },
                            {
                                "fieldId": "week_start",
                                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                            },
                            {
                                "fieldId": "plan_data",
                                "fieldValue": "={{ JSON.stringify({raw_plan: $('Extract Response').first().json.response_text}) }}"
                            },
                            {
                                "fieldId": "status",
                                "fieldValue": "active"
                            }
                        ]
                    }
                },
                "name": "Save Plan",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    3840,
                    600
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "download-photo-telegram",
                "parameters": {
                    "resource": "file",
                    "operation": "get",
                    "fileId": "={{ $(\"Check User\").first().json.photo_file_id }}",
                    "download": true
                },
                "name": "Download Photo",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    1640,
                    200
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "move-binary-to-json",
                "parameters": {
                    "mode": "binaryToJson",
                    "setAllData": false,
                    "sourceKey": "data",
                    "destinationKey": "base64_image",
                    "options": {
                        "keepAsBase64": true
                    }
                },
                "name": "Binary to Base64",
                "type": "n8n-nodes-base.moveBinaryData",
                "typeVersion": 1,
                "position": [
                    1840,
                    200
                ]
            },
            {
                "id": "prepare-vision-data",
                "parameters": {
                    "functionCode": "const checkUserData = $(\"Check User\").first().json;\nconst base64Data = items[0].json.base64_image;\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id,\n    base64_image: base64Data,\n    mime_type: \"image/jpeg\"\n  }\n}];"
                },
                "name": "Prepare Vision Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2040,
                    200
                ]
            },
            {
                "id": "call-gpt4o-vision",
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/chat/completions",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "openAiApi",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"\u0420\u0430\u0441\u043f\u043e\u0437\u043d\u0430\u0439 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0443 \u0441 \u0444\u043e\u0442\u043e. \u0412\u0435\u0440\u043d\u0438 JSON: {\\\"recognized\\\": true/false, \\\"data\\\": {\\\"distance_km\\\": \u0447\u0438\u0441\u043b\u043e, \\\"duration_seconds\\\": \u0447\u0438\u0441\u043b\u043e, \\\"avg_pace_seconds\\\": \u0447\u0438\u0441\u043b\u043e, \\\"avg_heart_rate\\\": \u0447\u0438\u0441\u043b\u043e \u0438\u043b\u0438 null, \\\"type\\\": \\\"easy_run\\\"/\\\"tempo\\\"/\\\"intervals\\\"}, \\\"response\\\": \\\"\u0442\u0435\u043a\u0441\u0442\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mime_type }};base64,{{ $json.base64_image }}\"\n          }\n        },\n        {\n          \"type\": \"text\", \n          \"text\": \"\u0420\u0430\u0441\u043f\u043e\u0437\u043d\u0430\u0439 \u0442\u0440\u0435\u043d\u0438\u0440\u043e\u0432\u043a\u0443\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
                },
                "name": "GPT-4o Vision",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2240,
                    200
                ],
                "credentials": {
                    "openAiApi": {
                        "id": "koikxNcf4ds6vKgZ",
                        "name": "OpenAI - Running Coach"
                    }
                }
            }
        ],
        "connections": {
            "TelegramTrigger": {
                "main": [
                    [
                        {
                            "node": "Extract Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Extract Message": {
                "main": [
                    [
                        {
                            "node": "Get User",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get User": {
                "main": [
                    [
                        {
                            "node": "Check User",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check User": {
                "main": [
                    [
                        {
                            "node": "Show Typing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Show Typing": {
                "main": [
                    [
                        {
                            "node": "Route After Typing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Route After Typing": {
                "main": [
                    [
                        {
                            "node": "Is Photo?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Photo?": {
                "main": [
                    [
                        {
                            "node": "Download Photo",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "User Not Found?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "GPT-4o Vision": {
                "main": [
                    [
                        {
                            "node": "Parse Vision Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Vision Response": {
                "main": [
                    [
                        {
                            "node": "Training Recognized?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Training Recognized?": {
                "main": [
                    [
                        {
                            "node": "Save Photo Training",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Send Not Recognized",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save Photo Training": {
                "main": [
                    [
                        {
                            "node": "Format Photo Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Photo Response": {
                "main": [
                    [
                        {
                            "node": "Send Photo Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "User Not Found?": {
                "main": [
                    [
                        {
                            "node": "Create User",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Get Active Plan",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create User": {
                "main": [
                    [
                        {
                            "node": "Get User Again",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get User Again": {
                "main": [
                    [
                        {
                            "node": "Prepare New User Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare New User Data": {
                "main": [
                    [
                        {
                            "node": "Merge User Flows",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Active Plan": {
                "main": [
                    [
                        {
                            "node": "Get Recent Trainings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Recent Trainings": {
                "main": [
                    [
                        {
                            "node": "Merge Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Context": {
                "main": [
                    [
                        {
                            "node": "Merge User Flows",
                            "type": "main",
                            "index": 1
                        }
                    ]
                ]
            },
            "Merge User Flows": {
                "main": [
                    [
                        {
                            "node": "Prepare Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Data": {
                "main": [
                    [
                        {
                            "node": "Call OpenAI",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call OpenAI": {
                "main": [
                    [
                        {
                            "node": "Extract Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Extract Response": {
                "main": [
                    [
                        {
                            "node": "Send to Telegram",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send to Telegram": {
                "main": [
                    [
                        {
                            "node": "Is Onboarding?",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Is Plan Generation?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Onboarding?": {
                "main": [
                    [
                        {
                            "node": "Build Update Data",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Build Update Data": {
                "main": [
                    [
                        {
                            "node": "Has Updates?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has Updates?": {
                "main": [
                    [
                        {
                            "node": "Update User Profile",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Is Plan Generation?": {
                "main": [
                    [
                        {
                            "node": "Save Plan",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Download Photo": {
                "main": [
                    [
                        {
                            "node": "Binary to Base64",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Binary to Base64": {
                "main": [
                    [
                        {
                            "node": "Prepare Vision Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Vision Data": {
                "main": [
                    [
                        {
                            "node": "GPT-4o Vision",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Nikita Kuznetsov",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-06T23:32:40.268Z",
                "id": 427,
                "workflowId": "7Ar459SadzSXgUEv",
                "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
                "event": "activated",
                "userId": "70308841-4ee1-48e9-854d-73f215836be6"
            }
        ]
    }
}
