n8n-workflows/workflow-main-chatbot-v5.json
{
    "updatedAt": "2026-02-06T23:32:39.651Z",
    "createdAt": "2026-02-03T14:16:53.371Z",
    "id": "7Ar459SadzSXgUEv",
    "name": "AI Running Coach - Main Chatbot v5 (Photo + Stats)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "telegram-trigger",
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "TelegramTrigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "extract-message",
            "parameters": {
                "functionCode": "const msg = items[0].json.message;\n\n// Определяем тип сообщения\nlet messageType = 'text';\nlet photoFileId = null;\nlet photoCaption = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  messageType = 'photo';\n  // Берём фото максимального размера (последнее в массиве)\n  photoFileId = msg.photo[msg.photo.length - 1].file_id;\n  photoCaption = msg.caption || '';\n}\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || photoCaption || '',\n    message_id: msg.message_id,\n    message_type: messageType,\n    photo_file_id: photoFileId\n  }\n}];"
            },
            "name": "Extract Message",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                440,
                400
            ]
        },
        {
            "id": "get-user",
            "parameters": {
                "operation": "getAll",
                "tableId": "users",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "telegram_id",
                            "condition": "eq",
                            "keyValue": "={{ $json.telegram_id }}"
                        }
                    ]
                }
            },
            "name": "Get User",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                640,
                400
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "check-user",
            "parameters": {
                "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      race_date: userData.race_date,\n      race_distance: userData.race_distance,\n      target_time_seconds: userData.target_time_seconds,\n      resting_hr: userData.resting_hr,\n      max_hr: userData.max_hr,\n      has_lab_testing: userData.has_lab_testing,\n      vo2max: userData.vo2max,\n      lthr: userData.lthr,\n      hr_zone1_max: userData.hr_zone1_max,\n      hr_zone2_max: userData.hr_zone2_max,\n      hr_zone3_max: userData.hr_zone3_max,\n      hr_zone4_max: userData.hr_zone4_max,\n      hr_zone5_max: userData.hr_zone5_max,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n}"
            },
            "name": "Check User",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                840,
                400
            ]
        },
        {
            "id": "show-typing",
            "parameters": {
                "operation": "sendChatAction",
                "chatId": "={{ $json.chat_id.toString() }}",
                "action": "typing"
            },
            "name": "Show Typing",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1040,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "route-after-typing",
            "parameters": {
                "functionCode": "const data = $('Check User').first().json;\nreturn [{json: data}];"
            },
            "name": "Route After Typing",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1240,
                400
            ]
        },
        {
            "id": "is-photo",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "photo-check",
                            "leftValue": "={{ $json.message_type }}",
                            "rightValue": "photo",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "completed-check",
                            "leftValue": "={{ $json.onboarding_stage }}",
                            "rightValue": "completed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Photo?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1440,
                400
            ]
        },
        {
            "id": "parse-vision-response",
            "parameters": {
                "functionCode": "const checkUserData = $('Check User').first().json;\nconst visionResponse = items[0].json;\nconst aiContent = visionResponse.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiContent);\n} catch (e) {\n  parsed = {\n    recognized: false,\n    response: 'Ошибка при обработке фото. Попробуй ещё раз или напиши результат текстом.'\n  };\n}\n\n// Очищаем текст для Telegram\nlet responseText = parsed.response || 'Фото обработано';\nresponseText = responseText\n  .replace(/\\*/g, '•')\n  .replace(/_/g, ' ')\n  .replace(/`/g, \"'\")\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_id: checkUserData.message_id,\n    recognized: parsed.recognized || false,\n    confidence: parsed.confidence || 'low',\n    training_data: parsed.data || null,\n    source_app: parsed.source_app || null,\n    response_text: responseText,\n    is_photo_training: true\n  }\n}];"
            },
            "name": "Parse Vision Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2240,
                200
            ]
        },
        {
            "id": "is-training-recognized",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "recognized-check",
                            "leftValue": "={{ $json.recognized }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Training Recognized?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2440,
                200
            ]
        },
        {
            "id": "save-photo-training",
            "parameters": {
                "operation": "create",
                "tableId": "trainings",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "user_id",
                            "fieldValue": "={{ $json.user_id }}"
                        },
                        {
                            "fieldId": "date",
                            "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                        },
                        {
                            "fieldId": "day_of_week",
                            "fieldValue": "={{ $now.format('EEEE').toLowerCase() }}"
                        },
                        {
                            "fieldId": "type",
                            "fieldValue": "={{ $json.training_data.type || 'easy_run' }}"
                        },
                        {
                            "fieldId": "distance_km",
                            "fieldValue": "={{ $json.training_data.distance_km }}"
                        },
                        {
                            "fieldId": "duration_seconds",
                            "fieldValue": "={{ $json.training_data.duration_seconds }}"
                        },
                        {
                            "fieldId": "avg_pace_seconds",
                            "fieldValue": "={{ $json.training_data.avg_pace_seconds }}"
                        },
                        {
                            "fieldId": "avg_heart_rate",
                            "fieldValue": "={{ $json.training_data.avg_heart_rate }}"
                        },
                        {
                            "fieldId": "max_heart_rate",
                            "fieldValue": "={{ $json.training_data.max_heart_rate }}"
                        },
                        {
                            "fieldId": "calories",
                            "fieldValue": "={{ $json.training_data.calories }}"
                        },
                        {
                            "fieldId": "elevation_gain_m",
                            "fieldValue": "={{ $json.training_data.elevation_gain_m }}"
                        },
                        {
                            "fieldId": "source",
                            "fieldValue": "screenshot"
                        },
                        {
                            "fieldId": "is_planned",
                            "fieldValue": "={{ false }}"
                        },
                        {
                            "fieldId": "screenshot_count",
                            "fieldValue": "1"
                        }
                    ]
                }
            },
            "name": "Save Photo Training",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                3240,
                200
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "format-photo-response",
            "parameters": {
                "functionCode": "const parseData = $('Parse Vision Response').first().json;\nconst td = parseData.training_data || {};\n\n// Check if save failed (duplicate)\nconst saveResult = items[0].json;\nconst isDuplicate = saveResult.error || saveResult.code === '23505';\n\nconst formatPace = (s) => {\n  if (!s) return 'н/д';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = '';\nif (isDuplicate) {\n  text = 'Эта тренировка уже записана! Похожая запись за сегодня уже есть в базе.';\n} else {\n  text = 'Тренировка записана!\\n\\n';\n  text += '- Дистанция: ' + (td.distance_km || 'н/д') + ' км\\n';\n  text += '- Время: ' + (td.duration_seconds ? Math.floor(td.duration_seconds/60) + ' мин' : 'н/д') + '\\n';\n  text += '- Темп: ' + formatPace(td.avg_pace_seconds) + '/км\\n';\n  if (td.avg_heart_rate) text += '- Пульс: ' + td.avg_heart_rate + ' уд/мин\\n';\n  if (td.calories) text += '- Калории: ' + td.calories + '\\n';\n  if (td.elevation_gain_m) text += '- Набор высоты: ' + td.elevation_gain_m + ' м\\n';\n  text += '\\nОтличная работа!';\n  text += '\\n\\nЕсли есть второй скриншот из другого приложения - отправь его в течение 3 минут, и я объединю данные.';\n}\n\nreturn [{\n  json: {\n    chat_id: parseData.chat_id,\n    response_text: text\n  }\n}];"
            },
            "name": "Format Photo Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                3440,
                200
            ]
        },
        {
            "id": "send-photo-response",
            "parameters": {
                "operation": "sendMessage",
                "chatId": "={{ $json.chat_id.toString() }}",
                "text": "={{ $json.response_text }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send Photo Response",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                3640,
                100
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "send-not-recognized",
            "parameters": {
                "operation": "sendMessage",
                "chatId": "={{ $json.chat_id.toString() }}",
                "text": "={{ $json.response_text }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send Not Recognized",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                2640,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "user-not-found",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.userExists }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "User Not Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1640,
                500
            ]
        },
        {
            "id": "create-user",
            "parameters": {
                "operation": "create",
                "tableId": "users",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "telegram_id",
                            "fieldValue": "={{ $json.telegram_id }}"
                        },
                        {
                            "fieldId": "username",
                            "fieldValue": "={{ $json.username }}"
                        },
                        {
                            "fieldId": "first_name",
                            "fieldValue": "={{ $json.first_name }}"
                        },
                        {
                            "fieldId": "last_name",
                            "fieldValue": "={{ $json.last_name }}"
                        },
                        {
                            "fieldId": "onboarding_stage",
                            "fieldValue": "started"
                        },
                        {
                            "fieldId": "language",
                            "fieldValue": "ru"
                        }
                    ]
                }
            },
            "name": "Create User",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1840,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "get-user-again",
            "parameters": {
                "operation": "getAll",
                "tableId": "users",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "telegram_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Check User').first().json.telegram_id }}"
                        }
                    ]
                }
            },
            "name": "Get User Again",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2040,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "prepare-new-user",
            "parameters": {
                "functionCode": "const messageData = $('Check User').first().json;\nconst userData = items[0].json;\nreturn [{\n  json: {\n    userExists: true,\n    user_id: userData.id,\n    first_name: userData.first_name || messageData.first_name,\n    onboarding_stage: userData.onboarding_stage || 'started',\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_id: messageData.message_id,\n    active_plan: null,\n    recent_trainings: []\n  }\n}];"
            },
            "name": "Prepare New User Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2240,
                400
            ]
        },
        {
            "id": "get-active-plan",
            "parameters": {
                "operation": "getAll",
                "tableId": "weekly_plans",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "user_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Check User').first().json.user_id }}"
                        },
                        {
                            "keyName": "status",
                            "condition": "eq",
                            "keyValue": "active"
                        }
                    ]
                },
                "options": {
                    "orderByColumn": "created_at",
                    "orderType": "desc"
                }
            },
            "name": "Get Active Plan",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1840,
                600
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "get-recent-trainings",
            "parameters": {
                "operation": "getAll",
                "tableId": "trainings",
                "returnAll": false,
                "limit": 10,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "user_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Check User').first().json.user_id }}"
                        }
                    ]
                },
                "options": {
                    "orderByColumn": "date",
                    "orderType": "desc"
                }
            },
            "name": "Get Recent Trainings",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2040,
                600
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "merge-context",
            "parameters": {
                "functionCode": "const checkUserData = $('Check User').first().json;\nconst planItems = $('Get Active Plan').all();\nconst trainingItems = $('Get Recent Trainings').all();\nconst strategyItems = items;\n\nlet activePlan = null;\nif (planItems.length > 0 && planItems[0].json && planItems[0].json.id) {\n  activePlan = planItems[0].json;\n}\n\nlet recentTrainings = [];\nif (trainingItems.length > 0) {\n  recentTrainings = trainingItems.map(t => t.json).filter(t => t && t.id);\n}\n\nlet activeStrategy = null;\nif (strategyItems.length > 0 && strategyItems[0].json && strategyItems[0].json.id) {\n  activeStrategy = strategyItems[0].json;\n}\n\nreturn [{\n  json: {\n    ...checkUserData,\n    active_plan: activePlan,\n    recent_trainings: recentTrainings,\n    active_strategy: activeStrategy\n  }\n}];"
            },
            "name": "Merge Context",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2340,
                600
            ]
        },
        {
            "id": "merge-flows",
            "parameters": {
                "mode": "append",
                "options": {}
            },
            "name": "Merge User Flows",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                2440,
                500
            ]
        },
        {
            "id": "prepare-data",
            "parameters": {
                "functionCode": "const data = items[0].json;\nconst message = data.message_text;\nconst stage = data.onboarding_stage || 'started';\nconst firstName = data.first_name || 'друг';\n\nlet systemPrompt = '';\nlet nextStage = stage;\nlet isPlanGeneration = false;\n\nconst JSON_FORMAT = 'Ответь JSON: {\"extracted\": {...}, \"response\": \"текст\"}. НЕ используй * _ ` [ ]';\n\nconst formatPace = (sec) => {\n  if (!sec) return 'н/д';\n  return Math.floor(sec/60) + ':' + (sec%60).toString().padStart(2,'0');\n};\n\n// Контекст тренировок\nlet trainingsContext = '';\nconst trainings = data.recent_trainings || [];\nif (trainings.length > 0) {\n  trainingsContext = '\\n\\nУ ПОЛЬЗОВАТЕЛЯ ЕСТЬ ' + trainings.length + ' ЗАПИСАННЫХ ТРЕНИРОВОК:\\n';\n  trainings.slice(0, 10).forEach(t => {\n    trainingsContext += '• ' + t.date + ': ' + (t.distance_km || '?') + ' км';\n    if (t.duration_seconds) trainingsContext += ', ' + Math.round(t.duration_seconds/60) + ' мин';\n    if (t.avg_pace_seconds) trainingsContext += ', темп ' + formatPace(t.avg_pace_seconds) + '/км';\n    if (t.avg_heart_rate) trainingsContext += ', пульс ' + t.avg_heart_rate;\n    if (t.type) trainingsContext += ' (' + t.type + ')';\n    trainingsContext += '\\n';\n  });\n} else {\n  trainingsContext = '\\n\\nТренировок пока не записано.\\n';\n}\n\n// Контекст плана\nlet planContext = '';\nif (data.active_plan && data.active_plan.plan_data) {\n  try {\n    const pd = typeof data.active_plan.plan_data === 'string' ? JSON.parse(data.active_plan.plan_data) : data.active_plan.plan_data;\n    planContext = '\\nАКТИВНЫЙ ПЛАН: ' + (pd.raw_plan || '').substring(0, 500);\n  } catch(e) {}\n}\n\n// Контекст стратегии\nlet strategyContext = '';\nlet currentPhase = null;\nif (data.active_strategy && data.active_strategy.phases) {\n  try {\n    const strategy = data.active_strategy;\n    const phases = typeof strategy.phases === 'string' ? JSON.parse(strategy.phases) : strategy.phases;\n    const startDate = new Date(strategy.start_date);\n    const now = new Date();\n    const weeksSinceStart = Math.max(1, Math.ceil((now - startDate) / (7 * 24 * 60 * 60 * 1000)));\n\n    for (const phase of phases) {\n      if (weeksSinceStart >= phase.start_week && weeksSinceStart <= phase.end_week) {\n        currentPhase = phase;\n        break;\n      }\n    }\n\n    strategyContext = '\\n\\nСТРАТЕГИЯ ПОДГОТОВКИ:';\n    strategyContext += '\\n• Цель: ' + (strategy.race_distance || '') + (strategy.race_date ? ' (' + strategy.race_date + ')' : '');\n    strategyContext += '\\n• Всего недель: ' + strategy.total_weeks + ', текущая неделя: ' + weeksSinceStart;\n    if (currentPhase) {\n      strategyContext += '\\n• Текущая фаза: ' + currentPhase.display_name + ' (нед. ' + currentPhase.start_week + '-' + currentPhase.end_week + ')';\n      strategyContext += '\\n• Фокус: ' + currentPhase.focus;\n      strategyContext += '\\n• Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км/нед';\n      strategyContext += '\\n• Ключевые тренировки: ' + (currentPhase.key_workouts || []).join(', ');\n    }\n    strategyContext += '\\n• Все фазы: ';\n    phases.forEach(p => {\n      const isCurrent = (currentPhase && p.name === currentPhase.name) ? ' [ТЕКУЩАЯ]' : '';\n      strategyContext += p.display_name + ' (нед.' + p.start_week + '-' + p.end_week + ')' + isCurrent + ', ';\n    });\n    strategyContext += '\\n';\n  } catch(e) {\n    strategyContext = '';\n  }\n}\n\nif (stage !== 'completed') {\n  // Данные профиля для контекста\n  const profileInfo = 'Данные пользователя: '\n    + (data.race_distance ? 'дистанция=' + data.race_distance + (data.race_distance_km ? ' (' + data.race_distance_km + ' км)' : '') + ', ' : '')\n    + (data.race_date ? 'дата=' + data.race_date + ', ' : '')\n    + (data.target_time_seconds ? 'цель=' + data.target_time_seconds + 'сек, ' : '')\n    + (data.weekly_runs ? 'тренировок/нед=' + data.weekly_runs + ', ' : '')\n    + (data.level ? 'уровень=' + data.level : '');\n\n  const prompts = {\n    'started': 'Приветствуй ' + firstName + '. Представься AI-тренером по бегу. Спроси уровень: новичок/любитель/продвинутый. ' + JSON_FORMAT,\n    'profile': 'Определи level: beginner/intermediate/advanced. Спроси возраст. ' + JSON_FORMAT + ' extracted: {level: ...}',\n    'physical': 'Извлеки age. Спроси рост и вес. ' + JSON_FORMAT + ' extracted: {age: число}',\n    'heart_rate': 'Извлеки height_cm, weight_kg. Спроси пульс покоя. ' + JSON_FORMAT + ' extracted: {height_cm, weight_kg}',\n    'running_info': 'Извлеки resting_hr. Спроси темп на 5км. ' + JSON_FORMAT + ' extracted: {resting_hr}',\n    'lab_testing': 'Извлеки current_5k_pace_seconds (темп в сек/км). Спроси про VO2max тест. ' + JSON_FORMAT + ' extracted: {current_5k_pace_seconds}',\n    'training_freq': 'Извлеки has_lab_testing. Спроси дней в неделю (3-6). ' + JSON_FORMAT + ' extracted: {has_lab_testing, vo2max?, lthr?}',\n    'race_details': 'Извлеки weekly_runs (число). Также если пользователь указал дистанцию/дату/цель забега - извлеки их тоже. '\n      + 'Спроси дистанцию забега, дату, целевое время. '\n      + 'ДИСТАНЦИЯ может быть любой: 5k, 10k, half (21.1km), marathon (42.2km), или нестандартная (30k, 15k и т.д.). '\n      + 'Для нестандартных дистанций сохрани как есть (например \"30k\"). '\n      + 'В конце ответа скажи: \"Отлично! Сейчас составлю стратегию подготовки!\" '\n      + JSON_FORMAT + ' extracted: {weekly_runs, race_distance: \"5k\"/\"10k\"/\"half\"/\"marathon\"/\"30k\"/etc, race_distance_km: число_км, race_date: YYYY-MM-DD, target_time_seconds: число}',\n    'strategy_preview': profileInfo + '\\n\\n'\n      + 'ИСПОЛЬЗУЙ ДАННЫЕ ПОЛЬЗОВАТЕЛЯ ВЫШЕ. Если в сообщении есть новые данные - используй их.\\n\\n'\n      + 'СГЕНЕРИРУЙ СТРАТЕГИЮ ПОДГОТОВКИ К ЗАБЕГУ.\\n\\n'\n      + 'ИНСТРУКЦИИ:\\n'\n      + '1. Рассчитай количество недель от сегодня (' + new Date().toISOString().split('T')[0] + ') до даты забега\\n'\n      + '2. Раздели подготовку на 4 фазы:\\n'\n      + '   - base (Базовый период): ~30% недель\\n'\n      + '   - development (Развитие): ~30% недель\\n'\n      + '   - specialization (Специализация): ~25% недель\\n'\n      + '   - taper (Подводка): ~15% недель (мин 1, макс 3)\\n'\n      + '3. Для каждой фазы рассчитай: start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts, intensity_distribution\\n\\n'\n      + 'ФОРМАТ ОТВЕТА В response (СТРОГО СОБЛЮДАЙ):\\n'\n      + 'Покажи ТОЛЬКО высокоуровневый обзор стратегии по фазам.\\n'\n      + 'НЕ ПОКАЗЫВАЙ детальный план на неделю! НЕ расписывай тренировки по дням!\\n'\n      + 'Формат ответа:\\n\\n'\n      + 'Стратегия подготовки к (дистанция) (дата забега)\\n'\n      + 'Всего N недель подготовки\\n\\n'\n      + 'Фаза 1: Название (недели X-Y, Z недель)\\n'\n      + 'Фокус: описание в 1 предложении\\n'\n      + 'Объём: XX-YY км/нед\\n'\n      + 'Ключевые тренировки: перечислить кратко\\n\\n'\n      + 'Фаза 2: ...\\n'\n      + '(и так далее для каждой фазы)\\n\\n'\n      + 'В самом конце напиши: Начинаем? Если стратегия подходит, скажи и я составлю план на первую неделю!\\n\\n'\n      + 'НЕ используй символы форматирования. Используй простые тире для списков.\\n\\n'\n      + JSON_FORMAT + '\\n'\n      + 'extracted: { race_distance: \"' + (data.race_distance || 'half') + '\", race_distance_km: ' + (data.race_distance_km || 21.1) + ', race_date: \"' + (data.race_date || new Date(Date.now() + 16*7*24*60*60*1000).toISOString().split('T')[0]) + '\", target_time_seconds: ' + (data.target_time_seconds || 6300) + ', strategy_generated: true, total_weeks: число, strategy_summary: \"краткое описание\", phases: [{name, display_name, start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts: [\"тренировка1\", \"тренировка2\"], intensity_distribution: \"80/20 или подобное\"}] }'\n  };\n  systemPrompt = prompts[stage] || prompts['started'];\n  const nextStages = {started:'profile', profile:'physical', physical:'heart_rate', heart_rate:'running_info', running_info:'lab_testing', lab_testing:'training_freq', training_freq:'race_details', race_details:'strategy_preview', strategy_preview:'completed'};\n  nextStage = nextStages[stage] || stage;\n} else {\n  const isStrategyQuestion = /стратег|фаз[аыуеи]|период|этап подготовки|план подготовки|как.*иду|долгосроч|подготов.*забег/i.test(message);\n\n  if (isStrategyQuestion && data.active_strategy) {\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.'\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает о стратегии: \"' + message + '\"'\n      + '\\n\\nОтветь подробно о текущей фазе, прогрессе и что впереди.'\n      + '\\n\\n' + JSON_FORMAT;\n  } else if (/план|состав|давай|начн|готов|тренировк|недел/i.test(message)) {\n    isPlanGeneration = true;\n    systemPrompt = 'AI-тренер для ' + firstName + '. Составь план на неделю (' + (data.weekly_runs || 3) + ' тренировок).'\n      + strategyContext + trainingsContext + planContext\n      + (currentPhase ? '\\n\\nВАЖНО: План должен соответствовать ТЕКУЩЕЙ ФАЗЕ: ' + currentPhase.display_name + '. Фокус: ' + currentPhase.focus + '. Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км.' : '')\n      + ' ' + JSON_FORMAT + ' extracted: {plan_generated: true, total_km: число}';\n  } else {\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.'\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает: \"' + message + '\"'\n      + '\\n\\nПРАВИЛА ОТВЕТА:\\n1. Используй ДАННЫЕ ТРЕНИРОВОК выше'\n      + '\\n2. Если есть стратегия - учитывай текущую фазу'\n      + '\\n3. Будь конкретным: указывай цифры'\n      + '\\n4. Дай краткую оценку и совет'\n      + '\\n\\n' + JSON_FORMAT;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_text: message,\n    message_id: data.message_id,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    is_plan_generation: isPlanGeneration,\n    weekly_runs: data.weekly_runs\n  }\n}];"
            },
            "name": "Prepare Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2640,
                500
            ]
        },
        {
            "id": "call-openai",
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
            },
            "name": "Call OpenAI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2840,
                500
            ],
            "credentials": {
                "openAiApi": {
                    "id": "koikxNcf4ds6vKgZ",
                    "name": "OpenAI - Running Coach"
                }
            }
        },
        {
            "id": "extract-response",
            "parameters": {
                "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\nconst aiContent = response.choices[0].message.content;\n\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {}\n\nresponseText = responseText.replace(/\\*\\*(.+?)\\*\\*/g, '$1').replace(/\\*(.+?)\\*/g, '$1').replace(/_/g, ' ').replace(/`/g, \"'\").replace(/\\[/g, '(').replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    is_plan_generation: prepareData.is_plan_generation,\n    weekly_runs: prepareData.weekly_runs\n  }\n}];"
            },
            "name": "Extract Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                3040,
                500
            ]
        },
        {
            "id": "send-telegram",
            "parameters": {
                "operation": "sendMessage",
                "chatId": "={{ $json.chat_id.toString() }}",
                "text": "={{ $json.response_text }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                3240,
                500
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "is-onboarding",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $('Extract Response').first().json.onboarding_stage }}",
                            "rightValue": "completed",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Onboarding?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3440,
                500
            ]
        },
        {
            "id": "build-update",
            "parameters": {
                "functionCode": "const data = $('Extract Response').first().json;\nconst ext = data.extracted_data || {};\nconst updateFields = {};\nlet nextStage = data.next_stage;\n\nif (data.onboarding_stage === 'started') updateFields.goal = 'race';\nif (data.onboarding_stage === 'strategy_preview' && ext.strategy_generated) nextStage = 'completed';\nif (nextStage && nextStage !== data.onboarding_stage) updateFields.onboarding_stage = nextStage;\n\n['level','age','height_cm','weight_kg','current_5k_pace_seconds','weekly_runs','race_distance','race_distance_km','race_date','target_time_seconds','resting_hr','max_hr','has_lab_testing','vo2max','lthr'].forEach(k => { if (ext[k] !== undefined) updateFields[k] = ext[k]; });\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0,\n    is_strategy_stage: data.onboarding_stage === 'strategy_preview' && ext.strategy_generated === true\n  }\n}];"
            },
            "name": "Build Update Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                3640,
                400
            ]
        },
        {
            "id": "has-updates",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.has_updates }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Has Updates?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3840,
                400
            ]
        },
        {
            "id": "update-user",
            "parameters": {
                "operation": "update",
                "tableId": "users",
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.user_id }}"
                        }
                    ]
                },
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "onboarding_stage",
                            "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
                        },
                        {
                            "fieldId": "level",
                            "fieldValue": "={{ $json.update_fields.level }}"
                        },
                        {
                            "fieldId": "age",
                            "fieldValue": "={{ $json.update_fields.age }}"
                        },
                        {
                            "fieldId": "weekly_runs",
                            "fieldValue": "={{ $json.update_fields.weekly_runs }}"
                        },
                        {
                            "fieldId": "race_date",
                            "fieldValue": "={{ $json.update_fields.race_date }}"
                        },
                        {
                            "fieldId": "race_distance",
                            "fieldValue": "={{ $json.update_fields.race_distance }}"
                        },
                        {
                            "fieldId": "resting_hr",
                            "fieldValue": "={{ $json.update_fields.resting_hr }}"
                        }
                    ]
                }
            },
            "name": "Update User Profile",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                4040,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "is-plan-gen",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $('Extract Response').first().json.is_plan_generation }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Plan Generation?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3640,
                600
            ]
        },
        {
            "id": "save-plan",
            "parameters": {
                "operation": "create",
                "tableId": "weekly_plans",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "user_id",
                            "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
                        },
                        {
                            "fieldId": "week_start",
                            "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                        },
                        {
                            "fieldId": "plan_data",
                            "fieldValue": "={{ JSON.stringify({raw_plan: $('Extract Response').first().json.response_text}) }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "active"
                        }
                    ]
                }
            },
            "name": "Save Plan",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                3840,
                600
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "download-photo-telegram",
            "parameters": {
                "resource": "file",
                "operation": "get",
                "fileId": "={{ $(\"Check User\").first().json.photo_file_id }}",
                "download": true
            },
            "name": "Download Photo",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1640,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "SLNhx6dJUSPFBV35",
                    "name": "Telegram Bot - Running Coach"
                }
            }
        },
        {
            "id": "move-binary-to-json",
            "parameters": {
                "mode": "binaryToJson",
                "setAllData": false,
                "sourceKey": "data",
                "destinationKey": "base64_image",
                "options": {
                    "keepAsBase64": true
                }
            },
            "name": "Binary to Base64",
            "type": "n8n-nodes-base.moveBinaryData",
            "typeVersion": 1,
            "position": [
                1840,
                200
            ]
        },
        {
            "id": "prepare-vision-data",
            "parameters": {
                "functionCode": "const checkUserData = $(\"Check User\").first().json;\nconst base64Data = items[0].json.base64_image;\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id,\n    base64_image: base64Data,\n    mime_type: \"image/jpeg\"\n  }\n}];"
            },
            "name": "Prepare Vision Data",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2040,
                200
            ]
        },
        {
            "id": "call-gpt4o-vision",
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Распознай тренировку с фото. Верни JSON: {\\\"recognized\\\": true/false, \\\"data\\\": {\\\"distance_km\\\": число, \\\"duration_seconds\\\": число, \\\"avg_pace_seconds\\\": число, \\\"avg_heart_rate\\\": число или null, \\\"type\\\": \\\"easy_run\\\"/\\\"tempo\\\"/\\\"intervals\\\"}, \\\"response\\\": \\\"текст\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mime_type }};base64,{{ $json.base64_image }}\"\n          }\n        },\n        {\n          \"type\": \"text\", \n          \"text\": \"Распознай тренировку\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
            },
            "name": "GPT-4o Vision",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2240,
                200
            ],
            "credentials": {
                "openAiApi": {
                    "id": "koikxNcf4ds6vKgZ",
                    "name": "OpenAI - Running Coach"
                }
            }
        },
        {
            "id": "get-strategy",
            "parameters": {
                "operation": "getAll",
                "tableId": "training_strategies",
                "returnAll": false,
                "limit": 1,
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "user_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Check User').first().json.user_id }}"
                        },
                        {
                            "keyName": "status",
                            "condition": "eq",
                            "keyValue": "active"
                        }
                    ]
                },
                "options": {
                    "orderByColumn": "created_at",
                    "orderType": "desc"
                }
            },
            "name": "Get Strategy",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2140,
                600
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "is-strategy-stage",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "strategy-check",
                            "leftValue": "={{ $('Build Update Data').first().json.is_strategy_stage }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Strategy Stage?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                4240,
                300
            ]
        },
        {
            "id": "save-strategy",
            "parameters": {
                "operation": "create",
                "tableId": "training_strategies",
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "user_id",
                            "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
                        },
                        {
                            "fieldId": "goal_type",
                            "fieldValue": "race"
                        },
                        {
                            "fieldId": "race_distance",
                            "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_distance }}"
                        },
                        {
                            "fieldId": "race_date",
                            "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
                        },
                        {
                            "fieldId": "target_time_seconds",
                            "fieldValue": "={{ $('Extract Response').first().json.extracted_data.target_time_seconds }}"
                        },
                        {
                            "fieldId": "total_weeks",
                            "fieldValue": "={{ $('Extract Response').first().json.extracted_data.total_weeks }}"
                        },
                        {
                            "fieldId": "phases",
                            "fieldValue": "={{ JSON.stringify($('Extract Response').first().json.extracted_data.phases) }}"
                        },
                        {
                            "fieldId": "summary",
                            "fieldValue": "={{ $('Extract Response').first().json.extracted_data.strategy_summary }}"
                        },
                        {
                            "fieldId": "start_date",
                            "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                        },
                        {
                            "fieldId": "end_date",
                            "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "active"
                        },
                        {
                            "fieldId": "race_distance_km",
                            "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_distance_km }}"
                        }
                    ]
                }
            },
            "name": "Save Strategy",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                4440,
                200
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "prepare-merge-check",
            "parameters": {
                "functionCode": "const data = $('Parse Vision Response').first().json;\nconst threeMinAgo = new Date(Date.now() - 3 * 60 * 1000).toISOString();\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_id: data.message_id,\n    recognized: data.recognized,\n    confidence: data.confidence,\n    training_data: data.training_data,\n    source_app: data.source_app,\n    response_text: data.response_text,\n    is_photo_training: data.is_photo_training,\n    threeMinAgo: threeMinAgo\n  }\n}];"
            },
            "name": "Prepare Merge Check",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2440,
                100
            ]
        },
        {
            "id": "find-recent-training",
            "parameters": {
                "operation": "getAll",
                "tableId": "trainings",
                "returnAll": false,
                "limit": 1,
                "filterType": "string",
                "filterString": "=user_id=eq.{{ $json.user_id }}&source=eq.screenshot&screenshot_count=lt.2&created_at=gte.{{ $json.threeMinAgo }}&order=created_at.desc"
            },
            "name": "Find Recent Training",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                2640,
                100
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "evaluate-merge",
            "parameters": {
                "functionCode": "const originalData = $('Prepare Merge Check').first().json;\nconst trainingData = originalData.training_data || {};\nconst userId = originalData.user_id;\nconst chatId = originalData.chat_id;\nconst messageId = originalData.message_id;\n\n// Check if Supabase returned a valid existing record\nconst lookupResult = items[0].json;\nconst hasExistingTraining = lookupResult && lookupResult.id;\n\nif (hasExistingTraining) {\n  // --- MERGE MODE ---\n  const existing = lookupResult;\n  const newData = trainingData;\n  const merged = {};\n\n  const numericFields = [\n    'distance_km', 'duration_seconds', 'avg_pace_seconds',\n    'avg_heart_rate', 'max_heart_rate', 'calories', 'elevation_gain_m'\n  ];\n\n  for (const field of numericFields) {\n    const existingVal = existing[field];\n    const newVal = newData ? newData[field] : undefined;\n\n    if (existingVal === null || existingVal === undefined) {\n      merged[field] = newVal || null;\n    } else if (newVal === null || newVal === undefined) {\n      merged[field] = existingVal;\n    } else {\n      if (field === 'distance_km') {\n        // Prefer value with more decimal precision\n        const existDec = (String(existingVal).split('.')[1] || '').length;\n        const newDec = (String(newVal).split('.')[1] || '').length;\n        merged[field] = newDec >= existDec ? newVal : existingVal;\n      } else {\n        // For other fields: prefer new value (user sent it for a reason)\n        merged[field] = newVal;\n      }\n    }\n  }\n\n  merged.type = (newData ? newData.type : null) || existing.type || 'easy_run';\n\n  // Recalculate pace if we have both distance and duration\n  if (merged.distance_km && merged.duration_seconds) {\n    merged.avg_pace_seconds = Math.round(merged.duration_seconds / merged.distance_km);\n  }\n\n  // Build summary of what changed\n  const changes = [];\n  for (const field of numericFields) {\n    const oldVal = existing[field];\n    const newVal = merged[field];\n    if (oldVal !== newVal && newVal !== null && newVal !== undefined) {\n      changes.push(field);\n    }\n  }\n\n  return [{\n    json: {\n      shouldMerge: true,\n      existingId: existing.id,\n      user_id: userId,\n      chat_id: chatId,\n      message_id: messageId,\n      distance_km: merged.distance_km,\n      duration_seconds: merged.duration_seconds,\n      avg_pace_seconds: merged.avg_pace_seconds,\n      avg_heart_rate: merged.avg_heart_rate,\n      max_heart_rate: merged.max_heart_rate,\n      calories: merged.calories,\n      elevation_gain_m: merged.elevation_gain_m,\n      type: merged.type,\n      screenshot_count: 2,\n      changes: changes\n    }\n  }];\n} else {\n  // --- NEW TRAINING MODE ---\n  return [{\n    json: {\n      shouldMerge: false,\n      user_id: userId,\n      chat_id: chatId,\n      message_id: messageId,\n      training_data: trainingData,\n      is_photo_training: originalData.is_photo_training,\n      response_text: originalData.response_text\n    }\n  }];\n}"
            },
            "name": "Evaluate Merge",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2840,
                100
            ]
        },
        {
            "id": "should-merge",
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "merge-check",
                            "leftValue": "={{ $json.shouldMerge }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Should Merge?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                3040,
                100
            ]
        },
        {
            "id": "update-training",
            "parameters": {
                "operation": "update",
                "tableId": "trainings",
                "filterType": "manual",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.existingId }}"
                        }
                    ]
                },
                "dataToSend": "defineBelow",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "distance_km",
                            "fieldValue": "={{ $json.distance_km }}"
                        },
                        {
                            "fieldId": "duration_seconds",
                            "fieldValue": "={{ $json.duration_seconds }}"
                        },
                        {
                            "fieldId": "avg_pace_seconds",
                            "fieldValue": "={{ $json.avg_pace_seconds }}"
                        },
                        {
                            "fieldId": "avg_heart_rate",
                            "fieldValue": "={{ $json.avg_heart_rate }}"
                        },
                        {
                            "fieldId": "max_heart_rate",
                            "fieldValue": "={{ $json.max_heart_rate }}"
                        },
                        {
                            "fieldId": "calories",
                            "fieldValue": "={{ $json.calories }}"
                        },
                        {
                            "fieldId": "elevation_gain_m",
                            "fieldValue": "={{ $json.elevation_gain_m }}"
                        },
                        {
                            "fieldId": "type",
                            "fieldValue": "={{ $json.type }}"
                        },
                        {
                            "fieldId": "screenshot_count",
                            "fieldValue": "={{ $json.screenshot_count }}"
                        }
                    ]
                }
            },
            "name": "Update Training",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                3240,
                0
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "CJ3Z1MvRt6BxblaB",
                    "name": "Supabase - Running Coach"
                }
            }
        },
        {
            "id": "format-merge-response",
            "parameters": {
                "functionCode": "const mergeData = $('Evaluate Merge').first().json;\n\nconst formatPace = (s) => {\n  if (!s) return 'н/д';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = 'Данные объединены с предыдущим скриншотом!\\n\\n';\ntext += 'Обновлённая тренировка:\\n';\ntext += '- Дистанция: ' + (mergeData.distance_km || 'н/д') + ' км\\n';\ntext += '- Время: ' + (mergeData.duration_seconds ? Math.floor(mergeData.duration_seconds/60) + ' мин' : 'н/д') + '\\n';\ntext += '- Темп: ' + formatPace(mergeData.avg_pace_seconds) + '/км\\n';\nif (mergeData.avg_heart_rate) text += '- Пульс: ' + mergeData.avg_heart_rate + ' уд/мин\\n';\nif (mergeData.calories) text += '- Калории: ' + mergeData.calories + '\\n';\nif (mergeData.elevation_gain_m) text += '- Набор высоты: ' + mergeData.elevation_gain_m + ' м\\n';\n\nreturn [{\n  json: {\n    chat_id: mergeData.chat_id,\n    response_text: text\n  }\n}];"
            },
            "name": "Format Merge Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                3440,
                0
            ]
        }
    ],
    "connections": {
        "TelegramTrigger": {
            "main": [
                [
                    {
                        "node": "Extract Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message": {
            "main": [
                [
                    {
                        "node": "Get User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User": {
            "main": [
                [
                    {
                        "node": "Check User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check User": {
            "main": [
                [
                    {
                        "node": "Show Typing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Show Typing": {
            "main": [
                [
                    {
                        "node": "Route After Typing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route After Typing": {
            "main": [
                [
                    {
                        "node": "Is Photo?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Photo?": {
            "main": [
                [
                    {
                        "node": "Download Photo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "User Not Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT-4o Vision": {
            "main": [
                [
                    {
                        "node": "Parse Vision Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Vision Response": {
            "main": [
                [
                    {
                        "node": "Training Recognized?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Training Recognized?": {
            "main": [
                [
                    {
                        "node": "Prepare Merge Check",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Not Recognized",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Photo Training": {
            "main": [
                [
                    {
                        "node": "Format Photo Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Photo Response": {
            "main": [
                [
                    {
                        "node": "Send Photo Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "User Not Found?": {
            "main": [
                [
                    {
                        "node": "Create User",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Active Plan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create User": {
            "main": [
                [
                    {
                        "node": "Get User Again",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User Again": {
            "main": [
                [
                    {
                        "node": "Prepare New User Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare New User Data": {
            "main": [
                [
                    {
                        "node": "Merge User Flows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Active Plan": {
            "main": [
                [
                    {
                        "node": "Get Recent Trainings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Recent Trainings": {
            "main": [
                [
                    {
                        "node": "Get Strategy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Context": {
            "main": [
                [
                    {
                        "node": "Merge User Flows",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge User Flows": {
            "main": [
                [
                    {
                        "node": "Prepare Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Data": {
            "main": [
                [
                    {
                        "node": "Call OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call OpenAI": {
            "main": [
                [
                    {
                        "node": "Extract Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Response": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send to Telegram": {
            "main": [
                [
                    {
                        "node": "Is Onboarding?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Is Plan Generation?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Onboarding?": {
            "main": [
                [
                    {
                        "node": "Build Update Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Build Update Data": {
            "main": [
                [
                    {
                        "node": "Has Updates?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Updates?": {
            "main": [
                [
                    {
                        "node": "Update User Profile",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Is Plan Generation?": {
            "main": [
                [
                    {
                        "node": "Save Plan",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Download Photo": {
            "main": [
                [
                    {
                        "node": "Binary to Base64",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Binary to Base64": {
            "main": [
                [
                    {
                        "node": "Prepare Vision Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Vision Data": {
            "main": [
                [
                    {
                        "node": "GPT-4o Vision",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Strategy": {
            "main": [
                [
                    {
                        "node": "Merge Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update User Profile": {
            "main": [
                [
                    {
                        "node": "Is Strategy Stage?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Strategy Stage?": {
            "main": [
                [
                    {
                        "node": "Save Strategy",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Prepare Merge Check": {
            "main": [
                [
                    {
                        "node": "Find Recent Training",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Recent Training": {
            "main": [
                [
                    {
                        "node": "Evaluate Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evaluate Merge": {
            "main": [
                [
                    {
                        "node": "Should Merge?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Should Merge?": {
            "main": [
                [
                    {
                        "node": "Update Training",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save Photo Training",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Training": {
            "main": [
                [
                    {
                        "node": "Format Merge Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Merge Response": {
            "main": [
                [
                    {
                        "node": "Send Photo Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
    "activeVersionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
    "versionCounter": 67,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-03T14:16:53.371Z",
            "createdAt": "2026-02-03T14:16:53.371Z",
            "role": "workflow:owner",
            "workflowId": "7Ar459SadzSXgUEv",
            "projectId": "jjRGAgVN0Om9gEix",
            "project": {
                "updatedAt": "2025-11-17T04:59:06.055Z",
                "createdAt": "2025-11-14T08:46:34.197Z",
                "id": "jjRGAgVN0Om9gEix",
                "name": "Nikita Kuznetsov <knu@skbkontur.ru>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "70308841-4ee1-48e9-854d-73f215836be6",
                "projectRelations": [
                    {
                        "updatedAt": "2025-11-14T08:46:34.197Z",
                        "createdAt": "2025-11-14T08:46:34.197Z",
                        "userId": "70308841-4ee1-48e9-854d-73f215836be6",
                        "projectId": "jjRGAgVN0Om9gEix",
                        "user": {
                            "updatedAt": "2026-02-06T23:26:54.198Z",
                            "createdAt": "2025-11-14T08:46:34.197Z",
                            "id": "70308841-4ee1-48e9-854d-73f215836be6",
                            "email": "knu@skbkontur.ru",
                            "firstName": "Nikita",
                            "lastName": "Kuznetsov",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-11-17T04:59:14.713Z",
                                "personalization_survey_n8n_version": "1.117.3"
                            },
                            "settings": {
                                "firstSuccessfulWorkflowId": "OElc53ji11bXjJWq",
                                "userActivated": true,
                                "userActivatedAt": 1769961636692
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-06",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-06T23:32:39.653Z",
        "createdAt": "2026-02-06T23:32:39.653Z",
        "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
        "workflowId": "7Ar459SadzSXgUEv",
        "nodes": [
            {
                "id": "telegram-trigger",
                "parameters": {
                    "updates": [
                        "message"
                    ],
                    "additionalFields": {}
                },
                "name": "TelegramTrigger",
                "type": "n8n-nodes-base.telegramTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    400
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "extract-message",
                "parameters": {
                    "functionCode": "const msg = items[0].json.message;\n\n// Определяем тип сообщения\nlet messageType = 'text';\nlet photoFileId = null;\nlet photoCaption = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  messageType = 'photo';\n  // Берём фото максимального размера (последнее в массиве)\n  photoFileId = msg.photo[msg.photo.length - 1].file_id;\n  photoCaption = msg.caption || '';\n}\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || photoCaption || '',\n    message_id: msg.message_id,\n    message_type: messageType,\n    photo_file_id: photoFileId\n  }\n}];"
                },
                "name": "Extract Message",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    440,
                    400
                ]
            },
            {
                "id": "get-user",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "users",
                    "returnAll": false,
                    "limit": 1,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "telegram_id",
                                "condition": "eq",
                                "keyValue": "={{ $json.telegram_id }}"
                            }
                        ]
                    }
                },
                "name": "Get User",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    640,
                    400
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "check-user",
                "parameters": {
                    "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      race_date: userData.race_date,\n      race_distance: userData.race_distance,\n      target_time_seconds: userData.target_time_seconds,\n      resting_hr: userData.resting_hr,\n      max_hr: userData.max_hr,\n      has_lab_testing: userData.has_lab_testing,\n      vo2max: userData.vo2max,\n      lthr: userData.lthr,\n      hr_zone1_max: userData.hr_zone1_max,\n      hr_zone2_max: userData.hr_zone2_max,\n      hr_zone3_max: userData.hr_zone3_max,\n      hr_zone4_max: userData.hr_zone4_max,\n      hr_zone5_max: userData.hr_zone5_max,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n}"
                },
                "name": "Check User",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    840,
                    400
                ]
            },
            {
                "id": "show-typing",
                "parameters": {
                    "operation": "sendChatAction",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "action": "typing"
                },
                "name": "Show Typing",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    1040,
                    400
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "route-after-typing",
                "parameters": {
                    "functionCode": "const data = $('Check User').first().json;\nreturn [{json: data}];"
                },
                "name": "Route After Typing",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    1240,
                    400
                ]
            },
            {
                "id": "is-photo",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "photo-check",
                                "leftValue": "={{ $json.message_type }}",
                                "rightValue": "photo",
                                "operator": {
                                    "type": "string",
                                    "operation": "equals"
                                }
                            },
                            {
                                "id": "completed-check",
                                "leftValue": "={{ $json.onboarding_stage }}",
                                "rightValue": "completed",
                                "operator": {
                                    "type": "string",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Is Photo?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    1440,
                    400
                ]
            },
            {
                "id": "parse-vision-response",
                "parameters": {
                    "functionCode": "const checkUserData = $('Check User').first().json;\nconst visionResponse = items[0].json;\nconst aiContent = visionResponse.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiContent);\n} catch (e) {\n  parsed = {\n    recognized: false,\n    response: 'Ошибка при обработке фото. Попробуй ещё раз или напиши результат текстом.'\n  };\n}\n\n// Очищаем текст для Telegram\nlet responseText = parsed.response || 'Фото обработано';\nresponseText = responseText\n  .replace(/\\*/g, '•')\n  .replace(/_/g, ' ')\n  .replace(/`/g, \"'\")\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_id: checkUserData.message_id,\n    recognized: parsed.recognized || false,\n    confidence: parsed.confidence || 'low',\n    training_data: parsed.data || null,\n    source_app: parsed.source_app || null,\n    response_text: responseText,\n    is_photo_training: true\n  }\n}];"
                },
                "name": "Parse Vision Response",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2240,
                    200
                ]
            },
            {
                "id": "is-training-recognized",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "recognized-check",
                                "leftValue": "={{ $json.recognized }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Training Recognized?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    2440,
                    200
                ]
            },
            {
                "id": "save-photo-training",
                "parameters": {
                    "operation": "create",
                    "tableId": "trainings",
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "user_id",
                                "fieldValue": "={{ $json.user_id }}"
                            },
                            {
                                "fieldId": "date",
                                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                            },
                            {
                                "fieldId": "day_of_week",
                                "fieldValue": "={{ $now.format('EEEE').toLowerCase() }}"
                            },
                            {
                                "fieldId": "type",
                                "fieldValue": "={{ $json.training_data.type || 'easy_run' }}"
                            },
                            {
                                "fieldId": "distance_km",
                                "fieldValue": "={{ $json.training_data.distance_km }}"
                            },
                            {
                                "fieldId": "duration_seconds",
                                "fieldValue": "={{ $json.training_data.duration_seconds }}"
                            },
                            {
                                "fieldId": "avg_pace_seconds",
                                "fieldValue": "={{ $json.training_data.avg_pace_seconds }}"
                            },
                            {
                                "fieldId": "avg_heart_rate",
                                "fieldValue": "={{ $json.training_data.avg_heart_rate }}"
                            },
                            {
                                "fieldId": "max_heart_rate",
                                "fieldValue": "={{ $json.training_data.max_heart_rate }}"
                            },
                            {
                                "fieldId": "calories",
                                "fieldValue": "={{ $json.training_data.calories }}"
                            },
                            {
                                "fieldId": "elevation_gain_m",
                                "fieldValue": "={{ $json.training_data.elevation_gain_m }}"
                            },
                            {
                                "fieldId": "source",
                                "fieldValue": "screenshot"
                            },
                            {
                                "fieldId": "is_planned",
                                "fieldValue": "={{ false }}"
                            }
                        ]
                    }
                },
                "name": "Save Photo Training",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    2640,
                    100
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "format-photo-response",
                "parameters": {
                    "functionCode": "const parseData = $('Parse Vision Response').first().json;\nconst td = parseData.training_data || {};\n\nconst formatPace = (s) => {\n  if (!s) return 'н/д';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = '📝 Тренировка записана!\\n\\n';\ntext += '• Дистанция: ' + (td.distance_km || 'н/д') + ' км\\n';\ntext += '• Время: ' + (td.duration_seconds ? Math.floor(td.duration_seconds/60) + ' мин' : 'н/д') + '\\n';\ntext += '• Темп: ' + formatPace(td.avg_pace_seconds) + '/км\\n';\nif (td.avg_heart_rate) text += '• Пульс: ' + td.avg_heart_rate + ' уд/мин\\n';\nif (td.calories) text += '• Калории: ' + td.calories + '\\n';\nif (td.elevation_gain_m) text += '• Набор высоты: ' + td.elevation_gain_m + ' м\\n';\ntext += '\\n💪 Отличная работа!';\n\nreturn [{\n  json: {\n    chat_id: parseData.chat_id,\n    response_text: text\n  }\n}];"
                },
                "name": "Format Photo Response",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2840,
                    100
                ]
            },
            {
                "id": "send-photo-response",
                "parameters": {
                    "operation": "sendMessage",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "text": "={{ $json.response_text }}",
                    "additionalFields": {
                        "appendAttribution": false
                    }
                },
                "name": "Send Photo Response",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    3040,
                    100
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "send-not-recognized",
                "parameters": {
                    "operation": "sendMessage",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "text": "={{ $json.response_text }}",
                    "additionalFields": {
                        "appendAttribution": false
                    }
                },
                "name": "Send Not Recognized",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    2640,
                    300
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "user-not-found",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $json.userExists }}",
                                "rightValue": false,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "User Not Found?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    1640,
                    500
                ]
            },
            {
                "id": "create-user",
                "parameters": {
                    "operation": "create",
                    "tableId": "users",
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "telegram_id",
                                "fieldValue": "={{ $json.telegram_id }}"
                            },
                            {
                                "fieldId": "username",
                                "fieldValue": "={{ $json.username }}"
                            },
                            {
                                "fieldId": "first_name",
                                "fieldValue": "={{ $json.first_name }}"
                            },
                            {
                                "fieldId": "last_name",
                                "fieldValue": "={{ $json.last_name }}"
                            },
                            {
                                "fieldId": "onboarding_stage",
                                "fieldValue": "started"
                            },
                            {
                                "fieldId": "language",
                                "fieldValue": "ru"
                            }
                        ]
                    }
                },
                "name": "Create User",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    1840,
                    400
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "get-user-again",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "users",
                    "returnAll": false,
                    "limit": 1,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "telegram_id",
                                "condition": "eq",
                                "keyValue": "={{ $('Check User').first().json.telegram_id }}"
                            }
                        ]
                    }
                },
                "name": "Get User Again",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    2040,
                    400
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "prepare-new-user",
                "parameters": {
                    "functionCode": "const messageData = $('Check User').first().json;\nconst userData = items[0].json;\nreturn [{\n  json: {\n    userExists: true,\n    user_id: userData.id,\n    first_name: userData.first_name || messageData.first_name,\n    onboarding_stage: userData.onboarding_stage || 'started',\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_id: messageData.message_id,\n    active_plan: null,\n    recent_trainings: []\n  }\n}];"
                },
                "name": "Prepare New User Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2240,
                    400
                ]
            },
            {
                "id": "get-active-plan",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "weekly_plans",
                    "returnAll": false,
                    "limit": 1,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "user_id",
                                "condition": "eq",
                                "keyValue": "={{ $('Check User').first().json.user_id }}"
                            },
                            {
                                "keyName": "status",
                                "condition": "eq",
                                "keyValue": "active"
                            }
                        ]
                    },
                    "options": {
                        "orderByColumn": "created_at",
                        "orderType": "desc"
                    }
                },
                "name": "Get Active Plan",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    1840,
                    600
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "get-recent-trainings",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "trainings",
                    "returnAll": false,
                    "limit": 10,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "user_id",
                                "condition": "eq",
                                "keyValue": "={{ $('Check User').first().json.user_id }}"
                            }
                        ]
                    },
                    "options": {
                        "orderByColumn": "date",
                        "orderType": "desc"
                    }
                },
                "name": "Get Recent Trainings",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    2040,
                    600
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "merge-context",
                "parameters": {
                    "functionCode": "const checkUserData = $('Check User').first().json;\nconst planItems = $('Get Active Plan').all();\nconst trainingItems = $('Get Recent Trainings').all();\nconst strategyItems = items;\n\nlet activePlan = null;\nif (planItems.length > 0 && planItems[0].json && planItems[0].json.id) {\n  activePlan = planItems[0].json;\n}\n\nlet recentTrainings = [];\nif (trainingItems.length > 0) {\n  recentTrainings = trainingItems.map(t => t.json).filter(t => t && t.id);\n}\n\nlet activeStrategy = null;\nif (strategyItems.length > 0 && strategyItems[0].json && strategyItems[0].json.id) {\n  activeStrategy = strategyItems[0].json;\n}\n\nreturn [{\n  json: {\n    ...checkUserData,\n    active_plan: activePlan,\n    recent_trainings: recentTrainings,\n    active_strategy: activeStrategy\n  }\n}];"
                },
                "name": "Merge Context",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2340,
                    600
                ]
            },
            {
                "id": "merge-flows",
                "parameters": {
                    "mode": "append",
                    "options": {}
                },
                "name": "Merge User Flows",
                "type": "n8n-nodes-base.merge",
                "typeVersion": 3,
                "position": [
                    2440,
                    500
                ]
            },
            {
                "id": "prepare-data",
                "parameters": {
                    "functionCode": "const data = items[0].json;\nconst message = data.message_text;\nconst stage = data.onboarding_stage || 'started';\nconst firstName = data.first_name || 'друг';\n\nlet systemPrompt = '';\nlet nextStage = stage;\nlet isPlanGeneration = false;\n\nconst JSON_FORMAT = 'Ответь JSON: {\"extracted\": {...}, \"response\": \"текст\"}. НЕ используй * _ ` [ ]';\n\nconst formatPace = (sec) => {\n  if (!sec) return 'н/д';\n  return Math.floor(sec/60) + ':' + (sec%60).toString().padStart(2,'0');\n};\n\n// Контекст тренировок\nlet trainingsContext = '';\nconst trainings = data.recent_trainings || [];\nif (trainings.length > 0) {\n  trainingsContext = '\\n\\nУ ПОЛЬЗОВАТЕЛЯ ЕСТЬ ' + trainings.length + ' ЗАПИСАННЫХ ТРЕНИРОВОК:\\n';\n  trainings.slice(0, 10).forEach(t => {\n    trainingsContext += '• ' + t.date + ': ' + (t.distance_km || '?') + ' км';\n    if (t.duration_seconds) trainingsContext += ', ' + Math.round(t.duration_seconds/60) + ' мин';\n    if (t.avg_pace_seconds) trainingsContext += ', темп ' + formatPace(t.avg_pace_seconds) + '/км';\n    if (t.avg_heart_rate) trainingsContext += ', пульс ' + t.avg_heart_rate;\n    if (t.type) trainingsContext += ' (' + t.type + ')';\n    trainingsContext += '\\n';\n  });\n} else {\n  trainingsContext = '\\n\\nТренировок пока не записано.\\n';\n}\n\n// Контекст плана\nlet planContext = '';\nif (data.active_plan && data.active_plan.plan_data) {\n  try {\n    const pd = typeof data.active_plan.plan_data === 'string' ? JSON.parse(data.active_plan.plan_data) : data.active_plan.plan_data;\n    planContext = '\\nАКТИВНЫЙ ПЛАН: ' + (pd.raw_plan || '').substring(0, 500);\n  } catch(e) {}\n}\n\n// Контекст стратегии\nlet strategyContext = '';\nlet currentPhase = null;\nif (data.active_strategy && data.active_strategy.phases) {\n  try {\n    const strategy = data.active_strategy;\n    const phases = typeof strategy.phases === 'string' ? JSON.parse(strategy.phases) : strategy.phases;\n    const startDate = new Date(strategy.start_date);\n    const now = new Date();\n    const weeksSinceStart = Math.max(1, Math.ceil((now - startDate) / (7 * 24 * 60 * 60 * 1000)));\n\n    for (const phase of phases) {\n      if (weeksSinceStart >= phase.start_week && weeksSinceStart <= phase.end_week) {\n        currentPhase = phase;\n        break;\n      }\n    }\n\n    strategyContext = '\\n\\nСТРАТЕГИЯ ПОДГОТОВКИ:';\n    strategyContext += '\\n• Цель: ' + (strategy.race_distance || '') + (strategy.race_date ? ' (' + strategy.race_date + ')' : '');\n    strategyContext += '\\n• Всего недель: ' + strategy.total_weeks + ', текущая неделя: ' + weeksSinceStart;\n    if (currentPhase) {\n      strategyContext += '\\n• Текущая фаза: ' + currentPhase.display_name + ' (нед. ' + currentPhase.start_week + '-' + currentPhase.end_week + ')';\n      strategyContext += '\\n• Фокус: ' + currentPhase.focus;\n      strategyContext += '\\n• Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км/нед';\n      strategyContext += '\\n• Ключевые тренировки: ' + (currentPhase.key_workouts || []).join(', ');\n    }\n    strategyContext += '\\n• Все фазы: ';\n    phases.forEach(p => {\n      const isCurrent = (currentPhase && p.name === currentPhase.name) ? ' [ТЕКУЩАЯ]' : '';\n      strategyContext += p.display_name + ' (нед.' + p.start_week + '-' + p.end_week + ')' + isCurrent + ', ';\n    });\n    strategyContext += '\\n';\n  } catch(e) {\n    strategyContext = '';\n  }\n}\n\nif (stage !== 'completed') {\n  // Данные профиля для контекста\n  const profileInfo = 'Данные пользователя: '\n    + (data.race_distance ? 'дистанция=' + data.race_distance + ', ' : '')\n    + (data.race_date ? 'дата=' + data.race_date + ', ' : '')\n    + (data.target_time_seconds ? 'цель=' + data.target_time_seconds + 'сек, ' : '')\n    + (data.weekly_runs ? 'тренировок/нед=' + data.weekly_runs + ', ' : '')\n    + (data.level ? 'уровень=' + data.level : '');\n\n  const prompts = {\n    'started': 'Приветствуй ' + firstName + '. Представься AI-тренером по бегу. Спроси уровень: новичок/любитель/продвинутый. ' + JSON_FORMAT,\n    'profile': 'Определи level: beginner/intermediate/advanced. Спроси возраст. ' + JSON_FORMAT + ' extracted: {level: ...}',\n    'physical': 'Извлеки age. Спроси рост и вес. ' + JSON_FORMAT + ' extracted: {age: число}',\n    'heart_rate': 'Извлеки height_cm, weight_kg. Спроси пульс покоя. ' + JSON_FORMAT + ' extracted: {height_cm, weight_kg}',\n    'running_info': 'Извлеки resting_hr. Спроси темп на 5км. ' + JSON_FORMAT + ' extracted: {resting_hr}',\n    'lab_testing': 'Извлеки current_5k_pace_seconds (темп в сек/км). Спроси про VO2max тест. ' + JSON_FORMAT + ' extracted: {current_5k_pace_seconds}',\n    'training_freq': 'Извлеки has_lab_testing. Спроси дней в неделю (3-6). ' + JSON_FORMAT + ' extracted: {has_lab_testing, vo2max?, lthr?}',\n    'race_details': 'Извлеки weekly_runs (число). Также если пользователь указал дистанцию/дату/цель забега - извлеки их тоже. '\n      + 'Спроси дистанцию забега, дату, целевое время. '\n      + 'В конце ответа скажи: \"Отлично! Сейчас составлю стратегию подготовки!\" '\n      + JSON_FORMAT + ' extracted: {weekly_runs, race_distance: 5k/10k/half/marathon, race_date: YYYY-MM-DD, target_time_seconds: число}',\n    'strategy_preview': profileInfo + '\\n\\n'\n      + 'ИСПОЛЬЗУЙ ДАННЫЕ ПОЛЬЗОВАТЕЛЯ ВЫШЕ. Если в сообщении есть новые данные - используй их.\\n\\n'\n      + 'СГЕНЕРИРУЙ СТРАТЕГИЮ ПОДГОТОВКИ К ЗАБЕГУ:\\n'\n      + '1. Рассчитай количество недель от сегодня до даты забега\\n'\n      + '2. Раздели подготовку на 4 фазы:\\n'\n      + '   - base (базовый): ~30% недель\\n'\n      + '   - development (развитие): ~30% недель\\n'\n      + '   - specialization (специализация): ~25% недель\\n'\n      + '   - taper (тейпер): ~15% недель (мин 1, макс 3)\\n'\n      + '3. Для каждой фазы: start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts, intensity_distribution\\n'\n      + '4. В response покажи красивый обзор стратегии\\n\\n'\n      + JSON_FORMAT + '\\n'\n      + 'extracted: { race_distance: ' + (data.race_distance || 'half') + ', race_date: ' + (data.race_date || new Date(Date.now() + 16*7*24*60*60*1000).toISOString().split('T')[0]) + ', target_time_seconds: ' + (data.target_time_seconds || 6300) + ', strategy_generated: true, total_weeks: число, strategy_summary: \"краткое описание\", phases: [{name, display_name, start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts: [...], intensity_distribution}] }'\n  };\n  systemPrompt = prompts[stage] || prompts['started'];\n  const nextStages = {started:'profile', profile:'physical', physical:'heart_rate', heart_rate:'running_info', running_info:'lab_testing', lab_testing:'training_freq', training_freq:'race_details', race_details:'strategy_preview', strategy_preview:'completed'};\n  nextStage = nextStages[stage] || stage;\n} else {\n  const isStrategyQuestion = /стратег|фаз[аыуеи]|период|этап подготовки|план подготовки|как.*иду|долгосроч|подготов.*забег/i.test(message);\n\n  if (isStrategyQuestion && data.active_strategy) {\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.'\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает о стратегии: \"' + message + '\"'\n      + '\\n\\nОтветь подробно о текущей фазе, прогрессе и что впереди.'\n      + '\\n\\n' + JSON_FORMAT;\n  } else if (/план|состав|давай|начн|готов|тренировк|недел/i.test(message)) {\n    isPlanGeneration = true;\n    systemPrompt = 'AI-тренер для ' + firstName + '. Составь план на неделю (' + (data.weekly_runs || 3) + ' тренировок).'\n      + strategyContext + trainingsContext + planContext\n      + (currentPhase ? '\\n\\nВАЖНО: План должен соответствовать ТЕКУЩЕЙ ФАЗЕ: ' + currentPhase.display_name + '. Фокус: ' + currentPhase.focus + '. Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км.' : '')\n      + ' ' + JSON_FORMAT + ' extracted: {plan_generated: true, total_km: число}';\n  } else {\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.'\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает: \"' + message + '\"'\n      + '\\n\\nПРАВИЛА ОТВЕТА:\\n1. Используй ДАННЫЕ ТРЕНИРОВОК выше'\n      + '\\n2. Если есть стратегия - учитывай текущую фазу'\n      + '\\n3. Будь конкретным: указывай цифры'\n      + '\\n4. Дай краткую оценку и совет'\n      + '\\n\\n' + JSON_FORMAT;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_text: message,\n    message_id: data.message_id,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    is_plan_generation: isPlanGeneration,\n    weekly_runs: data.weekly_runs\n  }\n}];"
                },
                "name": "Prepare Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2640,
                    500
                ]
            },
            {
                "id": "call-openai",
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/chat/completions",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "openAiApi",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
                },
                "name": "Call OpenAI",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2840,
                    500
                ],
                "credentials": {
                    "openAiApi": {
                        "id": "koikxNcf4ds6vKgZ",
                        "name": "OpenAI - Running Coach"
                    }
                }
            },
            {
                "id": "extract-response",
                "parameters": {
                    "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\nconst aiContent = response.choices[0].message.content;\n\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {}\n\nresponseText = responseText.replace(/\\*/g, '•').replace(/_/g, ' ').replace(/`/g, \"'\").replace(/\\[/g, '(').replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    is_plan_generation: prepareData.is_plan_generation,\n    weekly_runs: prepareData.weekly_runs\n  }\n}];"
                },
                "name": "Extract Response",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    3040,
                    500
                ]
            },
            {
                "id": "send-telegram",
                "parameters": {
                    "operation": "sendMessage",
                    "chatId": "={{ $json.chat_id.toString() }}",
                    "text": "={{ $json.response_text }}",
                    "additionalFields": {
                        "appendAttribution": false
                    }
                },
                "name": "Send to Telegram",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    3240,
                    500
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "is-onboarding",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $('Extract Response').first().json.onboarding_stage }}",
                                "rightValue": "completed",
                                "operator": {
                                    "type": "string",
                                    "operation": "notEquals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Is Onboarding?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    3440,
                    500
                ]
            },
            {
                "id": "build-update",
                "parameters": {
                    "functionCode": "const data = $('Extract Response').first().json;\nconst ext = data.extracted_data || {};\nconst updateFields = {};\nlet nextStage = data.next_stage;\n\nif (data.onboarding_stage === 'started') updateFields.goal = 'race';\nif (data.onboarding_stage === 'strategy_preview' && ext.strategy_generated) nextStage = 'completed';\nif (nextStage && nextStage !== data.onboarding_stage) updateFields.onboarding_stage = nextStage;\n\n['level','age','height_cm','weight_kg','current_5k_pace_seconds','weekly_runs','race_distance','race_date','target_time_seconds','resting_hr','max_hr','has_lab_testing','vo2max','lthr'].forEach(k => { if (ext[k] !== undefined) updateFields[k] = ext[k]; });\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0,\n    is_strategy_stage: data.onboarding_stage === 'strategy_preview' && ext.strategy_generated === true\n  }\n}];"
                },
                "name": "Build Update Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    3640,
                    400
                ]
            },
            {
                "id": "has-updates",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $json.has_updates }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Has Updates?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    3840,
                    400
                ]
            },
            {
                "id": "update-user",
                "parameters": {
                    "operation": "update",
                    "tableId": "users",
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "id",
                                "condition": "eq",
                                "keyValue": "={{ $json.user_id }}"
                            }
                        ]
                    },
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "onboarding_stage",
                                "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
                            },
                            {
                                "fieldId": "level",
                                "fieldValue": "={{ $json.update_fields.level }}"
                            },
                            {
                                "fieldId": "age",
                                "fieldValue": "={{ $json.update_fields.age }}"
                            },
                            {
                                "fieldId": "weekly_runs",
                                "fieldValue": "={{ $json.update_fields.weekly_runs }}"
                            },
                            {
                                "fieldId": "race_date",
                                "fieldValue": "={{ $json.update_fields.race_date }}"
                            },
                            {
                                "fieldId": "race_distance",
                                "fieldValue": "={{ $json.update_fields.race_distance }}"
                            },
                            {
                                "fieldId": "resting_hr",
                                "fieldValue": "={{ $json.update_fields.resting_hr }}"
                            }
                        ]
                    }
                },
                "name": "Update User Profile",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    4040,
                    300
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "is-plan-gen",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c1",
                                "leftValue": "={{ $('Extract Response').first().json.is_plan_generation }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Is Plan Generation?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    3640,
                    600
                ]
            },
            {
                "id": "save-plan",
                "parameters": {
                    "operation": "create",
                    "tableId": "weekly_plans",
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "user_id",
                                "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
                            },
                            {
                                "fieldId": "week_start",
                                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                            },
                            {
                                "fieldId": "plan_data",
                                "fieldValue": "={{ JSON.stringify({raw_plan: $('Extract Response').first().json.response_text}) }}"
                            },
                            {
                                "fieldId": "status",
                                "fieldValue": "active"
                            }
                        ]
                    }
                },
                "name": "Save Plan",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    3840,
                    600
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "download-photo-telegram",
                "parameters": {
                    "resource": "file",
                    "operation": "get",
                    "fileId": "={{ $(\"Check User\").first().json.photo_file_id }}",
                    "download": true
                },
                "name": "Download Photo",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    1640,
                    200
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "SLNhx6dJUSPFBV35",
                        "name": "Telegram Bot - Running Coach"
                    }
                }
            },
            {
                "id": "move-binary-to-json",
                "parameters": {
                    "mode": "binaryToJson",
                    "setAllData": false,
                    "sourceKey": "data",
                    "destinationKey": "base64_image",
                    "options": {
                        "keepAsBase64": true
                    }
                },
                "name": "Binary to Base64",
                "type": "n8n-nodes-base.moveBinaryData",
                "typeVersion": 1,
                "position": [
                    1840,
                    200
                ]
            },
            {
                "id": "prepare-vision-data",
                "parameters": {
                    "functionCode": "const checkUserData = $(\"Check User\").first().json;\nconst base64Data = items[0].json.base64_image;\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id,\n    base64_image: base64Data,\n    mime_type: \"image/jpeg\"\n  }\n}];"
                },
                "name": "Prepare Vision Data",
                "type": "n8n-nodes-base.function",
                "typeVersion": 1,
                "position": [
                    2040,
                    200
                ]
            },
            {
                "id": "call-gpt4o-vision",
                "parameters": {
                    "method": "POST",
                    "url": "https://api.openai.com/v1/chat/completions",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "openAiApi",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Распознай тренировку с фото. Верни JSON: {\\\"recognized\\\": true/false, \\\"data\\\": {\\\"distance_km\\\": число, \\\"duration_seconds\\\": число, \\\"avg_pace_seconds\\\": число, \\\"avg_heart_rate\\\": число или null, \\\"type\\\": \\\"easy_run\\\"/\\\"tempo\\\"/\\\"intervals\\\"}, \\\"response\\\": \\\"текст\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mime_type }};base64,{{ $json.base64_image }}\"\n          }\n        },\n        {\n          \"type\": \"text\", \n          \"text\": \"Распознай тренировку\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
                },
                "name": "GPT-4o Vision",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2240,
                    200
                ],
                "credentials": {
                    "openAiApi": {
                        "id": "koikxNcf4ds6vKgZ",
                        "name": "OpenAI - Running Coach"
                    }
                }
            },
            {
                "id": "get-strategy",
                "parameters": {
                    "operation": "getAll",
                    "tableId": "training_strategies",
                    "returnAll": false,
                    "limit": 1,
                    "filterType": "manual",
                    "matchType": "allFilters",
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "user_id",
                                "condition": "eq",
                                "keyValue": "={{ $('Check User').first().json.user_id }}"
                            },
                            {
                                "keyName": "status",
                                "condition": "eq",
                                "keyValue": "active"
                            }
                        ]
                    },
                    "options": {
                        "orderByColumn": "created_at",
                        "orderType": "desc"
                    }
                },
                "name": "Get Strategy",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    2140,
                    600
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            },
            {
                "id": "is-strategy-stage",
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "strategy-check",
                                "leftValue": "={{ $('Build Update Data').first().json.is_strategy_stage }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "name": "Is Strategy Stage?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    4240,
                    300
                ]
            },
            {
                "id": "save-strategy",
                "parameters": {
                    "operation": "create",
                    "tableId": "training_strategies",
                    "dataToSend": "defineBelow",
                    "fieldsUi": {
                        "fieldValues": [
                            {
                                "fieldId": "user_id",
                                "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
                            },
                            {
                                "fieldId": "goal_type",
                                "fieldValue": "race"
                            },
                            {
                                "fieldId": "race_distance",
                                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_distance }}"
                            },
                            {
                                "fieldId": "race_date",
                                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
                            },
                            {
                                "fieldId": "target_time_seconds",
                                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.target_time_seconds }}"
                            },
                            {
                                "fieldId": "total_weeks",
                                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.total_weeks }}"
                            },
                            {
                                "fieldId": "phases",
                                "fieldValue": "={{ JSON.stringify($('Extract Response').first().json.extracted_data.phases) }}"
                            },
                            {
                                "fieldId": "summary",
                                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.strategy_summary }}"
                            },
                            {
                                "fieldId": "start_date",
                                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
                            },
                            {
                                "fieldId": "end_date",
                                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
                            },
                            {
                                "fieldId": "status",
                                "fieldValue": "active"
                            }
                        ]
                    }
                },
                "name": "Save Strategy",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    4440,
                    200
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "CJ3Z1MvRt6BxblaB",
                        "name": "Supabase - Running Coach"
                    }
                }
            }
        ],
        "connections": {
            "TelegramTrigger": {
                "main": [
                    [
                        {
                            "node": "Extract Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Extract Message": {
                "main": [
                    [
                        {
                            "node": "Get User",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get User": {
                "main": [
                    [
                        {
                            "node": "Check User",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check User": {
                "main": [
                    [
                        {
                            "node": "Show Typing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Show Typing": {
                "main": [
                    [
                        {
                            "node": "Route After Typing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Route After Typing": {
                "main": [
                    [
                        {
                            "node": "Is Photo?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Photo?": {
                "main": [
                    [
                        {
                            "node": "Download Photo",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "User Not Found?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "GPT-4o Vision": {
                "main": [
                    [
                        {
                            "node": "Parse Vision Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Vision Response": {
                "main": [
                    [
                        {
                            "node": "Training Recognized?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Training Recognized?": {
                "main": [
                    [
                        {
                            "node": "Save Photo Training",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Send Not Recognized",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save Photo Training": {
                "main": [
                    [
                        {
                            "node": "Format Photo Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Photo Response": {
                "main": [
                    [
                        {
                            "node": "Send Photo Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "User Not Found?": {
                "main": [
                    [
                        {
                            "node": "Create User",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Get Active Plan",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create User": {
                "main": [
                    [
                        {
                            "node": "Get User Again",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get User Again": {
                "main": [
                    [
                        {
                            "node": "Prepare New User Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare New User Data": {
                "main": [
                    [
                        {
                            "node": "Merge User Flows",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Active Plan": {
                "main": [
                    [
                        {
                            "node": "Get Recent Trainings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Recent Trainings": {
                "main": [
                    [
                        {
                            "node": "Get Strategy",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Context": {
                "main": [
                    [
                        {
                            "node": "Merge User Flows",
                            "type": "main",
                            "index": 1
                        }
                    ]
                ]
            },
            "Merge User Flows": {
                "main": [
                    [
                        {
                            "node": "Prepare Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Data": {
                "main": [
                    [
                        {
                            "node": "Call OpenAI",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call OpenAI": {
                "main": [
                    [
                        {
                            "node": "Extract Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Extract Response": {
                "main": [
                    [
                        {
                            "node": "Send to Telegram",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send to Telegram": {
                "main": [
                    [
                        {
                            "node": "Is Onboarding?",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Is Plan Generation?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Onboarding?": {
                "main": [
                    [
                        {
                            "node": "Build Update Data",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Build Update Data": {
                "main": [
                    [
                        {
                            "node": "Has Updates?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has Updates?": {
                "main": [
                    [
                        {
                            "node": "Update User Profile",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Is Plan Generation?": {
                "main": [
                    [
                        {
                            "node": "Save Plan",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Download Photo": {
                "main": [
                    [
                        {
                            "node": "Binary to Base64",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Binary to Base64": {
                "main": [
                    [
                        {
                            "node": "Prepare Vision Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Vision Data": {
                "main": [
                    [
                        {
                            "node": "GPT-4o Vision",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Strategy": {
                "main": [
                    [
                        {
                            "node": "Merge Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Update User Profile": {
                "main": [
                    [
                        {
                            "node": "Is Strategy Stage?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Strategy Stage?": {
                "main": [
                    [
                        {
                            "node": "Save Strategy",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            }
        },
        "authors": "Nikita Kuznetsov",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-06T23:32:40.268Z",
                "id": 427,
                "workflowId": "7Ar459SadzSXgUEv",
                "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
                "event": "activated",
                "userId": "70308841-4ee1-48e9-854d-73f215836be6"
            }
        ]
    }
}