n8n-workflows/workflow-main-chatbot-v2.json
{
  "name": "AI Running Coach - Main Chatbot",
  "nodes": [
    {
      "id": "telegram-trigger",
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      }
    },
    {
      "id": "extract-message",
      "parameters": {
        "functionCode": "const msg = items[0].json.message;\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || '',\n    message_id: msg.message_id\n  }\n}];"
      },
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "id": "get-user",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "check-user",
      "parameters": {
        "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n}"
      },
      "name": "Check User",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        400
      ]
    },
    {
      "id": "user-not-found",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.userExists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "User Not Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ]
    },
    {
      "id": "create-user",
      "parameters": {
        "operation": "create",
        "tableId": "users",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.telegram_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "started"
            },
            {
              "fieldId": "language",
              "fieldValue": "ru"
            }
          ]
        }
      },
      "name": "Create User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-user-again",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').first().json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User Again",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "prepare-data",
      "parameters": {
        "functionCode": "const checkUserData = $('Check User').first().json;\nlet userData, messageData;\n\nif (checkUserData.userExists) {\n  userData = {\n    id: checkUserData.user_id,\n    first_name: checkUserData.first_name,\n    onboarding_stage: checkUserData.onboarding_stage || 'started',\n    level: checkUserData.level,\n    weekly_runs: checkUserData.weekly_runs,\n    goal: checkUserData.goal,\n    age: checkUserData.age,\n    height_cm: checkUserData.height_cm,\n    weight_kg: checkUserData.weight_kg,\n    current_5k_pace_seconds: checkUserData.current_5k_pace_seconds\n  };\n  messageData = {\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id\n  };\n} else {\n  userData = items[0].json;\n  userData.onboarding_stage = 'started';\n  messageData = {\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id\n  };\n}\n\nconst message = messageData.message_text;\nconst stage = userData.onboarding_stage;\nconst firstName = userData.first_name || 'друг';\n\nlet intent = 'general';\nlet systemPrompt = '';\nlet nextStage = stage;\n\nconst JSON_FORMAT = 'Формат ответа — ТОЛЬКО JSON: {\"extracted\": {...}, \"response\": \"текст\"}';\n\nif (stage !== 'completed') {\n  intent = 'onboarding';\n\n  switch (stage) {\n    case 'started':\n      systemPrompt = `Ты AI-тренер по бегу. Пользователь ${firstName} только что запустил бота.\n\nЗАДАЧА — написать приветственное сообщение:\n1. Поприветствуй по имени\n2. Представься как AI-тренер по бегу\n3. Кратко опиши что умеет бот:\n   - Составляет персональные планы тренировок\n   - Учитывает уровень подготовки и цели\n   - Помогает прогрессировать безопасно\n4. Задай первый вопрос: какой уровень бега — новичок (бегает меньше года), любитель (1-3 года) или продвинутый (более 3 лет)?\n\n${JSON_FORMAT}\nextracted: {}`;\n      nextStage = 'profile';\n      break;\n\n    case 'profile':\n      systemPrompt = `AI-тренер. ${firstName} ответил про уровень бега. НЕ здоровайся — диалог уже идёт.\n\nЗАДАЧА:\n1. Определи уровень: beginner (новичок), intermediate (любитель), advanced (продвинутый)\n2. Коротко подтверди выбор\n3. Спроси возраст — нужен для расчёта пульсовых зон\n\n${JSON_FORMAT}\nextracted: {\"level\": \"beginner\"|\"intermediate\"|\"advanced\"}`;\n      nextStage = 'physical';\n      break;\n\n    case 'physical':\n      systemPrompt = `AI-тренер. ${firstName} указал возраст. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки возраст\n2. Спроси рост (см) и вес (кг) — нужно для безопасного планирования нагрузок\n\n${JSON_FORMAT}\nextracted: {\"age\": число}`;\n      nextStage = 'running_info';\n      break;\n\n    case 'running_info':\n      systemPrompt = `AI-тренер. ${firstName} указал рост и вес. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки рост (см) и вес (кг)\n2. Спроси текущий темп на 5 км (например \"6:00 на км\" или \"пробегаю 5км за 30 минут\"). Если не знает — пусть напишет примерно или \"не знаю\"\n\n${JSON_FORMAT}\nextracted: {\"height_cm\": число, \"weight_kg\": число}`;\n      nextStage = 'goal';\n      break;\n\n    case 'goal':\n      systemPrompt = `AI-тренер. ${firstName} указал темп (или не знает). НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки темп в секундах/км: \"6:00\"=360, \"5:30\"=330, \"30 мин на 5км\"=360. Если не указал — null\n2. Задай последние вопросы:\n   - Сколько дней в неделю готов тренироваться? (2-6)\n   - Какая цель: для здоровья, к забегу, или улучшить результаты?\n\n${JSON_FORMAT}\nextracted: {\"current_5k_pace_seconds\": число|null}`;\n      nextStage = 'completed';\n      break;\n  }\n} else {\n  // Онбординг завершён\n  if (!userData.weekly_runs || !userData.goal) {\n    // Финальное извлечение данных\n    intent = 'onboarding';\n    systemPrompt = `AI-тренер. ${firstName} ответил на финальные вопросы. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки:\n   - weekly_runs: сколько дней в неделю (число 2-6)\n   - goal: \"general\" (здоровье), \"race\" (к забегу), \"improvement\" (улучшить)\n2. Поздравь — профиль готов!\n3. Предложи составить план тренировок на первую неделю\n\n${JSON_FORMAT}\nextracted: {\"weekly_runs\": число, \"goal\": \"general\"|\"race\"|\"improvement\"}`;\n  } else {\n    // Полноценный режим тренера\n    const levelRu = userData.level === 'beginner' ? 'новичок' :\n                    userData.level === 'intermediate' ? 'любитель' : 'продвинутый';\n\n    const goalRu = userData.goal === 'general' ? 'поддержание формы' :\n                   userData.goal === 'race' ? 'подготовка к забегу' : 'улучшение результатов';\n\n    // Расчёт BMI\n    const heightM = userData.height_cm / 100;\n    const bmi = userData.weight_kg / (heightM * heightM);\n    const bmiInfo = bmi >= 30 ? 'BMI высокий — акцент на лёгкие тренировки' : '';\n\n    // Расчёт пульсовых зон по MAF\n    const mafHR = 180 - userData.age;\n\n    // Темп в формате мин:сек\n    const paceMin = Math.floor(userData.current_5k_pace_seconds / 60);\n    const paceSec = userData.current_5k_pace_seconds % 60;\n    const paceStr = userData.current_5k_pace_seconds ? `${paceMin}:${paceSec.toString().padStart(2, '0')}/км` : 'не указан';\n\n    systemPrompt = `Ты AI-тренер по бегу для ${firstName}. НЕ здоровайся.\n\nПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ:\n- Уровень: ${levelRu}\n- Возраст: ${userData.age} лет\n- Рост/вес: ${userData.height_cm} см / ${userData.weight_kg} кг\n- Темп на 5км: ${paceStr}\n- Тренировок в неделю: ${userData.weekly_runs}\n- Цель: ${goalRu}\n- MAF пульс: ${mafHR} уд/мин\n${bmiInfo}\n\nСООБЩЕНИЕ ПОЛЬЗОВАТЕЛЯ: \"${message}\"\n\nЕСЛИ пользователь хочет составить план тренировок (говорит \"давай\", \"составим\", \"план\", \"хочу план\" и т.п.):\n- Составь план на неделю с ${userData.weekly_runs} тренировками\n- Учти уровень ${levelRu} и цель ${goalRu}\n- Для любителя: 2-3 лёгких + 1 длинная + возможно 1 темповая\n- Укажи день, тип тренировки, дистанцию, темп\n- Темп лёгкого бега: +45-60 сек к темпу 5км\n\nИНАЧЕ просто отвечай на вопрос как тренер.\n\n${JSON_FORMAT}\nextracted: {}`;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: userData.id,\n    chat_id: messageData.chat_id,\n    message_text: message,\n    message_id: messageData.message_id,\n    intent: intent,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage\n  }\n}];\n"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1640,
        400
      ]
    },
    {
      "id": "call-openai",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
      },
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "koikxNcf4ds6vKgZ",
          "name": "OpenAI - Running Coach"
        }
      }
    },
    {
      "id": "extract-response",
      "parameters": {
        "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\nconst aiContent = response.choices[0].message.content;\n\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {\n  responseText = aiContent;\n}\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    message_id: prepareData.message_id,\n    user_message: prepareData.message_text,\n    intent: prepareData.intent,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted\n  }\n}];"
      },
      "name": "Extract Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2040,
        400
      ]
    },
    {
      "id": "send-telegram",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id.toString() }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      }
    },
    {
      "id": "is-onboarding",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Extract Response').first().json.intent }}",
              "rightValue": "onboarding",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        400
      ]
    },
    {
      "id": "build-update-data",
      "parameters": {
        "functionCode": "const data = $('Extract Response').first().json;\nconst extractedData = data.extracted_data || {};\n\nconst updateFields = {};\n\nif (data.next_stage && data.next_stage !== data.onboarding_stage) {\n  updateFields.onboarding_stage = data.next_stage;\n}\n\nif (extractedData.level) updateFields.level = extractedData.level;\nif (extractedData.age) updateFields.age = extractedData.age;\nif (extractedData.height_cm) updateFields.height_cm = extractedData.height_cm;\nif (extractedData.weight_kg) updateFields.weight_kg = extractedData.weight_kg;\nif (extractedData.current_5k_pace_seconds) updateFields.current_5k_pace_seconds = extractedData.current_5k_pace_seconds;\nif (extractedData.weekly_runs) updateFields.weekly_runs = extractedData.weekly_runs;\nif (extractedData.goal) updateFields.goal = extractedData.goal;\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0\n  }\n}];\n"
      },
      "name": "Build Update Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2640,
        300
      ]
    },
    {
      "id": "has-updates",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.has_updates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2840,
        300
      ]
    },
    {
      "id": "update-user",
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
            },
            {
              "fieldId": "level",
              "fieldValue": "={{ $json.update_fields.level }}"
            },
            {
              "fieldId": "current_5k_pace_seconds",
              "fieldValue": "={{ $json.update_fields.current_5k_pace_seconds }}"
            },
            {
              "fieldId": "weekly_runs",
              "fieldValue": "={{ $json.update_fields.weekly_runs }}"
            },
            {
              "fieldId": "goal",
              "fieldValue": "={{ $json.update_fields.goal }}"
            },
            {
              "fieldId": "age",
              "fieldValue": "={{ $json.update_fields.age }}"
            },
            {
              "fieldId": "height_cm",
              "fieldValue": "={{ $json.update_fields.height_cm }}"
            },
            {
              "fieldId": "weight_kg",
              "fieldValue": "={{ $json.update_fields.weight_kg }}"
            }
          ]
        }
      },
      "name": "Update User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3040,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    }
  ],
  "connections": {
    "Extract Message": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "User Not Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Not Found?": {
      "main": [
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User": {
      "main": [
        [
          {
            "node": "Get User Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Again": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Is Onboarding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Onboarding?": {
      "main": [
        [
          {
            "node": "Build Update Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Update Data": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Update User Profile",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "TelegramTrigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
