n8n-workflows/workflow-main-chatbot-v6.json
{
  "updatedAt": "2026-02-06T23:32:39.651Z",
  "createdAt": "2026-02-03T14:16:53.371Z",
  "id": "7Ar459SadzSXgUEv",
  "name": "AI Running Coach - Main Chatbot v6 (Knowledge + Hardcoded Onboarding)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "telegram-trigger",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      }
    },
    {
      "id": "extract-message",
      "parameters": {
        "functionCode": "// Поддержка и Telegram Trigger (json.message) и Webhook (json.body.message)\nconst msg = items[0].json.message || (items[0].json.body && items[0].json.body.message);\nif (!msg) throw new Error(\"No message found in input data\");\n\n// Определяем тип сообщения\nlet messageType = 'text';\nlet photoFileId = null;\nlet photoCaption = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  messageType = 'photo';\n  // Берём фото максимального размера (последнее в массиве)\n  photoFileId = msg.photo[msg.photo.length - 1].file_id;\n  photoCaption = msg.caption || '';\n}\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || photoCaption || '',\n    message_id: msg.message_id,\n    message_type: messageType,\n    photo_file_id: photoFileId\n  }\n}];"
      },
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "id": "get-user",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "check-user",
      "parameters": {
        "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      race_date: userData.race_date,\n      race_distance: userData.race_distance,\n      race_distance_km: userData.race_distance_km,\n      preferred_training_days: userData.preferred_training_days,\n      target_time_seconds: userData.target_time_seconds,\n      resting_hr: userData.resting_hr,\n      max_hr: userData.max_hr,\n      has_lab_testing: userData.has_lab_testing,\n      vo2max: userData.vo2max,\n      lthr: userData.lthr,\n      hr_zone1_max: userData.hr_zone1_max,\n      hr_zone2_max: userData.hr_zone2_max,\n      hr_zone3_max: userData.hr_zone3_max,\n      hr_zone4_max: userData.hr_zone4_max,\n      hr_zone5_max: userData.hr_zone5_max,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n}"
      },
      "name": "Check User",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        400
      ]
    },
    {
      "id": "show-typing",
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.chat_id.toString() }}",
        "action": "typing"
      },
      "name": "Show Typing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "route-after-typing",
      "parameters": {
        "functionCode": "const data = $('Check User').first().json;\nreturn [{json: data}];"
      },
      "name": "Route After Typing",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ]
    },
    {
      "id": "is-photo",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "photo-check",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "photo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "completed-check",
              "leftValue": "={{ $json.onboarding_stage }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Photo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        400
      ]
    },
    {
      "id": "parse-vision-response",
      "parameters": {
        "functionCode": "const checkUserData = $('Check User').first().json;\nconst visionResponse = items[0].json;\nconst aiContent = visionResponse.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiContent);\n} catch (e) {\n  parsed = {\n    recognized: false,\n    response: 'Ошибка при обработке фото. Попробуй ещё раз или напиши результат текстом.'\n  };\n}\n\n// Очищаем текст для Telegram\nlet responseText = parsed.response || 'Фото обработано';\nresponseText = responseText\n  .replace(/\\*/g, '•')\n  .replace(/_/g, ' ')\n  .replace(/`/g, \"'\")\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_id: checkUserData.message_id,\n    recognized: parsed.recognized || false,\n    confidence: parsed.confidence || 'low',\n    training_data: parsed.data || null,\n    source_app: parsed.source_app || null,\n    response_text: responseText,\n    is_photo_training: true\n  }\n}];"
      },
      "name": "Parse Vision Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2240,
        200
      ]
    },
    {
      "id": "is-training-recognized",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "recognized-check",
              "leftValue": "={{ $json.recognized }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Training Recognized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        200
      ]
    },
    {
      "id": "save-photo-training",
      "parameters": {
        "operation": "create",
        "tableId": "trainings",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "day_of_week",
              "fieldValue": "={{ $now.format('EEEE').toLowerCase() }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.training_data.type || 'easy_run' }}"
            },
            {
              "fieldId": "distance_km",
              "fieldValue": "={{ $json.training_data.distance_km }}"
            },
            {
              "fieldId": "duration_seconds",
              "fieldValue": "={{ $json.training_data.duration_seconds }}"
            },
            {
              "fieldId": "avg_pace_seconds",
              "fieldValue": "={{ $json.training_data.avg_pace_seconds }}"
            },
            {
              "fieldId": "avg_heart_rate",
              "fieldValue": "={{ $json.training_data.avg_heart_rate }}"
            },
            {
              "fieldId": "max_heart_rate",
              "fieldValue": "={{ $json.training_data.max_heart_rate }}"
            },
            {
              "fieldId": "calories",
              "fieldValue": "={{ $json.training_data.calories }}"
            },
            {
              "fieldId": "elevation_gain_m",
              "fieldValue": "={{ $json.training_data.elevation_gain_m }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "screenshot"
            },
            {
              "fieldId": "is_planned",
              "fieldValue": "={{ false }}"
            },
            {
              "fieldId": "screenshot_count",
              "fieldValue": "1"
            }
          ]
        }
      },
      "name": "Save Photo Training",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3240,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "format-photo-response",
      "parameters": {
        "functionCode": "const parseData = $('Parse Vision Response').first().json;\nconst td = parseData.training_data || {};\n\n// Check if save failed (duplicate)\nconst saveResult = items[0].json;\nconst isDuplicate = saveResult.error || saveResult.code === '23505';\n\nconst formatPace = (s) => {\n  if (!s) return 'н/д';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = '';\nif (isDuplicate) {\n  text = 'Эта тренировка уже записана! Похожая запись за сегодня уже есть в базе.';\n} else {\n  text = 'Тренировка записана!\\n\\n';\n  text += '- Дистанция: ' + (td.distance_km || 'н/д') + ' км\\n';\n  text += '- Время: ' + (td.duration_seconds ? Math.floor(td.duration_seconds/60) + ' мин' : 'н/д') + '\\n';\n  text += '- Темп: ' + formatPace(td.avg_pace_seconds) + '/км\\n';\n  if (td.avg_heart_rate) text += '- Пульс: ' + td.avg_heart_rate + ' уд/мин\\n';\n  if (td.calories) text += '- Калории: ' + td.calories + '\\n';\n  if (td.elevation_gain_m) text += '- Набор высоты: ' + td.elevation_gain_m + ' м\\n';\n  text += '\\nОтличная работа!';\n  text += '\\n\\nЕсли есть второй скриншот из другого приложения - отправь его в течение 3 минут, и я объединю данные.';\n}\n\n// Weekly progress\ntry {\n  const weekTrainings = $('Get Week Trainings (Photo)').all().filter(t => t.json && t.json.id);\n  const checkUser = $('Check User').first().json;\n  const targetSessions = checkUser.weekly_runs || 3;\n\n  const totalSessions = weekTrainings.length;\n  let totalKm = 0;\n  weekTrainings.forEach(t => { totalKm += parseFloat(t.json.distance_km) || 0; });\n\n  let progress = '\\n\\nНа этой неделе: ' + totalSessions + '/' + targetSessions + ' тренировок';\n  progress += ', ' + totalKm.toFixed(1) + ' км';\n\n  try {\n    const strategyItem = $('Get Photo Strategy').first().json;\n    if (strategyItem && strategyItem.phases) {\n      const phases = typeof strategyItem.phases === 'string'\n        ? JSON.parse(strategyItem.phases) : strategyItem.phases;\n      const startDate = new Date(strategyItem.start_date);\n      const now = new Date();\n      const weeksSince = Math.max(1, Math.ceil((now - startDate) / (7*24*60*60*1000)));\n      let currentPhase = null;\n      for (const p of phases) {\n        if (weeksSince >= p.start_week && weeksSince <= p.end_week) {\n          currentPhase = p; break;\n        }\n      }\n      if (currentPhase && currentPhase.target_weekly_km_min) {\n        progress += ' (цель: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км)';\n      }\n    }\n  } catch(e2) {}\n\n  text += progress;\n} catch(e) {}\n\nreturn [{\n  json: {\n    chat_id: parseData.chat_id,\n    response_text: text\n  }\n}];"
      },
      "name": "Format Photo Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3540,
        200
      ]
    },
    {
      "id": "send-photo-response",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id.toString() }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send Photo Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3740,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "send-not-recognized",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id.toString() }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send Not Recognized",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "user-not-found",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.userExists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "User Not Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        500
      ]
    },
    {
      "id": "create-user",
      "parameters": {
        "operation": "create",
        "tableId": "users",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.telegram_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "started"
            },
            {
              "fieldId": "language",
              "fieldValue": "ru"
            }
          ]
        }
      },
      "name": "Create User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-user-again",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').first().json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User Again",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2040,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "prepare-new-user",
      "parameters": {
        "functionCode": "const messageData = $('Check User').first().json;\nconst userData = items[0].json;\nreturn [{\n  json: {\n    userExists: true,\n    user_id: userData.id,\n    first_name: userData.first_name || messageData.first_name,\n    onboarding_stage: userData.onboarding_stage || 'started',\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_id: messageData.message_id,\n    active_plan: null,\n    recent_trainings: []\n  }\n}];"
      },
      "name": "Prepare New User Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2240,
        400
      ]
    },
    {
      "id": "get-active-plan",
      "parameters": {
        "operation": "getAll",
        "tableId": "weekly_plans",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').first().json.user_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        },
        "options": {
          "orderByColumn": "created_at",
          "orderType": "desc"
        }
      },
      "name": "Get Active Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-recent-trainings",
      "parameters": {
        "operation": "getAll",
        "tableId": "trainings",
        "returnAll": false,
        "limit": 10,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').first().json.user_id }}"
            }
          ]
        },
        "options": {
          "orderByColumn": "date",
          "orderType": "desc"
        }
      },
      "name": "Get Recent Trainings",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2040,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "merge-context",
      "parameters": {
        "functionCode": "const checkUserData = $('Check User').first().json;\nconst planItems = $('Get Active Plan').all();\nconst trainingItems = $('Get Recent Trainings').all();\nconst strategyItems = items;\n\nlet activePlan = null;\nif (planItems.length > 0 && planItems[0].json && planItems[0].json.id) {\n  activePlan = planItems[0].json;\n}\n\nlet recentTrainings = [];\nif (trainingItems.length > 0) {\n  recentTrainings = trainingItems.map(t => t.json).filter(t => t && t.id);\n}\n\nlet activeStrategy = null;\nif (strategyItems.length > 0 && strategyItems[0].json && strategyItems[0].json.id) {\n  activeStrategy = strategyItems[0].json;\n}\n\nreturn [{\n  json: {\n    ...checkUserData,\n    active_plan: activePlan,\n    recent_trainings: recentTrainings,\n    active_strategy: activeStrategy\n  }\n}];"
      },
      "name": "Merge Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2340,
        600
      ]
    },
    {
      "id": "merge-flows",
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "name": "Merge User Flows",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2440,
        500
      ]
    },
    {
      "id": "prepare-data",
      "parameters": {
        "functionCode": "// ============================================================\n// Prepare Data v6 — AI Running Coach\n// n8n Function node: builds system prompts with embedded coach knowledge\n// ============================================================\n\nconst data = items[0].json;\nconst message = data.message_text;\nconst stage = data.onboarding_stage || 'started';\nconst firstName = data.first_name || 'друг';\n\nlet systemPrompt = '';\nlet nextStage = stage;\nlet isPlanGeneration = false;\nlet hardcodedResponse = null;\nlet planWeekStart = null;\nlet planWeekEnd = null;\n\n// ============================================================\n// GLOBAL CONSTANTS\n// ============================================================\n\nconst JSON_FORMAT = 'Ответь JSON: {\"extracted\": {...}, \"response\": \"текст\"}. НЕ используй * _ ` [ ]. В response используй \\\\n для переноса строк — разбивай ответ на абзацы и пункты. Когда упоминаешь темп бега, ВСЕГДА добавляй скорость для дорожки в скобках, например: 6:00/км (10.0 км/ч).';\n\nconst daysRu = ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'];\nconst today = new Date();\nconst dateContext = '\\nСЕГОДНЯ: ' + daysRu[today.getDay()] + ', ' + today.toISOString().split('T')[0] + '\\n';\n\n// ============================================================\n// HELPER: formatPace — seconds to \"M:SS\"\n// ============================================================\n\nconst formatPace = (sec) => {\n  if (!sec) return 'н/д';\n  return Math.floor(sec / 60) + ':' + (sec % 60).toString().padStart(2, '0');\n};\n\n// ============================================================\n// HELPER: paceToSpeed — seconds/km to km/h\n// ============================================================\n\nconst paceToSpeed = (sec) => {\n  if (!sec || sec <= 0) return 'н/д';\n  return (3600 / sec).toFixed(1);\n};\n\n// ============================================================\n// EMBEDDED COACH KNOWLEDGE — 5 JSON files as JS constants\n// ============================================================\n\nconst CORE_RULES = {\n  intensity_distribution: {\n    rule: \"80/20\",\n    low_intensity_percent: 80,\n    high_intensity_percent: 20,\n    description: \"80% тренировок на низкой интенсивности (зоны 1-2), 20% на высокой (зона 5). Минимум времени в 'серой зоне' (зоны 3-4).\"\n  },\n  weekly_progression: {\n    max_volume_increase_percent: 10,\n    description: \"Нельзя увеличивать недельный километраж более чем на 10%\",\n    exceptions: \"Для пожилых, после травм или новичков — может быть меньше 10%\"\n  },\n  recovery_rules: {\n    min_rest_days_per_week: 1,\n    hard_easy_principle: true,\n    description: \"Минимум 1 полный день отдыха в неделю. Никогда 2 тяжёлых дня подряд — всегда чередовать.\",\n    deload_week: {\n      frequency: \"каждая 4-я неделя\",\n      volume_reduction_percent: 50,\n      description: \"Разгрузочная неделя с половиной обычной нагрузки\"\n    }\n  },\n  workout_sequencing: {\n    after_hard_workout: [\"rest\", \"easy_run\", \"recovery\"],\n    after_long_run: [\"rest\", \"easy_run\"],\n    never_consecutive: [\"intervals\", \"tempo\", \"long_run\"],\n    description: \"После тяжёлой тренировки — только отдых или лёгкий бег. Нельзя ставить 2 интенсивных подряд.\"\n  },\n  intensity_sessions_limits: {\n    beginner: { max_per_week: 0, description: \"Новичкам — только лёгкие пробежки и длинные\" },\n    intermediate: { max_per_week: 1, description: \"Любителям — максимум 1 интенсивная тренировка в неделю\" },\n    advanced: { max_per_week: 2, description: \"Продвинутым — максимум 2 интенсивных тренировки в неделю\" }\n  },\n  long_run_rules: {\n    max_percent_of_weekly_volume: 30,\n    description: \"Длинная пробежка не должна превышать 30% недельного объёма\",\n    pace: \"На 30-90 секунд медленнее целевого гоночного темпа\"\n  },\n  recovery_run_rules: {\n    max_duration_minutes: 40,\n    pace: \"Очень лёгкий, зоны 1-2, RPE 3-4/10\",\n    golden_rule: \"Нельзя бежать слишком медленно в восстановительный день, только слишком быстро\"\n  },\n  bmi_safety_rules: {\n    calculation: \"BMI = weight_kg / (height_m)^2\",\n    thresholds: {\n      very_high_risk: { bmi_min: 35, restrictions: \"ТОЛЬКО ходьба и очень лёгкий бег. Никаких интенсивных тренировок\", allowed_types: [\"rest\", \"easy_run\"], max_weekly_km: 15, max_intensity_per_week: 0 },\n      high_risk: { bmi_min: 30, bmi_max: 35, restrictions: \"Акцент на лёгкие тренировки, минимум нагрузки на суставы\", allowed_types: [\"rest\", \"easy_run\", \"long_run\"], max_intensity_per_week: 0 },\n      moderate_risk: { bmi_min: 25, bmi_max: 30, restrictions: \"Осторожно с интервалами, постепенное увеличение нагрузки\", max_intensity_per_week: 1 },\n      normal: { bmi_max: 25, restrictions: \"Нет особых ограничений\" }\n    }\n  },\n  maf_heart_rate: {\n    formula: \"180 - возраст\",\n    adjustments: { recovering_from_illness: \"-10\", inconsistent_training: \"-5\", consistent_2_years: \"+5\" },\n    usage: \"Большинство тренировок должно проходить с пульсом ниже MAF\"\n  }\n};\n\nconst LEVEL_PARAMS = {\n  beginner: {\n    name_ru: \"Новичок\",\n    description: \"Бегает меньше года, каждая пробежка — достижение\",\n    volume: { weekly_runs: { min: 2, max: 3 }, weekly_km: { min: 10, max: 20 }, long_run_max_km: 8 },\n    intensity: { high_intensity_sessions_per_week: 0, allowed_workout_types: [\"easy_run\", \"long_run\", \"rest\", \"walk_run\"] },\n    structure: { template: \"2 лёгких пробежки + 1 длинная (или 2 лёгких при 2 днях)\", mandatory_rest_days: 2, cross_training_days: 1 },\n    progression: { weekly_increase_percent: 5, focus: \"Построение базовой выносливости и привычки бегать\" },\n    pace_adjustment: { easy_run: \"+60-90 сек к текущему темпу на 5К\", long_run: \"+90-120 сек к текущему темпу на 5К\" }\n  },\n  intermediate: {\n    name_ru: \"Любитель\",\n    description: \"Бегает 1-3 года, стабильные тренировки, завершил несколько забегов\",\n    volume: { weekly_runs: { min: 3, max: 5 }, weekly_km: { min: 25, max: 40 }, long_run_max_km: 15 },\n    intensity: { high_intensity_sessions_per_week: 1, allowed_workout_types: [\"easy_run\", \"long_run\", \"tempo\", \"fartlek\", \"rest\"] },\n    structure: { template: \"2-3 лёгких + 1 длинная + 1 темповая/фартлек\", mandatory_rest_days: 1, deload_every_weeks: 4 },\n    progression: { weekly_increase_percent: 10, focus: \"Разнообразие тренировок, увеличение километража\" },\n    pace_adjustment: { easy_run: \"+45-60 сек к текущему темпу на 5К\", long_run: \"+60-90 сек к текущему темпу на 5К\", tempo: \"текущий темп на 5К или чуть медленнее\" }\n  },\n  advanced: {\n    name_ru: \"Продвинутый\",\n    description: \"Бегает более 3 лет, высокий километраж, каждая тренировка имеет цель\",\n    volume: { weekly_runs: { min: 5, max: 6 }, weekly_km: { min: 50, max: 80 }, long_run_max_km: 25 },\n    intensity: { high_intensity_sessions_per_week: 2, allowed_workout_types: [\"easy_run\", \"long_run\", \"tempo\", \"intervals\", \"fartlek\", \"recovery\", \"rest\"] },\n    structure: { template: \"2-3 лёгких + 1 длинная + 1 темповая + 1 интервальная\", mandatory_rest_days: 1, deload_every_weeks: 4 },\n    progression: { weekly_increase_percent: 10, focus: \"Производительность, личные рекорды, специфичность к дистанции\" },\n    pace_adjustment: { easy_run: \"+30-45 сек к текущему темпу на 5К\", long_run: \"+45-60 сек к текущему темпу на 5К\", tempo: \"-5-10 сек к текущему темпу на 5К\", intervals: \"-15-20 сек к текущему темпу на 5К\" }\n  }\n};\n\nconst TRAINING_TYPES = {\n  rest: { name_ru: \"Отдых\", intensity_zone: 0, purpose: \"Полное восстановление, адаптация к тренировочному стрессу\" },\n  easy_run: { name_ru: \"Лёгкий бег\", intensity_zone: [1, 2], rpe: [3, 5], hr_percent_max: [60, 70], purpose: \"Построение аэробной базы, активное восстановление\", duration_minutes: { min: 30, max: 60 }, pace_description: \"Можешь свободно разговаривать. Если не можешь — слишком быстро.\", common_mistakes: [\"Бег слишком быстро — должен быть ДЕЙСТВИТЕЛЬНО лёгким\"] },\n  recovery: { name_ru: \"Восстановительный бег\", intensity_zone: 1, rpe: [2, 3], hr_percent_max: [50, 60], purpose: \"Активное восстановление после тяжёлой тренировки\", duration_minutes: { min: 20, max: 40 }, pace_description: \"Очень-очень медленно. Буквально трусца.\", golden_rule: \"Нельзя бежать слишком медленно, только слишком быстро\" },\n  long_run: { name_ru: \"Длинная пробежка\", intensity_zone: [1, 2], rpe: [4, 6], hr_percent_max: [65, 75], purpose: \"Развитие выносливости, улучшение жирового метаболизма, ментальная подготовка\", duration_minutes: { min: 60, max: 180 }, pace_description: \"Комфортный темп, на 30-90 сек медленнее целевого гоночного\", rules: { max_percent_weekly_volume: 30, required_rest_after: true }, level_specifics: { beginner: { max_km: 8, max_minutes: 60 }, intermediate: { max_km: 15, max_minutes: 120 }, advanced: { max_km: 25, max_minutes: 180 } } },\n  tempo: { name_ru: \"Темповая тренировка\", intensity_zone: [3, 4], rpe: [6, 7], hr_percent_max: [80, 88], purpose: \"Повышение лактатного порога, улучшение способности держать темп\", duration_minutes: { min: 40, max: 70 }, tempo_block_minutes: { min: 15, max: 40 }, pace_description: \"Комфортно-тяжело. Можешь говорить короткими фразами.\", structure: \"Разминка 10-15 мин + темповый блок + заминка 10 мин\", restrictions: { not_for_beginners: true, min_level: \"intermediate\" } },\n  intervals: { name_ru: \"Интервальная тренировка\", intensity_zone: 5, rpe: [8, 10], hr_percent_max: [90, 100], purpose: \"Улучшение VO2max, развитие скорости\", duration_minutes: { min: 45, max: 70 }, examples: [\"12 x 400м с 200м восстановления\", \"5 x 1000м с 2-3 мин отдыха\", \"4 x 1 миля с 3 мин отдыха\"], pace_description: \"Очень тяжело. Не можешь говорить.\", structure: \"Разминка 15 мин + интервалы + заминка 10 мин\", restrictions: { not_for_beginners: true, min_level: \"advanced\", max_per_week: 1, required_rest_after: true } },\n  fartlek: { name_ru: \"Фартлек\", intensity_zone: [2, 4], rpe: [5, 8], purpose: \"Развитие чувства темпа, игровой формат интенсивности\", duration_minutes: { min: 30, max: 50 }, description: \"Игра со скоростью. Ускорения по ощущениям без строгой структуры.\", examples: [\"30 сек быстро / 90 сек легко — повторить 8-10 раз\", \"1 мин быстро / 2 мин легко\"], restrictions: { not_for_beginners: true, min_level: \"intermediate\" } },\n  walk_run: { name_ru: \"Ходьба/Бег\", intensity_zone: 1, rpe: [2, 4], purpose: \"Безопасное введение в бег для новичков\", description: \"Чередование интервалов бега и ходьбы\", examples: [\"1 мин бег / 2 мин ходьба — повторить 10 раз\", \"2 мин бег / 1 мин ходьба\", \"5 мин бег / 1 мин ходьба\"], restrictions: { only_for_beginners: true, max_level: \"beginner\" } }\n};\n\nconst PACE_ZONES = {\n  calculation_base: {\n    primary_metric: \"current_5k_pace_seconds\",\n    fallback_if_unknown: { beginner: 420, intermediate: 360, advanced: 300 }\n  },\n  pace_zones: {\n    zone1_recovery: { name_ru: \"Восстановительная\", adjustment_seconds_min: 90, adjustment_seconds_max: 120, hr_percent: [50, 60], rpe: [2, 3] },\n    zone2_easy: { name_ru: \"Лёгкая/Аэробная\", adjustment_seconds_min: 60, adjustment_seconds_max: 90, hr_percent: [60, 70], rpe: [3, 5] },\n    zone3_tempo: { name_ru: \"Темповая/Пороговая\", adjustment_seconds_min: -5, adjustment_seconds_max: 15, hr_percent: [80, 88], rpe: [6, 7] },\n    zone4_threshold: { name_ru: \"Пороговая/VO2max\", adjustment_seconds_min: -10, adjustment_seconds_max: -5, hr_percent: [88, 92], rpe: [7, 8] },\n    zone5_intervals: { name_ru: \"Интервальная\", adjustment_seconds_min: -20, adjustment_seconds_max: -10, hr_percent: [92, 100], rpe: [9, 10] }\n  },\n  workout_pace_mapping: {\n    recovery: \"zone1_recovery\",\n    easy_run: \"zone2_easy\",\n    long_run: \"zone2_easy\",\n    tempo: \"zone3_tempo\",\n    fartlek_easy: \"zone2_easy\",\n    fartlek_fast: \"zone3_tempo\",\n    intervals: \"zone5_intervals\"\n  }\n};\n\nconst GOAL_TEMPLATES = {\n  general: {\n    name_ru: \"Поддержание формы / Здоровье\",\n    focus: \"Регулярность, удовольствие от бега, общая физическая форма\",\n    intensity_distribution: { easy_percent: 90, moderate_percent: 10, hard_percent: 0 },\n    weekly_structure: {\n      beginner: { days: 3, template: [{ day: \"tuesday\", type: \"easy_run\", description: \"Лёгкий бег 20-30 мин\" }, { day: \"thursday\", type: \"easy_run\", description: \"Лёгкий бег 20-30 мин\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная 40-60 мин в комфортном темпе\" }] },\n      intermediate: { days: 4, template: [{ day: \"monday\", type: \"easy_run\", description: \"Лёгкий бег 30-40 мин\" }, { day: \"wednesday\", type: \"easy_run\", description: \"Лёгкий бег 30-40 мин\" }, { day: \"friday\", type: \"fartlek\", description: \"Фартлек 35 мин с лёгкими ускорениями\" }, { day: \"sunday\", type: \"long_run\", description: \"Длинная 60-75 мин\" }] },\n      advanced: { days: 5, template: [{ day: \"monday\", type: \"easy_run\", description: \"Лёгкий бег 40-50 мин\" }, { day: \"tuesday\", type: \"tempo\", description: \"Темповая: разминка + 20 мин темпо + заминка\" }, { day: \"thursday\", type: \"easy_run\", description: \"Лёгкий бег 40 мин\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная 75-90 мин\" }, { day: \"sunday\", type: \"recovery\", description: \"Восстановительный 30 мин\" }] }\n    }\n  },\n  race: {\n    name_ru: \"Подготовка к забегу\",\n    focus: \"Специфичная подготовка к целевой дистанции\",\n    intensity_distribution: { easy_percent: 80, moderate_percent: 10, hard_percent: 10 },\n    weekly_structure: {\n      beginner: { days: 3, template: [{ day: \"tuesday\", type: \"easy_run\", description: \"Лёгкий бег с небольшими ускорениями в конце\" }, { day: \"thursday\", type: \"easy_run\", description: \"Лёгкий бег в целевом гоночном темпе (последние 10 мин)\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная — ключевая тренировка недели\" }], notes: \"Для новичков главное — добежать дистанцию, не гнаться за временем\" },\n      intermediate: { days: 4, template: [{ day: \"tuesday\", type: \"tempo\", description: \"Темповая на целевом гоночном темпе\" }, { day: \"thursday\", type: \"easy_run\", description: \"Лёгкий бег 40 мин\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная с финишем в гоночном темпе\" }, { day: \"sunday\", type: \"recovery\", description: \"Восстановительный 25-30 мин\" }] },\n      advanced: { days: 5, template: [{ day: \"tuesday\", type: \"intervals\", description: \"Интервалы на VO2max темпе\" }, { day: \"wednesday\", type: \"recovery\", description: \"Восстановительный 30 мин\" }, { day: \"thursday\", type: \"tempo\", description: \"Темповая на пороговом темпе\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная с блоками в гоночном темпе\" }, { day: \"sunday\", type: \"easy_run\", description: \"Лёгкий бег 40-50 мин\" }] }\n    }\n  },\n  improvement: {\n    name_ru: \"Улучшение результатов\",\n    focus: \"Прогресс в скорости и выносливости, личные рекорды\",\n    intensity_distribution: { easy_percent: 80, moderate_percent: 10, hard_percent: 10 },\n    weekly_structure: {\n      beginner: { days: 3, template: [{ day: \"tuesday\", type: \"easy_run\", description: \"Лёгкий бег с 4-6 короткими ускорениями (страйдами)\" }, { day: \"thursday\", type: \"fartlek\", description: \"Фартлек: 30 сек быстро / 90 сек легко x 6-8\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная с прогрессией (последние 15 мин быстрее)\" }], notes: \"Для новичков улучшение приходит просто от регулярности\" },\n      intermediate: { days: 4, template: [{ day: \"tuesday\", type: \"tempo\", description: \"Темповая: 3x10 мин на пороге с 3 мин отдыха\" }, { day: \"thursday\", type: \"easy_run\", description: \"Лёгкий бег 45 мин со страйдами\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная 70-90 мин\" }, { day: \"sunday\", type: \"recovery\", description: \"Восстановительный 30 мин\" }] },\n      advanced: { days: 5, template: [{ day: \"tuesday\", type: \"intervals\", description: \"Интервалы: 5x1000м на 5К темпе, отдых 2-3 мин\" }, { day: \"wednesday\", type: \"recovery\", description: \"Восстановительный 30-35 мин\" }, { day: \"thursday\", type: \"tempo\", description: \"Темповая: 25-30 мин на пороговом темпе\" }, { day: \"saturday\", type: \"long_run\", description: \"Длинная 90-120 мин с прогрессией\" }, { day: \"sunday\", type: \"easy_run\", description: \"Лёгкий бег 45-50 мин\" }] }\n    }\n  }\n};\n\n// ============================================================\n// PERSONALIZED HR ZONES CALCULATION\n// ============================================================\n\nlet maxHR = data.max_hr || null;\nlet mafHR = null;\nlet bmi = null;\nlet bmiCategory = null;\n\nif (data.age) {\n  if (!maxHR) {\n    maxHR = 220 - data.age;\n  }\n  mafHR = 180 - data.age;\n}\n\nif (data.height_cm && data.weight_kg) {\n  const heightM = data.height_cm / 100;\n  bmi = data.weight_kg / (heightM * heightM);\n  bmi = Math.round(bmi * 10) / 10;\n  if (bmi >= 35) bmiCategory = 'very_high_risk';\n  else if (bmi >= 30) bmiCategory = 'high_risk';\n  else if (bmi >= 25) bmiCategory = 'moderate_risk';\n  else bmiCategory = 'normal';\n}\n\n// ============================================================\n// FUNCTION: calculatePaceZones — actual pace zones from 5K pace\n// ============================================================\n\nfunction calculatePaceZones(pace5kSec, level) {\n  const base = pace5kSec || PACE_ZONES.calculation_base.fallback_if_unknown[level || 'intermediate'];\n  const zones = PACE_ZONES.pace_zones;\n  const result = {};\n  for (const zoneKey in zones) {\n    const z = zones[zoneKey];\n    const paceMin = base + z.adjustment_seconds_min;\n    const paceMax = base + z.adjustment_seconds_max;\n    const slowPace = Math.max(paceMin, paceMax);\n    const fastPace = Math.min(paceMin, paceMax);\n    result[zoneKey] = {\n      name_ru: z.name_ru,\n      pace_range: formatPace(fastPace) + '-' + formatPace(slowPace) + ' мин/км',\n      speed_range: paceToSpeed(slowPace) + '-' + paceToSpeed(fastPace) + ' км/ч',\n      hr_percent: z.hr_percent,\n      rpe: z.rpe\n    };\n  }\n  return result;\n}\n\n// ============================================================\n// FUNCTION: buildKnowledgeContext\n// ============================================================\n\nfunction buildKnowledgeContext(level, goal, pace5kSec) {\n  const lvl = LEVEL_PARAMS[level] || LEVEL_PARAMS['intermediate'];\n  const goalTpl = GOAL_TEMPLATES[goal] || GOAL_TEMPLATES['race'];\n  const allowedTypes = lvl.intensity.allowed_workout_types;\n\n  // Filter training types to only allowed for this level\n  let trainingTypesText = 'ДОПУСТИМЫЕ ТИПЫ ТРЕНИРОВОК для уровня ' + lvl.name_ru + ':\\n';\n  allowedTypes.forEach(typeKey => {\n    const t = TRAINING_TYPES[typeKey];\n    if (t) {\n      trainingTypesText += '- ' + t.name_ru + ' (' + typeKey + '): ' + t.purpose;\n      if (t.duration_minutes) trainingTypesText += ', ' + t.duration_minutes.min + '-' + t.duration_minutes.max + ' мин';\n      if (t.pace_description) trainingTypesText += '. Темп: ' + t.pace_description;\n      trainingTypesText += '\\n';\n    }\n  });\n\n  // Calculate pace zones\n  const paceZones = calculatePaceZones(pace5kSec, level);\n  let paceZonesText = 'ТРЕНИРОВОЧНЫЕ ТЕМПЫ (от текущего 5К: ' + formatPace(pace5kSec || PACE_ZONES.calculation_base.fallback_if_unknown[level || 'intermediate']) + '/км):\\n';\n  for (const zk in paceZones) {\n    const pz = paceZones[zk];\n    paceZonesText += '- ' + pz.name_ru + ': ' + pz.pace_range + ' (' + pz.speed_range + '), RPE ' + (pz.rpe ? pz.rpe.join('-') : 'н/д') + '\\n';\n  }\n\n  // Level params summary\n  let levelText = 'УРОВЕНЬ: ' + lvl.name_ru + '\\n';\n  levelText += '- Объём: ' + lvl.volume.weekly_km.min + '-' + lvl.volume.weekly_km.max + ' км/нед, ' + lvl.volume.weekly_runs.min + '-' + lvl.volume.weekly_runs.max + ' тренировок\\n';\n  levelText += '- Длинная макс: ' + lvl.volume.long_run_max_km + ' км\\n';\n  levelText += '- Интенсивных в неделю: ' + lvl.intensity.high_intensity_sessions_per_week + '\\n';\n  levelText += '- Структура: ' + lvl.structure.template + '\\n';\n  levelText += '- Прогрессия: макс +' + lvl.progression.weekly_increase_percent + '%/нед\\n';\n\n  // Goal template summary\n  const goalStructure = goalTpl.weekly_structure[level] || goalTpl.weekly_structure['intermediate'];\n  let goalText = 'ЦЕЛЬ: ' + goalTpl.name_ru + ' — ' + goalTpl.focus + '\\n';\n  goalText += 'Распределение: ' + goalTpl.intensity_distribution.easy_percent + '% лёгкие / ' + goalTpl.intensity_distribution.moderate_percent + '% средние / ' + goalTpl.intensity_distribution.hard_percent + '% тяжёлые\\n';\n  goalText += 'ШАБЛОН НЕДЕЛИ (' + goalStructure.days + ' дней):\\n';\n  goalStructure.template.forEach(d => {\n    goalText += '- ' + d.day + ': ' + d.type + ' — ' + d.description + '\\n';\n  });\n  if (goalStructure.notes) goalText += 'Примечание: ' + goalStructure.notes + '\\n';\n\n  // Core rules summary\n  let rulesText = 'ЖЕЛЕЗНЫЕ ПРАВИЛА (НЕЛЬЗЯ НАРУШАТЬ):\\n';\n  rulesText += '1. Правило 80/20: ' + CORE_RULES.intensity_distribution.description + '\\n';\n  rulesText += '2. Прогрессия: ' + CORE_RULES.weekly_progression.description + '\\n';\n  rulesText += '3. Восстановление: ' + CORE_RULES.recovery_rules.description + '\\n';\n  rulesText += '4. Разгрузка: ' + CORE_RULES.recovery_rules.deload_week.description + ' (' + CORE_RULES.recovery_rules.deload_week.frequency + ')\\n';\n  rulesText += '5. Последовательность: ' + CORE_RULES.workout_sequencing.description + '\\n';\n  rulesText += '6. Интенсивные для ' + lvl.name_ru + ': макс ' + CORE_RULES.intensity_sessions_limits[level || 'intermediate'].max_per_week + '/нед\\n';\n  rulesText += '7. Длинная: макс ' + CORE_RULES.long_run_rules.max_percent_of_weekly_volume + '% недельного объёма\\n';\n  rulesText += '8. Восстановительный бег: макс ' + CORE_RULES.recovery_run_rules.max_duration_minutes + ' мин, ' + CORE_RULES.recovery_run_rules.golden_rule + '\\n';\n\n  // BMI safety\n  if (bmi && bmiCategory && bmiCategory !== 'normal') {\n    const bmiRule = CORE_RULES.bmi_safety_rules.thresholds[bmiCategory];\n    rulesText += '9. BMI ОГРАНИЧЕНИЯ (BMI=' + bmi + '): ' + bmiRule.restrictions + '\\n';\n    if (bmiRule.allowed_types) rulesText += '   Допустимые типы: ' + bmiRule.allowed_types.join(', ') + '\\n';\n    if (bmiRule.max_weekly_km) rulesText += '   Макс км/нед: ' + bmiRule.max_weekly_km + '\\n';\n  }\n\n  return rulesText + '\\n' + levelText + '\\n' + trainingTypesText + '\\n' + paceZonesText + '\\n' + goalText;\n}\n\n// ============================================================\n// CONTEXT BUILDERS (trainings, plan, strategy)\n// ============================================================\n\n// Trainings context\nlet trainingsContext = '';\nconst trainings = data.recent_trainings || [];\nif (trainings.length > 0) {\n  trainingsContext = '\\n\\nУ ПОЛЬЗОВАТЕЛЯ ЕСТЬ ' + trainings.length + ' ЗАПИСАННЫХ ТРЕНИРОВОК:\\n';\n  trainings.slice(0, 10).forEach(t => {\n    trainingsContext += '- ' + t.date + ': ' + (t.distance_km || '?') + ' км';\n    if (t.duration_seconds) trainingsContext += ', ' + Math.round(t.duration_seconds / 60) + ' мин';\n    if (t.avg_pace_seconds) trainingsContext += ', темп ' + formatPace(t.avg_pace_seconds) + '/км (' + paceToSpeed(t.avg_pace_seconds) + ' км/ч)';\n    if (t.avg_heart_rate) trainingsContext += ', пульс ' + t.avg_heart_rate;\n    if (t.type) trainingsContext += ' (' + t.type + ')';\n    trainingsContext += '\\n';\n  });\n} else {\n  trainingsContext = '\\n\\nТренировок пока не записано.\\n';\n}\n\n// Plan context\nlet planContext = '';\nif (data.active_plan && data.active_plan.plan_data) {\n  try {\n    const pd = typeof data.active_plan.plan_data === 'string' ? JSON.parse(data.active_plan.plan_data) : data.active_plan.plan_data;\n    planContext = '\\nАКТИВНЫЙ ПЛАН: ' + (pd.raw_plan || JSON.stringify(pd)).substring(0, 500);\n  } catch (e) {\n    planContext = '';\n  }\n}\n\n// Strategy context\nlet strategyContext = '';\nlet currentPhase = null;\nlet weeksSinceStart = 0;\nif (data.active_strategy && data.active_strategy.phases) {\n  try {\n    const strategy = data.active_strategy;\n    const phases = typeof strategy.phases === 'string' ? JSON.parse(strategy.phases) : strategy.phases;\n    const startDate = new Date(strategy.start_date);\n    const now = new Date();\n    weeksSinceStart = Math.max(1, Math.ceil((now - startDate) / (7 * 24 * 60 * 60 * 1000)));\n\n    for (const phase of phases) {\n      if (weeksSinceStart >= phase.start_week && weeksSinceStart <= phase.end_week) {\n        currentPhase = phase;\n        break;\n      }\n    }\n\n    strategyContext = '\\n\\nСТРАТЕГИЯ ПОДГОТОВКИ:';\n    strategyContext += '\\n- Цель: ' + (strategy.race_distance || '') + (strategy.race_date ? ' (' + strategy.race_date + ')' : '');\n    strategyContext += '\\n- Всего недель: ' + strategy.total_weeks + ', текущая неделя: ' + weeksSinceStart;\n    if (currentPhase) {\n      strategyContext += '\\n- Текущая фаза: ' + currentPhase.display_name + ' (нед. ' + currentPhase.start_week + '-' + currentPhase.end_week + ')';\n      strategyContext += '\\n- Фокус: ' + currentPhase.focus;\n      strategyContext += '\\n- Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км/нед';\n      strategyContext += '\\n- Ключевые тренировки: ' + (currentPhase.key_workouts || []).join(', ');\n    }\n    strategyContext += '\\n- Все фазы: ';\n    phases.forEach(p => {\n      const isCurrent = (currentPhase && p.name === currentPhase.name) ? ' [ТЕКУЩАЯ]' : '';\n      strategyContext += p.display_name + ' (нед.' + p.start_week + '-' + p.end_week + ')' + isCurrent + ', ';\n    });\n    strategyContext += '\\n';\n  } catch (e) {\n    strategyContext = '';\n  }\n}\n\n// HR context for general use\nlet hrContext = '';\nif (maxHR) hrContext += '\\nМаксимальный пульс: ' + maxHR + ' уд/мин (220 - возраст)';\nif (mafHR) hrContext += '\\nMAF пульс (аэробный потолок): ' + mafHR + ' уд/мин (180 - возраст)';\nif (data.resting_hr) hrContext += '\\nПульс покоя: ' + data.resting_hr + ' уд/мин';\nif (data.lthr) hrContext += '\\nЛактатный порог (LTHR): ' + data.lthr + ' уд/мин';\nif (data.vo2max) hrContext += '\\nVO2max: ' + data.vo2max + ' мл/кг/мин';\nif (data.has_lab_testing === true) hrContext += '\\nЛабораторные тесты: есть';\nif (data.has_lab_testing === false) hrContext += '\\nЛабораторные тесты: нет';\nif (hrContext) hrContext = '\\n\\nПУЛЬСОВЫЕ ДАННЫЕ:' + hrContext + '\\n';\n\n// ============================================================\n// HARDCODED ONBOARDING QUESTIONS\n// ============================================================\n\nconst ONBOARDING_QUESTIONS = {\n  started: 'Привет, ' + firstName + '! Я твой AI-тренер по бегу.\\n\\nЯ умею:\\n- Составлять стратегию подготовки к забегу\\n- Генерировать недельные планы тренировок\\n- Анализировать фото тренировок (скриншоты из часов/приложений)\\n- Отслеживать прогресс и давать советы\\n\\nДля начала скажи, какой у тебя уровень подготовки:\\n- Новичок (бегаю меньше года)\\n- Любитель (бегаю 1-3 года)\\n- Продвинутый (бегаю более 3 лет)',\n  profile: 'Сколько тебе лет?',\n  physical: 'Какой у тебя рост (см) и вес (кг)?',\n  heart_rate: 'Какой у тебя пульс в покое? Если не знаешь — напиши \"не знаю\".',\n  running_info: 'За сколько пробегаешь 5 км? (примерное время)',\n  lab_testing: 'Делал ли ты лабораторные тесты (VO2max, ПАНО)? Если да — напиши результаты.',\n  training_freq: 'Сколько дней в неделю готов тренироваться? (от 3 до 6)\\nЕсли есть предпочтения по дням — напиши их тоже (например: Пн, Ср, Пт и выходной).',\n  race_details: 'Расскажи о забеге:\\n- Какая дистанция? (5 км, 10 км, полумарафон, марафон или другая)\\n- Когда забег? (дата)\\n- Какое целевое время?'\n};\n\n// ============================================================\n// ONBOARDING STAGE MAP\n// ============================================================\n\nconst NEXT_STAGES = {\n  started: 'profile',\n  profile: 'physical',\n  physical: 'heart_rate',\n  heart_rate: 'running_info',\n  running_info: 'lab_testing',\n  lab_testing: 'training_freq',\n  training_freq: 'race_details',\n  race_details: 'strategy_preview',\n  strategy_preview: 'completed'\n};\n\n// ============================================================\n// MAIN LOGIC\n// ============================================================\n\nif (stage !== 'completed') {\n\n  nextStage = NEXT_STAGES[stage] || stage;\n\n  if (stage === 'started') {\n    // User just typed /start — no GPT parsing needed\n    hardcodedResponse = ONBOARDING_QUESTIONS['started'];\n    systemPrompt = 'Return {\"extracted\": {}}. ' + JSON_FORMAT;\n\n  } else if (stage === 'strategy_preview') {\n    // Strategy generation — full GPT response, no hardcoded text\n    hardcodedResponse = null;\n\n    const profileInfo = 'Данные пользователя (из профиля): '\n      + (data.level ? 'уровень=' + data.level + ', ' : '')\n      + (data.age ? 'возраст=' + data.age + ', ' : '')\n      + (data.height_cm ? 'рост=' + data.height_cm + 'см, ' : '')\n      + (data.weight_kg ? 'вес=' + data.weight_kg + 'кг, ' : '')\n      + (data.current_5k_pace_seconds ? 'темп 5К=' + formatPace(data.current_5k_pace_seconds) + '/км, ' : '')\n      + (data.weekly_runs ? 'тренировок/нед=' + data.weekly_runs + ', ' : '')\n      + (data.preferred_training_days ? 'предпочтительные дни=' + data.preferred_training_days + ', ' : '')\n      + '\\nДанные о забеге пользователь указал В СООБЩЕНИИ НИЖЕ — извлеки дистанцию, дату и целевое время оттуда!';\n\n    // Include CORE_RULES and LEVEL_PARAMS in strategy generation\n    const knowledgeForStrategy = buildKnowledgeContext(data.level, data.goal || 'race', data.current_5k_pace_seconds);\n\n    systemPrompt = profileInfo + '\\n\\n'\n      + knowledgeForStrategy + '\\n\\n'\n      + 'ИСПОЛЬЗУЙ ДАННЫЕ ПОЛЬЗОВАТЕЛЯ И ПРАВИЛА ВЫШЕ. Если в сообщении есть новые данные — используй их.\\n\\n'\n      + 'СГЕНЕРИРУЙ СТРАТЕГИЮ ПОДГОТОВКИ К ЗАБЕГУ.\\n\\n'\n      + 'ИНСТРУКЦИИ:\\n'\n      + '1. Рассчитай количество недель от сегодня (' + today.toISOString().split('T')[0] + ') до даты забега\\n'\n      + '2. Раздели подготовку на 4 фазы:\\n'\n      + '   - base (Базовый период): ~30% недель\\n'\n      + '   - development (Развитие): ~30% недель\\n'\n      + '   - specialization (Специализация): ~25% недель\\n'\n      + '   - taper (Подводка): ~15% недель (мин 1, макс 3)\\n'\n      + '3. Для каждой фазы рассчитай: start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts, intensity_distribution\\n'\n      + '4. СТРОГО СОБЛЮДАЙ ЖЕЛЕЗНЫЕ ПРАВИЛА из контекста выше\\n'\n      + '5. Используй ТОЛЬКО допустимые типы тренировок для уровня ' + (LEVEL_PARAMS[data.level] ? LEVEL_PARAMS[data.level].name_ru : 'Любитель') + '\\n\\n'\n      + 'ФОРМАТ ОТВЕТА В response (СТРОГО СОБЛЮДАЙ):\\n'\n      + 'Покажи ТОЛЬКО высокоуровневый обзор стратегии по фазам.\\n'\n      + 'НЕ ПОКАЗЫВАЙ детальный план на неделю! НЕ расписывай тренировки по дням!\\n'\n      + 'Формат ответа:\\n\\n'\n      + 'Стратегия подготовки к (дистанция) (дата забега)\\n'\n      + 'Всего N недель подготовки\\n\\n'\n      + 'Фаза 1: Название (недели X-Y, Z недель)\\n'\n      + 'Фокус: описание в 1 предложении\\n'\n      + 'Объём: XX-YY км/нед\\n'\n      + 'Ключевые тренировки: перечислить кратко\\n\\n'\n      + 'Фаза 2: ...\\n'\n      + '(и так далее для каждой фазы)\\n\\n'\n      + 'В самом конце напиши: Начинаем? Если стратегия подходит, скажи и я составлю план на первую неделю!\\n\\n'\n      + 'НЕ используй символы форматирования. Используй простые тире для списков.\\n\\n'\n      + JSON_FORMAT + '\\n'\n      + 'ВАЖНО: Извлеки данные о забеге ИЗ СООБЩЕНИЯ ПОЛЬЗОВАТЕЛЯ ниже! НЕ используй значения по умолчанию.\\n'\n      + 'Для дистанции: \"5k\"=5, \"10k\"=10, \"полумарафон\"/\"half\"=21.1, \"марафон\"=42.2, иначе число в км.\\n'\n      + 'Для даты: конвертируй в формат YYYY-MM-DD. Текущий год: ' + today.getFullYear() + '.\\n'\n      + 'Для целевого времени: конвертируй в секунды (3:15 = 11700 сек, 2:00 = 7200 сек).\\n\\n'\n      + 'extracted: { race_distance: \"строка из сообщения (5k/10k/half/marathon/30k/etc)\", race_distance_km: число_км, race_date: \"YYYY-MM-DD\", target_time_seconds: число_секунд, strategy_generated: true, total_weeks: число, strategy_summary: \"краткое описание\", phases: [{name, display_name, start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts: [\"тренировка1\", \"тренировка2\"], intensity_distribution: \"80/20 или подобное\"}] }';\n\n  } else {\n    // All other onboarding stages: GPT is for PARSING only, question is hardcoded\n    const nextQ = ONBOARDING_QUESTIONS[stage];\n    if (nextQ) {\n      hardcodedResponse = nextQ;\n    }\n\n    // Build parsing-only system prompts\n    const parsingPrompts = {\n      profile: 'Extract level from user message. MAPPING: \"новичок\"/\"newbie\"/\"beginner\" = \"beginner\", \"любитель\"/\"intermediate\"/\"amateur\" = \"intermediate\", \"продвинутый\"/\"advanced\"/\"pro\" = \"advanced\". Return ONLY JSON: {\"extracted\": {\"level\": \"beginner\" or \"intermediate\" or \"advanced\"}, \"response\": \"ok\"}. User said: \"' + message + '\"',\n      physical: 'Extract age (number) from user message. Return ONLY JSON: {\"extracted\": {\"age\": number}, \"response\": \"ok\"}. User said: \"' + message + '\"',\n      heart_rate: 'Extract height_cm (number) and weight_kg (number) from user message. Return ONLY JSON: {\"extracted\": {\"height_cm\": number, \"weight_kg\": number}, \"response\": \"ok\"}. User said: \"' + message + '\"',\n      running_info: 'Extract resting_hr from user message. If user does not know their resting HR, set null. Do NOT re-ask. Return ONLY JSON: {\"extracted\": {\"resting_hr\": number_or_null}, \"response\": \"ok\"}. User said: \"' + message + '\"',\n      lab_testing: 'Extract current_5k_pace_seconds from user message. User tells their 5K time or pace. Convert to pace per km in seconds (e.g., 25 minutes for 5K = 300 sec/km). Return ONLY JSON: {\"extracted\": {\"current_5k_pace_seconds\": number}, \"response\": \"ok\"}. User said: \"' + message + '\"',\n      training_freq: 'Extract has_lab_testing (boolean), vo2max (number or null), lthr (number or null) from user message. Return ONLY JSON: {\"extracted\": {\"has_lab_testing\": bool, \"vo2max\": number_or_null, \"lthr\": number_or_null}, \"response\": \"ok\"}. User said: \"' + message + '\"',\n      race_details: 'Extract weekly_runs (number 3-6) from user message. Also extract preferred_training_days if user mentioned specific days (e.g. \"Пн, Ср, Пт, выходной\" → \"понедельник, среда, пятница, один из выходных\"). Keep in Russian, free text. If no days mentioned, set null. Also extract race info if provided: race_distance (\"5k\",\"10k\",\"half\",\"marathon\", or custom like \"30k\"), race_distance_km (number), race_date (YYYY-MM-DD), target_time_seconds (number). For distances: 5k=5, 10k=10, half=21.1, marathon=42.2. For target time: convert to total seconds. Return ONLY JSON: {\"extracted\": {\"weekly_runs\": number, \"preferred_training_days\": string_or_null, \"race_distance\": string_or_null, \"race_distance_km\": number_or_null, \"race_date\": \"YYYY-MM-DD\"_or_null, \"target_time_seconds\": number_or_null}, \"response\": \"ok\"}. User said: \"' + message + '\"'\n    };\n\n    systemPrompt = parsingPrompts[stage] || ('Return {\"extracted\": {}, \"response\": \"ok\"}. ' + JSON_FORMAT);\n  }\n\n} else {\n\n  // ============================================================\n  // COMPLETED ONBOARDING — Intent Routing\n  // ============================================================\n\n  const userLevel = data.level || 'intermediate';\n  const userGoal = data.goal || 'race';\n  const pace5k = data.current_5k_pace_seconds;\n\n  // Strategy question detection\n  const isStrategyQuestion = /стратег|фаз[аыуеи]|период|этап подготовки|план подготовки|как.*иду|долгосроч|подготов.*забег/i.test(message);\n  const isConvertPlanToMinutes = /перевед|пересч|конверт|в минут|время вместо км/i.test(message) && /план|км|килом/i.test(message);\n\n  // Negative patterns: user wants to log/update data, NOT generate a plan\n  const isDataUpdate = /запиши|обнови|добавь|учти|измени|поправь/i.test(message);\n\n  // Plan generation detection (includes week choice responses)\n  const isPlanRequest = /план|состав|давай|нач(?:н|ин)|готов|^эт[уаоой]|следующ|^с понедельник/i.test(message.trim());\n\n  // Week choice detection for incomplete week handling\n  const choosesThisWeek = /эт[уаоой]|сейчас|текущ|прямо|^да$/i.test(message.trim());\n  const choosesNextWeek = /следующ|с понедельник|полн.*недел|новой|подожд/i.test(message);\n  const dayOfWeek = today.getDay(); // 0=Sun, 1=Mon, ..., 6=Sat\n  const isMidWeek = dayOfWeek !== 1; // Not Monday\n  const dayNamesRu = ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'];\n  const todayNameRu = dayNamesRu[dayOfWeek];\n\n  // Parse preferred days from free text to explicit weekday indexes.\n  const parsePreferredDayIndexes = (text) => {\n    if (!text) return [];\n    const t = text.toLowerCase();\n    const out = new Set();\n    const add = (idx, patterns) => {\n      if (patterns.some((p) => p.test(t))) out.add(idx);\n    };\n    add(1, [/\\bпн\\b/, /понед/]);\n    add(2, [/\\bвт\\b/, /вторн/]);\n    add(3, [/\\bср\\b/, /сред/]);\n    add(4, [/\\bчт\\b/, /четв/]);\n    add(5, [/\\bпт\\b/, /пятн/]);\n    add(6, [/\\bсб\\b/, /субб/]);\n    add(0, [/\\bвс\\b/, /воскр/]);\n    if (/выход|weekend/.test(t)) {\n      out.add(6);\n      out.add(0);\n    }\n    return Array.from(out);\n  };\n  const localDateISO = (d) => {\n    const y = d.getFullYear();\n    const m = String(d.getMonth() + 1).padStart(2, '0');\n    const day = String(d.getDate()).padStart(2, '0');\n    return y + '-' + m + '-' + day;\n  };\n  const dateLabelRu = (d) => dayNamesRu[d.getDay()] + ' ' + localDateISO(d);\n\n  if (isConvertPlanToMinutes && data.active_plan && data.active_plan.plan_data) {\n    // ---- PLAN VIEW CONVERSION (km -> minutes) ----\n    // Do not rebuild training content, only convert presentation units.\n    let activePlanText = '';\n    try {\n      const pd = typeof data.active_plan.plan_data === 'string' ? JSON.parse(data.active_plan.plan_data) : data.active_plan.plan_data;\n      activePlanText = pd.raw_plan || '';\n    } catch (e) {}\n\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.'\n      + '\\nЗадача: пользователь просит ПЕРЕВЕСТИ текущий план из километров в минуты.'\n      + '\\n\\nВАЖНО:'\n      + '\\n1. НЕ меняй структуру плана, дни, типы тренировок, интенсивность и порядок.'\n      + '\\n2. НЕ создавай новый план, только конвертация представления.'\n      + '\\n3. Для каждого блока с дистанцией в км рассчитай эквивалент в минутах по плановому темпу этого блока.'\n      + '\\n4. Если темп в блоке не указан, оставь исходный блок без пересчета и явно подпиши \\\"темп не указан\\\".'\n      + '\\n5. Сохрани все целевые пульсовые зоны, RPE и пояснения.'\n      + '\\n6. Ответ только на русском, формат списком по дням.'\n      + '\\n\\nТекущий план:\\n' + activePlanText\n      + '\\n\\nСообщение пользователя: \"' + message + '\"'\n      + '\\n\\n' + JSON_FORMAT + ' extracted: {}';\n\n  } else if (isStrategyQuestion && data.active_strategy) {\n    // ---- STRATEGY QUESTION ----\n    const knowledgeCtx = buildKnowledgeContext(userLevel, userGoal, pace5k);\n\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.' + dateContext\n      + hrContext\n      + '\\n' + knowledgeCtx\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает о стратегии: \"' + message + '\"'\n      + '\\n\\nОтветь подробно о текущей фазе (неделя ' + weeksSinceStart + ' из ' + (data.active_strategy.total_weeks || '?') + '), прогрессе и что впереди.'\n      + '\\n\\n' + JSON_FORMAT;\n\n  } else if (isPlanRequest && !isDataUpdate && isMidWeek && !choosesThisWeek && !choosesNextWeek) {\n    // ---- MID-WEEK: ASK WHICH WEEK ----\n    // User asked for a plan but it's not Monday — ask if they want this or next week\n    isPlanGeneration = false;\n\n    const remainingDays = [];\n    for (let d = dayOfWeek; d <= 6; d++) remainingDays.push(dayNamesRu[d]);\n    remainingDays.push(dayNamesRu[0]); // add Sunday\n\n    // Count how many preferred days remain this week\n    let prefDaysInfo = '';\n    if (data.preferred_training_days) {\n      prefDaysInfo = '\\nПредпочтительные дни: ' + data.preferred_training_days;\n    }\n\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.' + dateContext\n      + '\\n\\nСегодня ' + todayNameRu + '. Неделя уже началась.'\n      + '\\nОставшиеся дни до конца недели: ' + remainingDays.join(', ') + '.'\n      + prefDaysInfo\n      + '\\nТренировок в неделю: ' + (data.weekly_runs || 3)\n      + '\\n\\nСпроси пользователя КОРОТКО (2-3 предложения):'\n      + '\\n- Хочет начать тренировки с оставшихся дней этой неполной недели?'\n      + '\\n- Или подождать и начать с полной недели (с понедельника)?'\n      + '\\nОбъясни, что на этой неделе тренировок будет меньше из-за пропущенных дней.'\n      + '\\n\\n' + JSON_FORMAT + ' extracted: {}';\n\n  } else if (isPlanRequest && !isDataUpdate && isMidWeek && choosesThisWeek) {\n    // ---- THIS WEEK (MID-WEEK): deterministic mini-plan on remaining days ----\n    isPlanGeneration = true;\n\n    const remainingDates = [];\n    const daysUntilSunday = (7 - dayOfWeek) % 7;\n    for (let offset = 0; offset <= daysUntilSunday; offset++) {\n      const d = new Date(today.getTime() + offset * 86400000);\n      remainingDates.push({\n        idx: d.getDay(),\n        name: dayNamesRu[d.getDay()],\n        iso: localDateISO(d)\n      });\n    }\n\n    const preferredDayIndexes = parsePreferredDayIndexes(data.preferred_training_days);\n    let allowedDates = preferredDayIndexes.length > 0\n      ? remainingDates.filter((d) => preferredDayIndexes.includes(d.idx))\n      : remainingDates;\n    if (allowedDates.length === 0) allowedDates = remainingDates;\n\n    const weeklyRuns = data.weekly_runs || 3;\n    const planSessions = Math.max(1, Math.min(weeklyRuns, allowedDates.length));\n    const selected = allowedDates.slice(0, planSessions);\n\n    const level = data.level || 'intermediate';\n    const easyDistance = level === 'beginner' ? 5 : (level === 'advanced' ? 8 : 6);\n    const longDistance = level === 'beginner' ? 8 : (level === 'advanced' ? 16 : 12);\n    const basePace = data.current_5k_pace_seconds || (level === 'beginner' ? 420 : (level === 'advanced' ? 300 : 360));\n    const easyPace = Math.round(basePace + 75);\n    const longPace = Math.round(basePace + 90);\n\n    let longRunIndex = selected.length - 1;\n    const sundayIndex = selected.findIndex((d) => d.idx === 0);\n    if (selected.length > 1 && sundayIndex >= 0) longRunIndex = sundayIndex;\n\n    planWeekStart = localDateISO(today);\n    planWeekEnd = localDateISO(new Date(today.getTime() + daysUntilSunday * 86400000));\n\n    let text = 'План на оставшиеся дни этой недели (' + localDateISO(today) + ' - ' + localDateISO(new Date(today.getTime() + daysUntilSunday * 86400000)) + '):\\n';\n    text += '\\nПредпочтительные дни: ' + (data.preferred_training_days || 'не указаны');\n    text += '\\nЗапланировано тренировок: ' + selected.length + ' (из обычных ' + weeklyRuns + ')\\n';\n\n    selected.forEach((d, idx) => {\n      const isLong = selected.length > 1 && idx === longRunIndex;\n      const dist = isLong ? longDistance : easyDistance;\n      const pace = isLong ? longPace : easyPace;\n      const workoutName = isLong ? 'Длинная пробежка' : 'Лёгкий бег';\n      text += '\\n\\n' + (idx + 1) + '. ' + d.name + ' (' + d.iso + ')';\n      text += '\\n- Тип: ' + workoutName;\n      text += '\\n- Дистанция: ' + dist + ' км';\n      text += '\\n- Целевой темп: ' + formatPace(pace) + '/км (' + paceToSpeed(pace) + ' км/ч)';\n      text += '\\n- Целевой пульс: зоны 1-2';\n      text += '\\n- RPE: ' + (isLong ? '5' : '3-4');\n    });\n\n    hardcodedResponse = text;\n    systemPrompt = 'Return {\"extracted\": {}}. ' + JSON_FORMAT;\n\n  } else if (isPlanRequest && !isDataUpdate) {\n    // ---- PLAN GENERATION ----\n    isPlanGeneration = true;\n\n    const fullKnowledge = buildKnowledgeContext(userLevel, userGoal, pace5k);\n    const lvlParams = LEVEL_PARAMS[userLevel] || LEVEL_PARAMS['intermediate'];\n    const allowedTypes = lvlParams.intensity.allowed_workout_types;\n\n    // Get goal template for current level\n    const goalTpl = GOAL_TEMPLATES[userGoal] || GOAL_TEMPLATES['race'];\n    const weeklyTemplate = goalTpl.weekly_structure[userLevel] || goalTpl.weekly_structure['intermediate'];\n\n    let templateText = 'ШАБЛОН НЕДЕЛИ (ИСПОЛЬЗУЙ КАК БАЗОВУЮ СТРУКТУРУ):\\n';\n    weeklyTemplate.template.forEach(d => {\n      templateText += '- ' + d.day + ': ' + d.type + ' — ' + d.description + '\\n';\n    });\n\n    // Incomplete week handling\n    let weekContext = '';\n    if (isMidWeek && !choosesNextWeek) {\n      // This incomplete week (user chose \"эту\" or default when Monday)\n      const remainingDayIndexes = [];\n      for (let d = dayOfWeek; d <= 6; d++) remainingDayIndexes.push(d);\n      remainingDayIndexes.push(0); // Sunday\n      const remainingDays = remainingDayIndexes.map((d) => dayNamesRu[d]);\n      const preferredDayIndexes = parsePreferredDayIndexes(data.preferred_training_days);\n      const allowedDayIndexes = preferredDayIndexes.length > 0\n        ? remainingDayIndexes.filter((d) => preferredDayIndexes.includes(d))\n        : remainingDayIndexes;\n      const allowedDays = (allowedDayIndexes.length > 0 ? allowedDayIndexes : remainingDayIndexes)\n        .map((d) => dayNamesRu[d]);\n      const daysUntilSunday = (7 - dayOfWeek) % 7;\n      const remainingDates = [];\n      for (let offset = 0; offset <= daysUntilSunday; offset++) {\n        const d = new Date(today.getTime() + offset * 86400000);\n        remainingDates.push({\n          idx: d.getDay(),\n          name: dayNamesRu[d.getDay()],\n          iso: localDateISO(d)\n        });\n      }\n      const allowedDates = remainingDates.filter((d) => (allowedDayIndexes.length > 0 ? allowedDayIndexes : remainingDayIndexes).includes(d.idx));\n      const allowedDateList = (allowedDates.length > 0 ? allowedDates : remainingDates)\n        .map((d) => d.name + ' ' + d.iso);\n      planWeekStart = localDateISO(today);\n      planWeekEnd = localDateISO(new Date(today.getTime() + daysUntilSunday * 86400000));\n      weekContext = '\\n\\nВАЖНО: Сегодня ' + todayNameRu + ', неделя уже началась. Составь план ТОЛЬКО на оставшиеся дни: ' + remainingDays.join(', ') + '. Прошедшие дни НЕЛЬЗЯ включать.'\n        + '\\nРАЗРЕШЕННЫЕ ДНИ ДЛЯ ТРЕНИРОВОК НА ЭТОЙ НЕДЕЛЕ: ' + allowedDays.join(', ') + '.'\n        + '\\nРАЗРЕШЕННЫЕ ДАТЫ ДЛЯ ТРЕНИРОВОК: ' + allowedDateList.join('; ') + '.'\n        + '\\nЕсли есть ПРЕДПОЧТИТЕЛЬНЫЕ ДНИ, ставь тренировки ТОЛЬКО в них (из оставшихся).'\n        + '\\nЗапрещено планировать тренировки в прошедшие дни, в дни вне разрешенного списка и в даты после ближайшего воскресенья.'\n        + '\\nКоличество тренировок может быть МЕНЬШЕ ' + (data.weekly_runs || 3) + ' — планируй только те, что помещаются в оставшиеся дни.';\n    } else if (choosesNextWeek) {\n      // Next full week\n      const daysUntilMonday = (8 - dayOfWeek) % 7 || 7;\n      const nextMonday = new Date(today.getTime() + daysUntilMonday * 86400000);\n      const nextSunday = new Date(nextMonday.getTime() + 6 * 86400000);\n      const nextWeekDates = [];\n      for (let offset = 0; offset <= 6; offset++) {\n        const d = new Date(nextMonday.getTime() + offset * 86400000);\n        nextWeekDates.push(dateLabelRu(d));\n      }\n      planWeekStart = localDateISO(nextMonday);\n      planWeekEnd = localDateISO(nextSunday);\n      weekContext = '\\n\\nВАЖНО: Составь план на СЛЕДУЮЩУЮ полную неделю начиная с понедельника ' + nextMonday.toISOString().split('T')[0] + '. Планируй ВСЕ ' + (data.weekly_runs || 3) + ' тренировочных дней.';\n      weekContext += '\\nРАЗРЕШЕННЫЕ ДАТЫ ЭТОЙ НЕДЕЛИ: ' + nextWeekDates.join('; ') + '.';\n    } else {\n      // Full current week (typically when today is Monday)\n      const daysToSunday = (7 - dayOfWeek) % 7;\n      const weekEnd = new Date(today.getTime() + daysToSunday * 86400000);\n      const currentWeekDates = [];\n      for (let offset = 0; offset <= daysToSunday; offset++) {\n        const d = new Date(today.getTime() + offset * 86400000);\n        currentWeekDates.push(dateLabelRu(d));\n      }\n      planWeekStart = localDateISO(today);\n      planWeekEnd = localDateISO(weekEnd);\n      weekContext = '\\nРАЗРЕШЕННЫЕ ДАТЫ ЭТОЙ НЕДЕЛИ: ' + currentWeekDates.join('; ') + '.';\n    }\n\n    systemPrompt = 'AI-тренер для ' + firstName + '.' + dateContext\n      + hrContext\n      + '\\n' + fullKnowledge\n      + '\\n' + templateText\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nСоставь план на неделю. СТРОГО ' + (data.weekly_runs || 3) + ' тренировочных дней (если неделя неполная — может быть меньше), остальные дни — отдых. НЕ добавляй лишних тренировок!'\n      + (data.preferred_training_days ? '\\nПРЕДПОЧТИТЕЛЬНЫЕ ДНИ ТРЕНИРОВОК: ' + data.preferred_training_days + '. Планируй тренировки ИМЕННО в эти дни.' : '')\n      + weekContext\n      + (currentPhase ? '\\n\\nВАЖНО: План должен соответствовать ТЕКУЩЕЙ ФАЗЕ: ' + currentPhase.display_name + '. Фокус: ' + currentPhase.focus + '. Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км.' : '')\n      + '\\nУчитывай ВСЕ данные профиля и тестов: пульс покоя, MAF, maxHR, VO2max, LTHR (если есть).'\n      + '\\nУчитывай результаты уже выполненных тренировок пользователя за текущую неделю из блока с тренировками выше (объём, темп, пульс, типы).'\n      + '\\n\\nUSE THE TEMPLATE ABOVE as the base structure. Адаптируй его под текущую фазу и прогресс.'\n      + '\\nDO NOT use training types not listed in ДОПУСТИМЫЕ ТИПЫ: ' + allowedTypes.join(', ') + '.'\n      + '\\nНазвания типов тренировок в ответе пиши ПО-РУССКИ (например: \"Лёгкий бег\", \"Темповая тренировка\", \"Интервалы\", \"Длинная пробежка\"). Английский ключ можно добавить в скобках.'\n      + '\\nСтрого соблюдай соответствие ДЕНЬ НЕДЕЛИ <-> ДАТА. Не выдумывай даты вне диапазона plan_week_start..plan_week_end.'\n      + '\\nФормат ответа: каждый день недели с НОВОЙ строки, внутри дня каждое поле с НОВОЙ строки.'\n      + '\\n\\nДля каждой тренировки указывай:\\n- Тип и описание\\n- Дистанцию в км\\n- Целевой темп (мин/км) И скорость (км/ч)\\n- Целевой пульс (если известен maxHR)\\n- RPE (1-10)'\n      + '\\nЗапрещено смешивать единицы объёма в рамках одного плана: объём тренировки указывай ТОЛЬКО в километрах. Минуты можно указывать только как дополнительную справку в скобках.'\n      + '\\n\\n' + JSON_FORMAT + ' extracted: {plan_generated: true, total_km: число}';\n\n  } else {\n    // ---- GENERAL CHAT ----\n    // Include rules + relevant training types + pace zones for context\n    const lvlParams = LEVEL_PARAMS[userLevel] || LEVEL_PARAMS['intermediate'];\n    const allowedTypes = lvlParams.intensity.allowed_workout_types;\n\n    let trainingTypesShort = '\\nДОПУСТИМЫЕ ТРЕНИРОВКИ для уровня ' + lvlParams.name_ru + ':\\n';\n    allowedTypes.forEach(typeKey => {\n      const t = TRAINING_TYPES[typeKey];\n      if (t) {\n        trainingTypesShort += '- ' + t.name_ru + ': ' + t.purpose + '\\n';\n      }\n    });\n\n    const paceZones = calculatePaceZones(pace5k, userLevel);\n    let paceShort = '\\nТЕМПОВЫЕ ЗОНЫ (5К: ' + formatPace(pace5k || PACE_ZONES.calculation_base.fallback_if_unknown[userLevel]) + '/км):\\n';\n    for (const zk in paceZones) {\n      const pz = paceZones[zk];\n      paceShort += '- ' + pz.name_ru + ': ' + pz.pace_range + ' (' + pz.speed_range + ')\\n';\n    }\n\n    let rulesShort = '\\nПРАВИЛА:\\n';\n    rulesShort += '- 80/20: ' + CORE_RULES.intensity_distribution.description + '\\n';\n    rulesShort += '- Прогрессия: макс +' + CORE_RULES.weekly_progression.max_volume_increase_percent + '% км/нед\\n';\n    rulesShort += '- Восстановление: ' + CORE_RULES.recovery_rules.description + '\\n';\n    rulesShort += '- Интенсивных: макс ' + CORE_RULES.intensity_sessions_limits[userLevel].max_per_week + '/нед\\n';\n\n    if (bmi && bmiCategory && bmiCategory !== 'normal') {\n      const bmiRule = CORE_RULES.bmi_safety_rules.thresholds[bmiCategory];\n      rulesShort += '- BMI=' + bmi + ': ' + bmiRule.restrictions + '\\n';\n    }\n\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.' + dateContext\n      + hrContext\n      + rulesShort\n      + trainingTypesShort\n      + paceShort\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает: \"' + message + '\"'\n      + '\\n\\nПРАВИЛА ОТВЕТА:\\n1. Используй ДАННЫЕ ТРЕНИРОВОК и ПЛАН выше'\n      + '\\n2. Если есть стратегия — учитывай текущую фазу'\n      + '\\n3. Будь конкретным: указывай цифры, темп, пульсовые зоны'\n      + '\\n4. Когда описываешь тренировку, ОБЯЗАТЕЛЬНО указывай темп И скорость для дорожки. Пример: темп 6:00/км (скорость 10.0 км/ч на дорожке). Формула: скорость = 60 / (минуты + секунды/60)'\n      + '\\n5. Форматируй красиво: разбивай на пункты, используй структуру'\n      + '\\n6. ВАЖНО: определяй день по дате из СЕГОДНЯ выше. Завтра = следующий день после сегодня.'\n      + '\\n\\n' + JSON_FORMAT;\n  }\n}\n\n// ============================================================\n// OUTPUT\n// ============================================================\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_text: message,\n    message_id: data.message_id,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    is_plan_generation: isPlanGeneration,\n    weekly_runs: data.weekly_runs,\n    hardcoded_response: hardcodedResponse,\n    plan_week_start: planWeekStart,\n    plan_week_end: planWeekEnd\n  }\n}];\n"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2640,
        500
      ]
    },
    {
      "id": "call-openai",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
      },
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "koikxNcf4ds6vKgZ",
          "name": "OpenAI - Running Coach"
        }
      }
    },
    {
      "id": "extract-response",
      "parameters": {
        "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\n\nlet extracted = {};\nlet responseText = '';\n\n// If hardcoded_response is set, use it directly\nif (prepareData.hardcoded_response) {\n  responseText = prepareData.hardcoded_response;\n  try {\n    const aiContent = response.choices[0].message.content;\n    const parsed = JSON.parse(aiContent);\n    extracted = parsed.extracted || {};\n  } catch (e) {}\n} else {\n  const aiContent = response.choices[0].message.content;\n  try {\n    const parsed = JSON.parse(aiContent);\n    extracted = parsed.extracted || {};\n    responseText = parsed.response || aiContent;\n  } catch (e) {\n    responseText = aiContent;\n  }\n}\n\n// Clean markdown formatting for Telegram\nresponseText = responseText\n  .replace(/^#{1,6}\\s*/gm, '')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n  .replace(/\\*(.+?)\\*/g, '$1')\n  .replace(/_/g, ' ')\n  .replace(/`/g, \"'\")\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    is_plan_generation: prepareData.is_plan_generation,\n    weekly_runs: prepareData.weekly_runs,\n    plan_week_start: prepareData.plan_week_start,\n    plan_week_end: prepareData.plan_week_end\n  }\n}];\n"
      },
      "name": "Extract Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3040,
        500
      ]
    },
    {
      "id": "send-telegram",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id.toString() }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3240,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "is-onboarding",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Extract Response').first().json.onboarding_stage }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3440,
        500
      ]
    },
    {
      "id": "build-update",
      "parameters": {
        "functionCode": "const data = $('Extract Response').first().json;\nconst ext = data.extracted_data || {};\nconst updateFields = {};\nlet nextStage = data.next_stage;\n\nif (data.onboarding_stage === 'started') updateFields.goal = 'race';\nif (data.onboarding_stage === 'strategy_preview' && ext.strategy_generated) nextStage = 'completed';\nif (nextStage && nextStage !== data.onboarding_stage) updateFields.onboarding_stage = nextStage;\n\n['level','age','height_cm','weight_kg','current_5k_pace_seconds','weekly_runs','preferred_training_days','race_distance','race_distance_km','race_date','target_time_seconds','resting_hr','max_hr','has_lab_testing','vo2max','lthr'].forEach(k => { if (ext[k] !== undefined) updateFields[k] = ext[k]; });\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0,\n    is_strategy_stage: data.onboarding_stage === 'strategy_preview' && ext.strategy_generated === true\n  }\n}];"
      },
      "name": "Build Update Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3640,
        400
      ]
    },
    {
      "id": "has-updates",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.has_updates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3840,
        400
      ]
    },
    {
      "id": "update-user",
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
            },
            {
              "fieldId": "level",
              "fieldValue": "={{ $json.update_fields.level }}"
            },
            {
              "fieldId": "age",
              "fieldValue": "={{ $json.update_fields.age }}"
            },
            {
              "fieldId": "weekly_runs",
              "fieldValue": "={{ $json.update_fields.weekly_runs }}"
            },
            {
              "fieldId": "race_date",
              "fieldValue": "={{ $json.update_fields.race_date }}"
            },
            {
              "fieldId": "race_distance",
              "fieldValue": "={{ $json.update_fields.race_distance }}"
            },
            {
              "fieldId": "resting_hr",
              "fieldValue": "={{ $json.update_fields.resting_hr }}"
            },
            {
              "fieldId": "preferred_training_days",
              "fieldValue": "={{ $json.update_fields.preferred_training_days }}"
            },
            {
              "fieldId": "height_cm",
              "fieldValue": "={{ $json.update_fields.height_cm }}"
            },
            {
              "fieldId": "weight_kg",
              "fieldValue": "={{ $json.update_fields.weight_kg }}"
            },
            {
              "fieldId": "current_5k_pace_seconds",
              "fieldValue": "={{ $json.update_fields.current_5k_pace_seconds }}"
            },
            {
              "fieldId": "target_time_seconds",
              "fieldValue": "={{ $json.update_fields.target_time_seconds }}"
            },
            {
              "fieldId": "race_distance_km",
              "fieldValue": "={{ $json.update_fields.race_distance_km }}"
            },
            {
              "fieldId": "has_lab_testing",
              "fieldValue": "={{ $json.update_fields.has_lab_testing }}"
            }
          ]
        }
      },
      "name": "Update User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4040,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "is-plan-gen",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Extract Response').first().json.is_plan_generation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Plan Generation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3640,
        600
      ]
    },
    {
      "id": "save-plan",
      "parameters": {
        "operation": "create",
        "tableId": "weekly_plans",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
            },
            {
              "fieldId": "week_start",
              "fieldValue": "={{ $(\"Extract Response\").first().json.plan_week_start || $now.format(\"yyyy-MM-dd\") }}"
            },
            {
              "fieldId": "week_end",
              "fieldValue": "={{ $(\"Extract Response\").first().json.plan_week_end || $now.plus({days: 6}).format(\"yyyy-MM-dd\") }}"
            },
            {
              "fieldId": "plan_data",
              "fieldValue": "={{ JSON.stringify({raw_plan: $('Extract Response').first().json.response_text}) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            }
          ]
        }
      },
      "name": "Save Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3840,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "download-photo-telegram",
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $(\"Check User\").first().json.photo_file_id }}",
        "download": true
      },
      "name": "Download Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1640,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "move-binary-to-json",
      "parameters": {
        "mode": "binaryToJson",
        "setAllData": false,
        "sourceKey": "data",
        "destinationKey": "base64_image",
        "options": {
          "keepAsBase64": true
        }
      },
      "name": "Binary to Base64",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1840,
        200
      ]
    },
    {
      "id": "prepare-vision-data",
      "parameters": {
        "functionCode": "const checkUserData = $(\"Check User\").first().json;\nconst base64Data = items[0].json.base64_image;\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id,\n    base64_image: base64Data,\n    mime_type: \"image/jpeg\"\n  }\n}];"
      },
      "name": "Prepare Vision Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2040,
        200
      ]
    },
    {
      "id": "call-gpt4o-vision",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Распознай тренировку с фото. Верни JSON: {\\\"recognized\\\": true/false, \\\"data\\\": {\\\"distance_km\\\": число, \\\"duration_seconds\\\": число, \\\"avg_pace_seconds\\\": число, \\\"avg_heart_rate\\\": число или null, \\\"type\\\": \\\"easy_run\\\"/\\\"tempo\\\"/\\\"intervals\\\"}, \\\"response\\\": \\\"текст\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mime_type }};base64,{{ $json.base64_image }}\"\n          }\n        },\n        {\n          \"type\": \"text\", \n          \"text\": \"Распознай тренировку.{{ $json.message_text ? ' Комментарий пользователя: ' + $json.message_text : '' }}\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
      },
      "name": "GPT-4o Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "koikxNcf4ds6vKgZ",
          "name": "OpenAI - Running Coach"
        }
      }
    },
    {
      "id": "get-strategy",
      "parameters": {
        "operation": "getAll",
        "tableId": "training_strategies",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').first().json.user_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        },
        "options": {
          "orderByColumn": "created_at",
          "orderType": "desc"
        }
      },
      "name": "Get Strategy",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2140,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "is-strategy-stage",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "strategy-check",
              "leftValue": "={{ $('Build Update Data').first().json.is_strategy_stage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Strategy Stage?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4240,
        300
      ]
    },
    {
      "id": "save-strategy",
      "parameters": {
        "operation": "create",
        "tableId": "training_strategies",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
            },
            {
              "fieldId": "goal_type",
              "fieldValue": "race"
            },
            {
              "fieldId": "race_distance",
              "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_distance }}"
            },
            {
              "fieldId": "race_date",
              "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
            },
            {
              "fieldId": "target_time_seconds",
              "fieldValue": "={{ $('Extract Response').first().json.extracted_data.target_time_seconds }}"
            },
            {
              "fieldId": "total_weeks",
              "fieldValue": "={{ $('Extract Response').first().json.extracted_data.total_weeks }}"
            },
            {
              "fieldId": "phases",
              "fieldValue": "={{ JSON.stringify($('Extract Response').first().json.extracted_data.phases) }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('Extract Response').first().json.extracted_data.strategy_summary }}"
            },
            {
              "fieldId": "start_date",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "end_date",
              "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            },
            {
              "fieldId": "race_distance_km",
              "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_distance_km }}"
            }
          ]
        }
      },
      "name": "Save Strategy",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4440,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "prepare-merge-check",
      "parameters": {
        "functionCode": "const data = $('Parse Vision Response').first().json;\nconst threeMinAgo = new Date(Date.now() - 3 * 60 * 1000).toISOString();\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_id: data.message_id,\n    recognized: data.recognized,\n    confidence: data.confidence,\n    training_data: data.training_data,\n    source_app: data.source_app,\n    response_text: data.response_text,\n    is_photo_training: data.is_photo_training,\n    threeMinAgo: threeMinAgo\n  }\n}];"
      },
      "name": "Prepare Merge Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2440,
        100
      ]
    },
    {
      "id": "find-recent-training",
      "parameters": {
        "operation": "getAll",
        "tableId": "trainings",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=user_id=eq.{{ $json.user_id }}&source=eq.screenshot&screenshot_count=lt.2&created_at=gte.{{ $json.threeMinAgo }}&order=created_at.desc"
      },
      "name": "Find Recent Training",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2640,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "evaluate-merge",
      "parameters": {
        "functionCode": "const originalData = $('Prepare Merge Check').first().json;\nconst trainingData = originalData.training_data || {};\nconst userId = originalData.user_id;\nconst chatId = originalData.chat_id;\nconst messageId = originalData.message_id;\n\n// Check if Supabase returned a valid existing record\nconst lookupResult = items[0].json;\nconst hasExistingTraining = lookupResult && lookupResult.id;\n\nif (hasExistingTraining) {\n  // --- MERGE MODE ---\n  const existing = lookupResult;\n  const newData = trainingData;\n  const merged = {};\n\n  const numericFields = [\n    'distance_km', 'duration_seconds', 'avg_pace_seconds',\n    'avg_heart_rate', 'max_heart_rate', 'calories', 'elevation_gain_m'\n  ];\n\n  for (const field of numericFields) {\n    const existingVal = existing[field];\n    const newVal = newData ? newData[field] : undefined;\n\n    if (existingVal === null || existingVal === undefined) {\n      merged[field] = newVal || null;\n    } else if (newVal === null || newVal === undefined) {\n      merged[field] = existingVal;\n    } else {\n      if (field === 'distance_km') {\n        // Prefer value with more decimal precision\n        const existDec = (String(existingVal).split('.')[1] || '').length;\n        const newDec = (String(newVal).split('.')[1] || '').length;\n        merged[field] = newDec >= existDec ? newVal : existingVal;\n      } else {\n        // For other fields: prefer new value (user sent it for a reason)\n        merged[field] = newVal;\n      }\n    }\n  }\n\n  merged.type = (newData ? newData.type : null) || existing.type || 'easy_run';\n\n  // Recalculate pace if we have both distance and duration\n  if (merged.distance_km && merged.duration_seconds) {\n    merged.avg_pace_seconds = Math.round(merged.duration_seconds / merged.distance_km);\n  }\n\n  // Build summary of what changed\n  const changes = [];\n  for (const field of numericFields) {\n    const oldVal = existing[field];\n    const newVal = merged[field];\n    if (oldVal !== newVal && newVal !== null && newVal !== undefined) {\n      changes.push(field);\n    }\n  }\n\n  return [{\n    json: {\n      shouldMerge: true,\n      existingId: existing.id,\n      user_id: userId,\n      chat_id: chatId,\n      message_id: messageId,\n      distance_km: merged.distance_km,\n      duration_seconds: merged.duration_seconds,\n      avg_pace_seconds: merged.avg_pace_seconds,\n      avg_heart_rate: merged.avg_heart_rate,\n      max_heart_rate: merged.max_heart_rate,\n      calories: merged.calories,\n      elevation_gain_m: merged.elevation_gain_m,\n      type: merged.type,\n      screenshot_count: 2,\n      changes: changes\n    }\n  }];\n} else {\n  // --- NEW TRAINING MODE ---\n  return [{\n    json: {\n      shouldMerge: false,\n      user_id: userId,\n      chat_id: chatId,\n      message_id: messageId,\n      training_data: trainingData,\n      is_photo_training: originalData.is_photo_training,\n      response_text: originalData.response_text\n    }\n  }];\n}"
      },
      "name": "Evaluate Merge",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2840,
        100
      ]
    },
    {
      "id": "should-merge",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "merge-check",
              "leftValue": "={{ $json.shouldMerge }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Should Merge?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3040,
        100
      ]
    },
    {
      "id": "update-training",
      "parameters": {
        "operation": "update",
        "tableId": "trainings",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.existingId }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "distance_km",
              "fieldValue": "={{ $json.distance_km }}"
            },
            {
              "fieldId": "duration_seconds",
              "fieldValue": "={{ $json.duration_seconds }}"
            },
            {
              "fieldId": "avg_pace_seconds",
              "fieldValue": "={{ $json.avg_pace_seconds }}"
            },
            {
              "fieldId": "avg_heart_rate",
              "fieldValue": "={{ $json.avg_heart_rate }}"
            },
            {
              "fieldId": "max_heart_rate",
              "fieldValue": "={{ $json.max_heart_rate }}"
            },
            {
              "fieldId": "calories",
              "fieldValue": "={{ $json.calories }}"
            },
            {
              "fieldId": "elevation_gain_m",
              "fieldValue": "={{ $json.elevation_gain_m }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.type }}"
            },
            {
              "fieldId": "screenshot_count",
              "fieldValue": "={{ $json.screenshot_count }}"
            }
          ]
        }
      },
      "name": "Update Training",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3240,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "format-merge-response",
      "parameters": {
        "functionCode": "const mergeData = $('Evaluate Merge').first().json;\n\nconst formatPace = (s) => {\n  if (!s) return 'н/д';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = 'Данные объединены с предыдущим скриншотом!\\n\\n';\ntext += 'Обновлённая тренировка:\\n';\ntext += '- Дистанция: ' + (mergeData.distance_km || 'н/д') + ' км\\n';\ntext += '- Время: ' + (mergeData.duration_seconds ? Math.floor(mergeData.duration_seconds/60) + ' мин' : 'н/д') + '\\n';\ntext += '- Темп: ' + formatPace(mergeData.avg_pace_seconds) + '/км\\n';\nif (mergeData.avg_heart_rate) text += '- Пульс: ' + mergeData.avg_heart_rate + ' уд/мин\\n';\nif (mergeData.calories) text += '- Калории: ' + mergeData.calories + '\\n';\nif (mergeData.elevation_gain_m) text += '- Набор высоты: ' + mergeData.elevation_gain_m + ' м\\n';\n\n// Weekly progress\ntry {\n  const weekTrainings = $('Get Week Trainings (Merge)').all().filter(t => t.json && t.json.id);\n  const checkUser = $('Check User').first().json;\n  const targetSessions = checkUser.weekly_runs || 3;\n\n  const totalSessions = weekTrainings.length;\n  let totalKm = 0;\n  weekTrainings.forEach(t => { totalKm += parseFloat(t.json.distance_km) || 0; });\n\n  let progress = '\\n\\nНа этой неделе: ' + totalSessions + '/' + targetSessions + ' тренировок';\n  progress += ', ' + totalKm.toFixed(1) + ' км';\n\n  try {\n    const strategyItem = $('Get Photo Strategy (Merge)').first().json;\n    if (strategyItem && strategyItem.phases) {\n      const phases = typeof strategyItem.phases === 'string'\n        ? JSON.parse(strategyItem.phases) : strategyItem.phases;\n      const startDate = new Date(strategyItem.start_date);\n      const now = new Date();\n      const weeksSince = Math.max(1, Math.ceil((now - startDate) / (7*24*60*60*1000)));\n      let currentPhase = null;\n      for (const p of phases) {\n        if (weeksSince >= p.start_week && weeksSince <= p.end_week) {\n          currentPhase = p; break;\n        }\n      }\n      if (currentPhase && currentPhase.target_weekly_km_min) {\n        progress += ' (цель: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км)';\n      }\n    }\n  } catch(e2) {}\n\n  text += progress;\n} catch(e) {}\n\nreturn [{\n  json: {\n    chat_id: mergeData.chat_id,\n    response_text: text\n  }\n}];"
      },
      "name": "Format Merge Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3540,
        0
      ]
    },
    {
      "id": "prepare-text-chat-history",
      "parameters": {
        "functionCode": "const checkUser = $('Check User').first().json;\nconst userId = checkUser.user_id;\nconst userMessage = checkUser.message_text;\n\n// Get bot response - try Extract Response first\nlet botResponse = '';\ntry {\n  botResponse = $('Extract Response').first().json.response_text || '';\n} catch(e) {\n  botResponse = '';\n}\n\nif (!userId || !userMessage) return [];\n\nconst results = [];\n\n// Save user message\nresults.push({\n  json: {\n    user_id: userId,\n    role: 'user',\n    content: userMessage,\n    message_type: 'general'\n  }\n});\n\n// Save bot response\nif (botResponse) {\n  results.push({\n    json: {\n      user_id: userId,\n      role: 'assistant',\n      content: botResponse,\n      message_type: 'general'\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Prepare Text Chat History",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2200,
        600
      ]
    },
    {
      "id": "prepare-photo-chat-history",
      "parameters": {
        "functionCode": "const checkUser = $('Check User').first().json;\nconst userId = checkUser.user_id;\nconst caption = checkUser.message_text || '';\n\n// Determine bot response based on which path we came from\nlet botResponse = '';\ntry {\n  // Try merge response first\n  botResponse = $('Evaluate Merge').first().json.shouldMerge\n    ? 'Данные объединены с предыдущим скриншотом.'\n    : '';\n} catch(e) {}\n\nif (!botResponse) {\n  try {\n    const td = $('Parse Vision Response').first().json.training_data;\n    if (td) {\n      botResponse = 'Тренировка записана: ' + (td.distance_km || '?') + ' км';\n      if (td.duration_seconds) botResponse += ', ' + Math.round(td.duration_seconds/60) + ' мин';\n    }\n  } catch(e) {\n    botResponse = 'Фото обработано';\n  }\n}\n\nif (!userId) return [];\n\nconst results = [];\n\nresults.push({\n  json: {\n    user_id: userId,\n    role: 'user',\n    content: caption ? '[Фото] ' + caption : '[Фото тренировки]',\n    message_type: 'logging'\n  }\n});\n\nresults.push({\n  json: {\n    user_id: userId,\n    role: 'assistant',\n    content: botResponse,\n    message_type: 'logging'\n  }\n});\n\nreturn results;"
      },
      "name": "Prepare Photo Chat History",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3940,
        100
      ]
    },
    {
      "id": "save-chat-history",
      "parameters": {
        "operation": "create",
        "tableId": "chat_history",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "={{ $json.role }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $json.message_type }}"
            }
          ]
        }
      },
      "name": "Save Chat History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4140,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-week-trainings-photo",
      "parameters": {
        "operation": "getAll",
        "tableId": "trainings",
        "returnAll": true,
        "filterType": "string",
        "RLCfilterString": "=user_id=eq.{{ $('Check User').first().json.user_id }}&date=gte.{{ $now.minus({days: $now.weekday - 1}).toFormat('yyyy-MM-dd') }}&order=date.desc"
      },
      "name": "Get Week Trainings (Photo)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3340,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-photo-strategy",
      "parameters": {
        "operation": "getAll",
        "tableId": "training_strategies",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "RLCfilterString": "=user_id=eq.{{ $('Check User').first().json.user_id }}&status=eq.active&order=created_at.desc"
      },
      "name": "Get Photo Strategy",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3440,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-week-trainings-merge",
      "parameters": {
        "operation": "getAll",
        "tableId": "trainings",
        "returnAll": true,
        "filterType": "string",
        "RLCfilterString": "=user_id=eq.{{ $('Check User').first().json.user_id }}&date=gte.{{ $now.minus({days: $now.weekday - 1}).toFormat('yyyy-MM-dd') }}&order=date.desc"
      },
      "name": "Get Week Trainings (Merge)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3340,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-photo-strategy-merge",
      "parameters": {
        "operation": "getAll",
        "tableId": "training_strategies",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "RLCfilterString": "=user_id=eq.{{ $('Check User').first().json.user_id }}&status=eq.active&order=created_at.desc"
      },
      "name": "Get Photo Strategy (Merge)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3440,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "test-webhook",
      "parameters": {
        "path": "e2e-test-entry",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        600
      ],
      "webhookId": "e2e-test-entry"
    },
    {
      "id": "delete-existing-plan",
      "name": "Delete Existing Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3840,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      },
      "parameters": {
        "operation": "delete",
        "tableId": "weekly_plans",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $(\"Extract Response\").first().json.user_id }}"
            },
            {
              "keyName": "week_start",
              "condition": "eq",
              "keyValue": "={{ $(\"Extract Response\").first().json.plan_week_start || $now.format(\"yyyy-MM-dd\") }}"
            }
          ]
        }
      },
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "TelegramTrigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "Show Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Typing": {
      "main": [
        [
          {
            "node": "Route After Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route After Typing": {
      "main": [
        [
          {
            "node": "Is Photo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Photo?": {
      "main": [
        [
          {
            "node": "Download Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User Not Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Vision": {
      "main": [
        [
          {
            "node": "Parse Vision Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Vision Response": {
      "main": [
        [
          {
            "node": "Training Recognized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Training Recognized?": {
      "main": [
        [
          {
            "node": "Prepare Merge Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Not Recognized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Photo Training": {
      "main": [
        [
          {
            "node": "Get Week Trainings (Photo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Photo Response": {
      "main": [
        [
          {
            "node": "Send Photo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Not Found?": {
      "main": [
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Active Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User": {
      "main": [
        [
          {
            "node": "Get User Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Again": {
      "main": [
        [
          {
            "node": "Prepare New User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare New User Data": {
      "main": [
        [
          {
            "node": "Merge User Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Plan": {
      "main": [
        [
          {
            "node": "Get Recent Trainings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Trainings": {
      "main": [
        [
          {
            "node": "Get Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Merge User Flows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge User Flows": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Is Onboarding?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Plan Generation?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Text Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Onboarding?": {
      "main": [
        [
          {
            "node": "Build Update Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Update Data": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Update User Profile",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Plan Generation?": {
      "main": [
        [
          {
            "node": "Delete Existing Plan",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "Binary to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary to Base64": {
      "main": [
        [
          {
            "node": "Prepare Vision Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vision Data": {
      "main": [
        [
          {
            "node": "GPT-4o Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Strategy": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Profile": {
      "main": [
        [
          {
            "node": "Is Strategy Stage?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Strategy Stage?": {
      "main": [
        [
          {
            "node": "Save Strategy",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Merge Check": {
      "main": [
        [
          {
            "node": "Find Recent Training",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Recent Training": {
      "main": [
        [
          {
            "node": "Evaluate Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Merge": {
      "main": [
        [
          {
            "node": "Should Merge?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Merge?": {
      "main": [
        [
          {
            "node": "Update Training",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Photo Training",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Training": {
      "main": [
        [
          {
            "node": "Get Week Trainings (Merge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Merge Response": {
      "main": [
        [
          {
            "node": "Send Photo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Chat History": {
      "main": [
        [
          {
            "node": "Save Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo Response": {
      "main": [
        [
          {
            "node": "Prepare Photo Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Photo Chat History": {
      "main": [
        [
          {
            "node": "Save Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Week Trainings (Photo)": {
      "main": [
        [
          {
            "node": "Get Photo Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo Strategy": {
      "main": [
        [
          {
            "node": "Format Photo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Week Trainings (Merge)": {
      "main": [
        [
          {
            "node": "Get Photo Strategy (Merge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo Strategy (Merge)": {
      "main": [
        [
          {
            "node": "Format Merge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Plan": {
      "main": [
        [
          {
            "node": "Save Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
  "activeVersionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
  "versionCounter": 67,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-03T14:16:53.371Z",
      "createdAt": "2026-02-03T14:16:53.371Z",
      "role": "workflow:owner",
      "workflowId": "7Ar459SadzSXgUEv",
      "projectId": "jjRGAgVN0Om9gEix",
      "project": {
        "updatedAt": "2025-11-17T04:59:06.055Z",
        "createdAt": "2025-11-14T08:46:34.197Z",
        "id": "jjRGAgVN0Om9gEix",
        "name": "Nikita Kuznetsov <knu@skbkontur.ru>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "70308841-4ee1-48e9-854d-73f215836be6",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T08:46:34.197Z",
            "createdAt": "2025-11-14T08:46:34.197Z",
            "userId": "70308841-4ee1-48e9-854d-73f215836be6",
            "projectId": "jjRGAgVN0Om9gEix",
            "user": {
              "updatedAt": "2026-02-06T23:26:54.198Z",
              "createdAt": "2025-11-14T08:46:34.197Z",
              "id": "70308841-4ee1-48e9-854d-73f215836be6",
              "email": "knu@skbkontur.ru",
              "firstName": "Nikita",
              "lastName": "Kuznetsov",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-17T04:59:14.713Z",
                "personalization_survey_n8n_version": "1.117.3"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "OElc53ji11bXjJWq",
                "userActivated": true,
                "userActivatedAt": 1769961636692
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T23:32:39.653Z",
    "createdAt": "2026-02-06T23:32:39.653Z",
    "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
    "workflowId": "7Ar459SadzSXgUEv",
    "nodes": [
      {
        "id": "telegram-trigger",
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "name": "TelegramTrigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          400
        ],
        "credentials": {
          "telegramApi": {
            "id": "SLNhx6dJUSPFBV35",
            "name": "Telegram Bot - Running Coach"
          }
        }
      },
      {
        "id": "extract-message",
        "parameters": {
          "functionCode": "const msg = items[0].json.message;\n\n// Определяем тип сообщения\nlet messageType = 'text';\nlet photoFileId = null;\nlet photoCaption = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  messageType = 'photo';\n  // Берём фото максимального размера (последнее в массиве)\n  photoFileId = msg.photo[msg.photo.length - 1].file_id;\n  photoCaption = msg.caption || '';\n}\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || photoCaption || '',\n    message_id: msg.message_id,\n    message_type: messageType,\n    photo_file_id: photoFileId\n  }\n}];"
        },
        "name": "Extract Message",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          440,
          400
        ]
      },
      {
        "id": "get-user",
        "parameters": {
          "operation": "getAll",
          "tableId": "users",
          "returnAll": false,
          "limit": 1,
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telegram_id",
                "condition": "eq",
                "keyValue": "={{ $json.telegram_id }}"
              }
            ]
          }
        },
        "name": "Get User",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          640,
          400
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "check-user",
        "parameters": {
          "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      race_date: userData.race_date,\n      race_distance: userData.race_distance,\n      target_time_seconds: userData.target_time_seconds,\n      resting_hr: userData.resting_hr,\n      max_hr: userData.max_hr,\n      has_lab_testing: userData.has_lab_testing,\n      vo2max: userData.vo2max,\n      lthr: userData.lthr,\n      hr_zone1_max: userData.hr_zone1_max,\n      hr_zone2_max: userData.hr_zone2_max,\n      hr_zone3_max: userData.hr_zone3_max,\n      hr_zone4_max: userData.hr_zone4_max,\n      hr_zone5_max: userData.hr_zone5_max,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id,\n      message_type: messageData.message_type,\n      photo_file_id: messageData.photo_file_id\n    }\n  }];\n}"
        },
        "name": "Check User",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          840,
          400
        ]
      },
      {
        "id": "show-typing",
        "parameters": {
          "operation": "sendChatAction",
          "chatId": "={{ $json.chat_id.toString() }}",
          "action": "typing"
        },
        "name": "Show Typing",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1040,
          400
        ],
        "credentials": {
          "telegramApi": {
            "id": "SLNhx6dJUSPFBV35",
            "name": "Telegram Bot - Running Coach"
          }
        }
      },
      {
        "id": "route-after-typing",
        "parameters": {
          "functionCode": "const data = $('Check User').first().json;\nreturn [{json: data}];"
        },
        "name": "Route After Typing",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1240,
          400
        ]
      },
      {
        "id": "is-photo",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "photo-check",
                "leftValue": "={{ $json.message_type }}",
                "rightValue": "photo",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "completed-check",
                "leftValue": "={{ $json.onboarding_stage }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is Photo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1440,
          400
        ]
      },
      {
        "id": "parse-vision-response",
        "parameters": {
          "functionCode": "const checkUserData = $('Check User').first().json;\nconst visionResponse = items[0].json;\nconst aiContent = visionResponse.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(aiContent);\n} catch (e) {\n  parsed = {\n    recognized: false,\n    response: 'Ошибка при обработке фото. Попробуй ещё раз или напиши результат текстом.'\n  };\n}\n\n// Очищаем текст для Telegram\nlet responseText = parsed.response || 'Фото обработано';\nresponseText = responseText\n  .replace(/\\*/g, '•')\n  .replace(/_/g, ' ')\n  .replace(/`/g, \"'\")\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_id: checkUserData.message_id,\n    recognized: parsed.recognized || false,\n    confidence: parsed.confidence || 'low',\n    training_data: parsed.data || null,\n    source_app: parsed.source_app || null,\n    response_text: responseText,\n    is_photo_training: true\n  }\n}];"
        },
        "name": "Parse Vision Response",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2240,
          200
        ]
      },
      {
        "id": "is-training-recognized",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "recognized-check",
                "leftValue": "={{ $json.recognized }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Training Recognized?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2440,
          200
        ]
      },
      {
        "id": "save-photo-training",
        "parameters": {
          "operation": "create",
          "tableId": "trainings",
          "dataToSend": "defineBelow",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $json.user_id }}"
              },
              {
                "fieldId": "date",
                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
              },
              {
                "fieldId": "day_of_week",
                "fieldValue": "={{ $now.format('EEEE').toLowerCase() }}"
              },
              {
                "fieldId": "type",
                "fieldValue": "={{ $json.training_data.type || 'easy_run' }}"
              },
              {
                "fieldId": "distance_km",
                "fieldValue": "={{ $json.training_data.distance_km }}"
              },
              {
                "fieldId": "duration_seconds",
                "fieldValue": "={{ $json.training_data.duration_seconds }}"
              },
              {
                "fieldId": "avg_pace_seconds",
                "fieldValue": "={{ $json.training_data.avg_pace_seconds }}"
              },
              {
                "fieldId": "avg_heart_rate",
                "fieldValue": "={{ $json.training_data.avg_heart_rate }}"
              },
              {
                "fieldId": "max_heart_rate",
                "fieldValue": "={{ $json.training_data.max_heart_rate }}"
              },
              {
                "fieldId": "calories",
                "fieldValue": "={{ $json.training_data.calories }}"
              },
              {
                "fieldId": "elevation_gain_m",
                "fieldValue": "={{ $json.training_data.elevation_gain_m }}"
              },
              {
                "fieldId": "source",
                "fieldValue": "screenshot"
              },
              {
                "fieldId": "is_planned",
                "fieldValue": "={{ false }}"
              }
            ]
          }
        },
        "name": "Save Photo Training",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2640,
          100
        ],
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "format-photo-response",
        "parameters": {
          "functionCode": "const parseData = $('Parse Vision Response').first().json;\nconst td = parseData.training_data || {};\n\nconst formatPace = (s) => {\n  if (!s) return 'н/д';\n  return Math.floor(s/60) + ':' + String(s % 60).padStart(2, '0');\n};\n\nlet text = '📝 Тренировка записана!\\n\\n';\ntext += '• Дистанция: ' + (td.distance_km || 'н/д') + ' км\\n';\ntext += '• Время: ' + (td.duration_seconds ? Math.floor(td.duration_seconds/60) + ' мин' : 'н/д') + '\\n';\ntext += '• Темп: ' + formatPace(td.avg_pace_seconds) + '/км\\n';\nif (td.avg_heart_rate) text += '• Пульс: ' + td.avg_heart_rate + ' уд/мин\\n';\nif (td.calories) text += '• Калории: ' + td.calories + '\\n';\nif (td.elevation_gain_m) text += '• Набор высоты: ' + td.elevation_gain_m + ' м\\n';\ntext += '\\n💪 Отличная работа!';\n\nreturn [{\n  json: {\n    chat_id: parseData.chat_id,\n    response_text: text\n  }\n}];"
        },
        "name": "Format Photo Response",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2840,
          100
        ]
      },
      {
        "id": "send-photo-response",
        "parameters": {
          "operation": "sendMessage",
          "chatId": "={{ $json.chat_id.toString() }}",
          "text": "={{ $json.response_text }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Send Photo Response",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3040,
          100
        ],
        "credentials": {
          "telegramApi": {
            "id": "SLNhx6dJUSPFBV35",
            "name": "Telegram Bot - Running Coach"
          }
        }
      },
      {
        "id": "send-not-recognized",
        "parameters": {
          "operation": "sendMessage",
          "chatId": "={{ $json.chat_id.toString() }}",
          "text": "={{ $json.response_text }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Send Not Recognized",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2640,
          300
        ],
        "credentials": {
          "telegramApi": {
            "id": "SLNhx6dJUSPFBV35",
            "name": "Telegram Bot - Running Coach"
          }
        }
      },
      {
        "id": "user-not-found",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.userExists }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "User Not Found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1640,
          500
        ]
      },
      {
        "id": "create-user",
        "parameters": {
          "operation": "create",
          "tableId": "users",
          "dataToSend": "defineBelow",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "telegram_id",
                "fieldValue": "={{ $json.telegram_id }}"
              },
              {
                "fieldId": "username",
                "fieldValue": "={{ $json.username }}"
              },
              {
                "fieldId": "first_name",
                "fieldValue": "={{ $json.first_name }}"
              },
              {
                "fieldId": "last_name",
                "fieldValue": "={{ $json.last_name }}"
              },
              {
                "fieldId": "onboarding_stage",
                "fieldValue": "started"
              },
              {
                "fieldId": "language",
                "fieldValue": "ru"
              }
            ]
          }
        },
        "name": "Create User",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1840,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "get-user-again",
        "parameters": {
          "operation": "getAll",
          "tableId": "users",
          "returnAll": false,
          "limit": 1,
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telegram_id",
                "condition": "eq",
                "keyValue": "={{ $('Check User').first().json.telegram_id }}"
              }
            ]
          }
        },
        "name": "Get User Again",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2040,
          400
        ],
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "prepare-new-user",
        "parameters": {
          "functionCode": "const messageData = $('Check User').first().json;\nconst userData = items[0].json;\nreturn [{\n  json: {\n    userExists: true,\n    user_id: userData.id,\n    first_name: userData.first_name || messageData.first_name,\n    onboarding_stage: userData.onboarding_stage || 'started',\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_id: messageData.message_id,\n    active_plan: null,\n    recent_trainings: []\n  }\n}];"
        },
        "name": "Prepare New User Data",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2240,
          400
        ]
      },
      {
        "id": "get-active-plan",
        "parameters": {
          "operation": "getAll",
          "tableId": "weekly_plans",
          "returnAll": false,
          "limit": 1,
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $('Check User').first().json.user_id }}"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "active"
              }
            ]
          },
          "options": {
            "orderByColumn": "created_at",
            "orderType": "desc"
          }
        },
        "name": "Get Active Plan",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1840,
          600
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "get-recent-trainings",
        "parameters": {
          "operation": "getAll",
          "tableId": "trainings",
          "returnAll": false,
          "limit": 10,
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $('Check User').first().json.user_id }}"
              }
            ]
          },
          "options": {
            "orderByColumn": "date",
            "orderType": "desc"
          }
        },
        "name": "Get Recent Trainings",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2040,
          600
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "merge-context",
        "parameters": {
          "functionCode": "const checkUserData = $('Check User').first().json;\nconst planItems = $('Get Active Plan').all();\nconst trainingItems = $('Get Recent Trainings').all();\nconst strategyItems = items;\n\nlet activePlan = null;\nif (planItems.length > 0 && planItems[0].json && planItems[0].json.id) {\n  activePlan = planItems[0].json;\n}\n\nlet recentTrainings = [];\nif (trainingItems.length > 0) {\n  recentTrainings = trainingItems.map(t => t.json).filter(t => t && t.id);\n}\n\nlet activeStrategy = null;\nif (strategyItems.length > 0 && strategyItems[0].json && strategyItems[0].json.id) {\n  activeStrategy = strategyItems[0].json;\n}\n\nreturn [{\n  json: {\n    ...checkUserData,\n    active_plan: activePlan,\n    recent_trainings: recentTrainings,\n    active_strategy: activeStrategy\n  }\n}];"
        },
        "name": "Merge Context",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2340,
          600
        ]
      },
      {
        "id": "merge-flows",
        "parameters": {
          "mode": "append",
          "options": {}
        },
        "name": "Merge User Flows",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          2440,
          500
        ]
      },
      {
        "id": "prepare-data",
        "parameters": {
          "functionCode": "const data = items[0].json;\nconst message = data.message_text;\nconst stage = data.onboarding_stage || 'started';\nconst firstName = data.first_name || 'друг';\n\nlet systemPrompt = '';\nlet nextStage = stage;\nlet isPlanGeneration = false;\n\nconst JSON_FORMAT = 'Ответь JSON: {\"extracted\": {...}, \"response\": \"текст\"}. НЕ используй * _ ` [ ]';\n\nconst formatPace = (sec) => {\n  if (!sec) return 'н/д';\n  return Math.floor(sec/60) + ':' + (sec%60).toString().padStart(2,'0');\n};\n\n// Контекст тренировок\nlet trainingsContext = '';\nconst trainings = data.recent_trainings || [];\nif (trainings.length > 0) {\n  trainingsContext = '\\n\\nУ ПОЛЬЗОВАТЕЛЯ ЕСТЬ ' + trainings.length + ' ЗАПИСАННЫХ ТРЕНИРОВОК:\\n';\n  trainings.slice(0, 10).forEach(t => {\n    trainingsContext += '• ' + t.date + ': ' + (t.distance_km || '?') + ' км';\n    if (t.duration_seconds) trainingsContext += ', ' + Math.round(t.duration_seconds/60) + ' мин';\n    if (t.avg_pace_seconds) trainingsContext += ', темп ' + formatPace(t.avg_pace_seconds) + '/км';\n    if (t.avg_heart_rate) trainingsContext += ', пульс ' + t.avg_heart_rate;\n    if (t.type) trainingsContext += ' (' + t.type + ')';\n    trainingsContext += '\\n';\n  });\n} else {\n  trainingsContext = '\\n\\nТренировок пока не записано.\\n';\n}\n\n// Контекст плана\nlet planContext = '';\nif (data.active_plan && data.active_plan.plan_data) {\n  try {\n    const pd = typeof data.active_plan.plan_data === 'string' ? JSON.parse(data.active_plan.plan_data) : data.active_plan.plan_data;\n    planContext = '\\nАКТИВНЫЙ ПЛАН: ' + (pd.raw_plan || '').substring(0, 500);\n  } catch(e) {}\n}\n\n// Контекст стратегии\nlet strategyContext = '';\nlet currentPhase = null;\nif (data.active_strategy && data.active_strategy.phases) {\n  try {\n    const strategy = data.active_strategy;\n    const phases = typeof strategy.phases === 'string' ? JSON.parse(strategy.phases) : strategy.phases;\n    const startDate = new Date(strategy.start_date);\n    const now = new Date();\n    const weeksSinceStart = Math.max(1, Math.ceil((now - startDate) / (7 * 24 * 60 * 60 * 1000)));\n\n    for (const phase of phases) {\n      if (weeksSinceStart >= phase.start_week && weeksSinceStart <= phase.end_week) {\n        currentPhase = phase;\n        break;\n      }\n    }\n\n    strategyContext = '\\n\\nСТРАТЕГИЯ ПОДГОТОВКИ:';\n    strategyContext += '\\n• Цель: ' + (strategy.race_distance || '') + (strategy.race_date ? ' (' + strategy.race_date + ')' : '');\n    strategyContext += '\\n• Всего недель: ' + strategy.total_weeks + ', текущая неделя: ' + weeksSinceStart;\n    if (currentPhase) {\n      strategyContext += '\\n• Текущая фаза: ' + currentPhase.display_name + ' (нед. ' + currentPhase.start_week + '-' + currentPhase.end_week + ')';\n      strategyContext += '\\n• Фокус: ' + currentPhase.focus;\n      strategyContext += '\\n• Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км/нед';\n      strategyContext += '\\n• Ключевые тренировки: ' + (currentPhase.key_workouts || []).join(', ');\n    }\n    strategyContext += '\\n• Все фазы: ';\n    phases.forEach(p => {\n      const isCurrent = (currentPhase && p.name === currentPhase.name) ? ' [ТЕКУЩАЯ]' : '';\n      strategyContext += p.display_name + ' (нед.' + p.start_week + '-' + p.end_week + ')' + isCurrent + ', ';\n    });\n    strategyContext += '\\n';\n  } catch(e) {\n    strategyContext = '';\n  }\n}\n\nif (stage !== 'completed') {\n  // Данные профиля для контекста\n  const profileInfo = 'Данные пользователя: '\n    + (data.race_distance ? 'дистанция=' + data.race_distance + ', ' : '')\n    + (data.race_date ? 'дата=' + data.race_date + ', ' : '')\n    + (data.target_time_seconds ? 'цель=' + data.target_time_seconds + 'сек, ' : '')\n    + (data.weekly_runs ? 'тренировок/нед=' + data.weekly_runs + ', ' : '')\n    + (data.level ? 'уровень=' + data.level : '');\n\n  const prompts = {\n    'started': 'Приветствуй ' + firstName + '. Представься AI-тренером по бегу. Спроси уровень: новичок/любитель/продвинутый. ' + JSON_FORMAT,\n    'profile': 'Определи level: beginner/intermediate/advanced. Спроси возраст. ' + JSON_FORMAT + ' extracted: {level: ...}',\n    'physical': 'Извлеки age. Спроси рост и вес. ' + JSON_FORMAT + ' extracted: {age: число}',\n    'heart_rate': 'Извлеки height_cm, weight_kg. Спроси пульс покоя. ' + JSON_FORMAT + ' extracted: {height_cm, weight_kg}',\n    'running_info': 'Извлеки resting_hr. Спроси темп на 5км. ' + JSON_FORMAT + ' extracted: {resting_hr}',\n    'lab_testing': 'Извлеки current_5k_pace_seconds (темп в сек/км). Спроси про VO2max тест. ' + JSON_FORMAT + ' extracted: {current_5k_pace_seconds}',\n    'training_freq': 'Извлеки has_lab_testing. Спроси дней в неделю (3-6). ' + JSON_FORMAT + ' extracted: {has_lab_testing, vo2max?, lthr?}',\n    'race_details': 'Извлеки weekly_runs (число). Также если пользователь указал дистанцию/дату/цель забега - извлеки их тоже. '\n      + 'Спроси дистанцию забега, дату, целевое время. '\n      + 'В конце ответа скажи: \"Отлично! Сейчас составлю стратегию подготовки!\" '\n      + JSON_FORMAT + ' extracted: {weekly_runs, race_distance: 5k/10k/half/marathon, race_date: YYYY-MM-DD, target_time_seconds: число}',\n    'strategy_preview': profileInfo + '\\n\\n'\n      + 'ИСПОЛЬЗУЙ ДАННЫЕ ПОЛЬЗОВАТЕЛЯ ВЫШЕ. Если в сообщении есть новые данные - используй их.\\n\\n'\n      + 'СГЕНЕРИРУЙ СТРАТЕГИЮ ПОДГОТОВКИ К ЗАБЕГУ:\\n'\n      + '1. Рассчитай количество недель от сегодня до даты забега\\n'\n      + '2. Раздели подготовку на 4 фазы:\\n'\n      + '   - base (базовый): ~30% недель\\n'\n      + '   - development (развитие): ~30% недель\\n'\n      + '   - specialization (специализация): ~25% недель\\n'\n      + '   - taper (тейпер): ~15% недель (мин 1, макс 3)\\n'\n      + '3. Для каждой фазы: start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts, intensity_distribution\\n'\n      + '4. В response покажи красивый обзор стратегии\\n\\n'\n      + JSON_FORMAT + '\\n'\n      + 'extracted: { race_distance: ' + (data.race_distance || 'half') + ', race_date: ' + (data.race_date || new Date(Date.now() + 16*7*24*60*60*1000).toISOString().split('T')[0]) + ', target_time_seconds: ' + (data.target_time_seconds || 6300) + ', strategy_generated: true, total_weeks: число, strategy_summary: \"краткое описание\", phases: [{name, display_name, start_week, end_week, duration_weeks, focus, target_weekly_km_min, target_weekly_km_max, key_workouts: [...], intensity_distribution}] }'\n  };\n  systemPrompt = prompts[stage] || prompts['started'];\n  const nextStages = {started:'profile', profile:'physical', physical:'heart_rate', heart_rate:'running_info', running_info:'lab_testing', lab_testing:'training_freq', training_freq:'race_details', race_details:'strategy_preview', strategy_preview:'completed'};\n  nextStage = nextStages[stage] || stage;\n} else {\n  const isStrategyQuestion = /стратег|фаз[аыуеи]|период|этап подготовки|план подготовки|как.*иду|долгосроч|подготов.*забег/i.test(message);\n\n  if (isStrategyQuestion && data.active_strategy) {\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.'\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает о стратегии: \"' + message + '\"'\n      + '\\n\\nОтветь подробно о текущей фазе, прогрессе и что впереди.'\n      + '\\n\\n' + JSON_FORMAT;\n  } else if (/план|состав|давай|нач(?:н|ин)|готов|тренировк|недел/i.test(message)) {\n    isPlanGeneration = true;\n    systemPrompt = 'AI-тренер для ' + firstName + '. Составь план на неделю (' + (data.weekly_runs || 3) + ' тренировок).'\n      + strategyContext + trainingsContext + planContext\n      + (currentPhase ? '\\n\\nВАЖНО: План должен соответствовать ТЕКУЩЕЙ ФАЗЕ: ' + currentPhase.display_name + '. Фокус: ' + currentPhase.focus + '. Объём: ' + currentPhase.target_weekly_km_min + '-' + currentPhase.target_weekly_km_max + ' км.' : '')\n      + ' ' + JSON_FORMAT + ' extracted: {plan_generated: true, total_km: число}';\n  } else {\n    systemPrompt = 'Ты AI-тренер по бегу для ' + firstName + '. НЕ здоровайся.'\n      + strategyContext + trainingsContext + planContext\n      + '\\n\\nПользователь спрашивает: \"' + message + '\"'\n      + '\\n\\nПРАВИЛА ОТВЕТА:\\n1. Используй ДАННЫЕ ТРЕНИРОВОК выше'\n      + '\\n2. Если есть стратегия - учитывай текущую фазу'\n      + '\\n3. Будь конкретным: указывай цифры'\n      + '\\n4. Дай краткую оценку и совет'\n      + '\\n\\n' + JSON_FORMAT;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    message_text: message,\n    message_id: data.message_id,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    is_plan_generation: isPlanGeneration,\n    weekly_runs: data.weekly_runs\n  }\n}];"
        },
        "name": "Prepare Data",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2640,
          500
        ]
      },
      {
        "id": "call-openai",
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
        },
        "name": "Call OpenAI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2840,
          500
        ],
        "credentials": {
          "openAiApi": {
            "id": "koikxNcf4ds6vKgZ",
            "name": "OpenAI - Running Coach"
          }
        }
      },
      {
        "id": "extract-response",
        "parameters": {
          "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\nconst aiContent = response.choices[0].message.content;\n\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {}\n\nresponseText = responseText.replace(/\\*/g, '•').replace(/_/g, ' ').replace(/`/g, \"'\").replace(/\\[/g, '(').replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    is_plan_generation: prepareData.is_plan_generation,\n    weekly_runs: prepareData.weekly_runs\n  }\n}];"
        },
        "name": "Extract Response",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          3040,
          500
        ]
      },
      {
        "id": "send-telegram",
        "parameters": {
          "operation": "sendMessage",
          "chatId": "={{ $json.chat_id.toString() }}",
          "text": "={{ $json.response_text }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "name": "Send to Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3240,
          500
        ],
        "credentials": {
          "telegramApi": {
            "id": "SLNhx6dJUSPFBV35",
            "name": "Telegram Bot - Running Coach"
          }
        }
      },
      {
        "id": "is-onboarding",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $('Extract Response').first().json.onboarding_stage }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is Onboarding?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3440,
          500
        ]
      },
      {
        "id": "build-update",
        "parameters": {
          "functionCode": "const data = $('Extract Response').first().json;\nconst ext = data.extracted_data || {};\nconst updateFields = {};\nlet nextStage = data.next_stage;\n\nif (data.onboarding_stage === 'started') updateFields.goal = 'race';\nif (data.onboarding_stage === 'strategy_preview' && ext.strategy_generated) nextStage = 'completed';\nif (nextStage && nextStage !== data.onboarding_stage) updateFields.onboarding_stage = nextStage;\n\n['level','age','height_cm','weight_kg','current_5k_pace_seconds','weekly_runs','race_distance','race_date','target_time_seconds','resting_hr','max_hr','has_lab_testing','vo2max','lthr'].forEach(k => { if (ext[k] !== undefined) updateFields[k] = ext[k]; });\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0,\n    is_strategy_stage: data.onboarding_stage === 'strategy_preview' && ext.strategy_generated === true\n  }\n}];"
        },
        "name": "Build Update Data",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          3640,
          400
        ]
      },
      {
        "id": "has-updates",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.has_updates }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Has Updates?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3840,
          400
        ]
      },
      {
        "id": "update-user",
        "parameters": {
          "operation": "update",
          "tableId": "users",
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.user_id }}"
              }
            ]
          },
          "dataToSend": "defineBelow",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "onboarding_stage",
                "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
              },
              {
                "fieldId": "level",
                "fieldValue": "={{ $json.update_fields.level }}"
              },
              {
                "fieldId": "age",
                "fieldValue": "={{ $json.update_fields.age }}"
              },
              {
                "fieldId": "weekly_runs",
                "fieldValue": "={{ $json.update_fields.weekly_runs }}"
              },
              {
                "fieldId": "race_date",
                "fieldValue": "={{ $json.update_fields.race_date }}"
              },
              {
                "fieldId": "race_distance",
                "fieldValue": "={{ $json.update_fields.race_distance }}"
              },
              {
                "fieldId": "resting_hr",
                "fieldValue": "={{ $json.update_fields.resting_hr }}"
              }
            ]
          }
        },
        "name": "Update User Profile",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          4040,
          300
        ],
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "is-plan-gen",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $('Extract Response').first().json.is_plan_generation }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is Plan Generation?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3640,
          600
        ]
      },
      {
        "id": "save-plan",
        "parameters": {
          "operation": "create",
          "tableId": "weekly_plans",
          "dataToSend": "defineBelow",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
              },
              {
                "fieldId": "week_start",
                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
              },
              {
                "fieldId": "plan_data",
                "fieldValue": "={{ JSON.stringify({raw_plan: $('Extract Response').first().json.response_text}) }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "active"
              }
            ]
          }
        },
        "name": "Save Plan",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3840,
          600
        ],
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "download-photo-telegram",
        "parameters": {
          "resource": "file",
          "operation": "get",
          "fileId": "={{ $(\"Check User\").first().json.photo_file_id }}",
          "download": true
        },
        "name": "Download Photo",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1640,
          200
        ],
        "credentials": {
          "telegramApi": {
            "id": "SLNhx6dJUSPFBV35",
            "name": "Telegram Bot - Running Coach"
          }
        }
      },
      {
        "id": "move-binary-to-json",
        "parameters": {
          "mode": "binaryToJson",
          "setAllData": false,
          "sourceKey": "data",
          "destinationKey": "base64_image",
          "options": {
            "keepAsBase64": true
          }
        },
        "name": "Binary to Base64",
        "type": "n8n-nodes-base.moveBinaryData",
        "typeVersion": 1,
        "position": [
          1840,
          200
        ]
      },
      {
        "id": "prepare-vision-data",
        "parameters": {
          "functionCode": "const checkUserData = $(\"Check User\").first().json;\nconst base64Data = items[0].json.base64_image;\n\nreturn [{\n  json: {\n    user_id: checkUserData.user_id,\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id,\n    base64_image: base64Data,\n    mime_type: \"image/jpeg\"\n  }\n}];"
        },
        "name": "Prepare Vision Data",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          2040,
          200
        ]
      },
      {
        "id": "call-gpt4o-vision",
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Распознай тренировку с фото. Верни JSON: {\\\"recognized\\\": true/false, \\\"data\\\": {\\\"distance_km\\\": число, \\\"duration_seconds\\\": число, \\\"avg_pace_seconds\\\": число, \\\"avg_heart_rate\\\": число или null, \\\"type\\\": \\\"easy_run\\\"/\\\"tempo\\\"/\\\"intervals\\\"}, \\\"response\\\": \\\"текст\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mime_type }};base64,{{ $json.base64_image }}\"\n          }\n        },\n        {\n          \"type\": \"text\", \n          \"text\": \"Распознай тренировку\"\n        }\n      ]\n    }\n  ],\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
        },
        "name": "GPT-4o Vision",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2240,
          200
        ],
        "credentials": {
          "openAiApi": {
            "id": "koikxNcf4ds6vKgZ",
            "name": "OpenAI - Running Coach"
          }
        }
      },
      {
        "id": "get-strategy",
        "parameters": {
          "operation": "getAll",
          "tableId": "training_strategies",
          "returnAll": false,
          "limit": 1,
          "filterType": "manual",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $('Check User').first().json.user_id }}"
              },
              {
                "keyName": "status",
                "condition": "eq",
                "keyValue": "active"
              }
            ]
          },
          "options": {
            "orderByColumn": "created_at",
            "orderType": "desc"
          }
        },
        "name": "Get Strategy",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2140,
          600
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      },
      {
        "id": "is-strategy-stage",
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "strategy-check",
                "leftValue": "={{ $('Build Update Data').first().json.is_strategy_stage }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is Strategy Stage?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          4240,
          300
        ]
      },
      {
        "id": "save-strategy",
        "parameters": {
          "operation": "create",
          "tableId": "training_strategies",
          "dataToSend": "defineBelow",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
              },
              {
                "fieldId": "goal_type",
                "fieldValue": "race"
              },
              {
                "fieldId": "race_distance",
                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_distance }}"
              },
              {
                "fieldId": "race_date",
                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
              },
              {
                "fieldId": "target_time_seconds",
                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.target_time_seconds }}"
              },
              {
                "fieldId": "total_weeks",
                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.total_weeks }}"
              },
              {
                "fieldId": "phases",
                "fieldValue": "={{ JSON.stringify($('Extract Response').first().json.extracted_data.phases) }}"
              },
              {
                "fieldId": "summary",
                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.strategy_summary }}"
              },
              {
                "fieldId": "start_date",
                "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
              },
              {
                "fieldId": "end_date",
                "fieldValue": "={{ $('Extract Response').first().json.extracted_data.race_date }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "active"
              }
            ]
          }
        },
        "name": "Save Strategy",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          4440,
          200
        ],
        "credentials": {
          "supabaseApi": {
            "id": "CJ3Z1MvRt6BxblaB",
            "name": "Supabase - Running Coach"
          }
        }
      }
    ],
    "connections": {
      "TelegramTrigger": {
        "main": [
          [
            {
              "node": "Extract Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Message": {
        "main": [
          [
            {
              "node": "Get User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User": {
        "main": [
          [
            {
              "node": "Check User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check User": {
        "main": [
          [
            {
              "node": "Show Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Show Typing": {
        "main": [
          [
            {
              "node": "Route After Typing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route After Typing": {
        "main": [
          [
            {
              "node": "Is Photo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Photo?": {
        "main": [
          [
            {
              "node": "Download Photo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "User Not Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o Vision": {
        "main": [
          [
            {
              "node": "Parse Vision Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Vision Response": {
        "main": [
          [
            {
              "node": "Training Recognized?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Training Recognized?": {
        "main": [
          [
            {
              "node": "Save Photo Training",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Not Recognized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Photo Training": {
        "main": [
          [
            {
              "node": "Format Photo Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Photo Response": {
        "main": [
          [
            {
              "node": "Send Photo Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "User Not Found?": {
        "main": [
          [
            {
              "node": "Create User",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Active Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create User": {
        "main": [
          [
            {
              "node": "Get User Again",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Again": {
        "main": [
          [
            {
              "node": "Prepare New User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare New User Data": {
        "main": [
          [
            {
              "node": "Merge User Flows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Active Plan": {
        "main": [
          [
            {
              "node": "Get Recent Trainings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Recent Trainings": {
        "main": [
          [
            {
              "node": "Get Strategy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Context": {
        "main": [
          [
            {
              "node": "Merge User Flows",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge User Flows": {
        "main": [
          [
            {
              "node": "Prepare Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Data": {
        "main": [
          [
            {
              "node": "Call OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call OpenAI": {
        "main": [
          [
            {
              "node": "Extract Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Response": {
        "main": [
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to Telegram": {
        "main": [
          [
            {
              "node": "Is Onboarding?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Is Plan Generation?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Onboarding?": {
        "main": [
          [
            {
              "node": "Build Update Data",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Build Update Data": {
        "main": [
          [
            {
              "node": "Has Updates?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Updates?": {
        "main": [
          [
            {
              "node": "Update User Profile",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Is Plan Generation?": {
        "main": [
          [
            {
              "node": "Save Plan",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Download Photo": {
        "main": [
          [
            {
              "node": "Binary to Base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Binary to Base64": {
        "main": [
          [
            {
              "node": "Prepare Vision Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Vision Data": {
        "main": [
          [
            {
              "node": "GPT-4o Vision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Strategy": {
        "main": [
          [
            {
              "node": "Merge Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update User Profile": {
        "main": [
          [
            {
              "node": "Is Strategy Stage?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Strategy Stage?": {
        "main": [
          [
            {
              "node": "Save Strategy",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Nikita Kuznetsov",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T23:32:40.268Z",
        "id": 427,
        "workflowId": "7Ar459SadzSXgUEv",
        "versionId": "7ae6bb6d-8da4-4b38-8e71-009144a2fa42",
        "event": "activated",
        "userId": "70308841-4ee1-48e9-854d-73f215836be6"
      }
    ]
  }
}
