n8n-workflows/workflow-training-logger.json
{
  "name": "AI Running Coach - Training Logger",
  "meta": {
    "instanceId": "ai-running-coach-training-log"
  },
  "nodes": [
    {
      "id": "workflow-trigger",
      "name": "When Called by Main Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [0, 300],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "string"
            },
            {
              "name": "user_message",
              "type": "string"
            },
            {
              "name": "chat_id",
              "type": "number"
            },
            {
              "name": "current_plan_id",
              "type": "string"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "extract-training-data",
      "name": "AI Extract Training Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [280, 300],
      "parameters": {
        "promptType": "define",
        "text": "Извлеки данные о тренировке из сообщения: \"{{ $json.user_message }}\"\n\nВерни ТОЛЬКО JSON.",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Ты — система извлечения данных о тренировках.\n\nИзвлеки данные из сообщения пользователя и верни JSON:\n\n{\n  \"is_training_report\": true/false,\n  \"has_enough_data\": true/false,\n  \"data\": {\n    \"distance_km\": число или null,\n    \"duration_seconds\": число или null,\n    \"pace_seconds\": число или null (рассчитай если есть дистанция и время),\n    \"type\": \"easy_run\"/\"long_run\"/\"tempo\"/\"intervals\"/\"recovery\"/\"race\"/\"other\",\n    \"feeling\": \"great\"/\"good\"/\"ok\"/\"tired\"/\"exhausted\" или null,\n    \"rpe\": 1-10 или null,\n    \"heart_rate\": число или null,\n    \"notes\": строка или null\n  },\n  \"missing_fields\": [\"список недостающих полей\"],\n  \"clarification_needed\": \"вопрос для уточнения\" или null\n}\n\nПРАВИЛА РАСПОЗНАВАНИЯ:\n\n1. Дистанция:\n   - \"5 км\", \"5К\", \"5k\", \"пять километров\" = 5\n   - \"пятерка\" = 5, \"десятка\" = 10\n   - \"полумарафон\" = 21.1, \"марафон\" = 42.2\n\n2. Время:\n   - \"30 минут\", \"30мин\" = 1800 секунд\n   - \"1:30\" (если < 10 = часы:минуты) = 5400 секунд\n   - \"1 час 30 минут\" = 5400 секунд\n\n3. Темп:\n   - \"темп 6:00\" = 360 секунд/км\n   - Рассчитай: duration_seconds / distance_km\n\n4. Тип тренировки:\n   - По умолчанию: \"easy_run\"\n   - >10км или \"длительная\": \"long_run\"\n   - \"интервалы\", \"ускорения\": \"intervals\"\n   - \"темповый\", \"порог\": \"tempo\"\n\n5. Самочувствие:\n   - \"отлично\", \"супер\": \"great\"\n   - \"хорошо\", \"норм\": \"good\"\n   - \"так себе\": \"ok\"\n   - \"устал\", \"тяжело\": \"tired\"\n   - \"убит\", \"выжат\": \"exhausted\"\n\nЕсли нет дистанции ИЛИ времени, has_enough_data = false.\nВерни ТОЛЬКО JSON, никакого текста.",
          "maxIterations": 2
        }
      },
      "typeVersion": 1.7
    },
    {
      "id": "openai-model-extract",
      "name": "OpenAI Model (Extract)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [200, 520],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2,
          "responseFormat": "json_object"
        }
      },
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIALS_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "id": "parse-extraction",
      "name": "Parse Extraction Result",
      "type": "n8n-nodes-base.code",
      "position": [500, 300],
      "parameters": {
        "jsCode": "let output = $input.item.json.output || $input.item.json.text || '';\nlet extractedData;\n\ntry {\n  if (typeof output === 'object') {\n    extractedData = output;\n  } else {\n    const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      extractedData = JSON.parse(jsonMatch[0]);\n    } else {\n      throw new Error('No JSON found');\n    }\n  }\n} catch (e) {\n  extractedData = {\n    is_training_report: false,\n    has_enough_data: false,\n    data: null,\n    error: e.message\n  };\n}\n\n// Get input data\nconst inputData = $('When Called by Main Workflow').item.json;\n\n// Calculate pace if we have distance and duration\nif (extractedData.data && extractedData.data.distance_km && extractedData.data.duration_seconds) {\n  if (!extractedData.data.pace_seconds) {\n    extractedData.data.pace_seconds = Math.round(\n      extractedData.data.duration_seconds / extractedData.data.distance_km\n    );\n  }\n}\n\nreturn {\n  json: {\n    ...extractedData,\n    user_id: inputData.user_id,\n    chat_id: inputData.chat_id,\n    current_plan_id: inputData.current_plan_id,\n    user_message: inputData.user_message\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "check-enough-data",
      "name": "Has Enough Data?",
      "type": "n8n-nodes-base.if",
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-training",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.is_training_report }}",
              "rightValue": ""
            },
            {
              "id": "has-data",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.has_enough_data }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.2
    },
    {
      "id": "save-training",
      "name": "Save Training to DB",
      "type": "n8n-nodes-base.supabase",
      "position": [960, 200],
      "parameters": {
        "operation": "create",
        "tableId": "trainings",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "weekly_plan_id",
              "fieldValue": "={{ $json.current_plan_id || null }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "day_of_week",
              "fieldValue": "={{ $now.format('EEEE').toLowerCase() }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.data.type || 'easy_run' }}"
            },
            {
              "fieldId": "distance_km",
              "fieldValue": "={{ $json.data.distance_km }}"
            },
            {
              "fieldId": "duration_seconds",
              "fieldValue": "={{ $json.data.duration_seconds }}"
            },
            {
              "fieldId": "avg_pace_seconds",
              "fieldValue": "={{ $json.data.pace_seconds }}"
            },
            {
              "fieldId": "feeling",
              "fieldValue": "={{ $json.data.feeling }}"
            },
            {
              "fieldId": "rpe",
              "fieldValue": "={{ $json.data.rpe }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.data.notes }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "manual"
            }
          ]
        }
      },
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "id": "update-plan-if-exists",
      "name": "Update Plan Status",
      "type": "n8n-nodes-base.if",
      "position": [1180, 200],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-plan",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $('Parse Extraction Result').item.json.current_plan_id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.2
    },
    {
      "id": "get-plan-data",
      "name": "Get Plan Data",
      "type": "n8n-nodes-base.supabase",
      "position": [1400, 100],
      "parameters": {
        "operation": "get",
        "tableId": "weekly_plans",
        "id": "={{ $('Parse Extraction Result').item.json.current_plan_id }}"
      },
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "id": "mark-day-completed",
      "name": "Mark Day Completed",
      "type": "n8n-nodes-base.code",
      "position": [1620, 100],
      "parameters": {
        "jsCode": "// Get current plan data\nconst planData = $input.item.json.plan_data;\nconst today = $now.format('EEEE').toLowerCase();\n\n// Mark today's workout as completed\nif (planData[today]) {\n  planData[today].completed = true;\n  planData[today].completed_at = $now.toISO();\n}\n\n// Count completed sessions\nconst days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];\nlet completedSessions = 0;\ndays.forEach(day => {\n  if (planData[day] && planData[day].completed && planData[day].type !== 'rest') {\n    completedSessions++;\n  }\n});\n\nreturn {\n  json: {\n    id: $input.item.json.id,\n    plan_data: planData,\n    completed_sessions: completedSessions\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "update-plan-db",
      "name": "Update Plan in DB",
      "type": "n8n-nodes-base.supabase",
      "position": [1840, 100],
      "parameters": {
        "operation": "update",
        "tableId": "weekly_plans",
        "id": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "plan_data",
              "fieldValue": "={{ JSON.stringify($json.plan_data) }}"
            },
            {
              "fieldId": "completed_sessions",
              "fieldValue": "={{ $json.completed_sessions }}"
            }
          ]
        }
      },
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIALS_ID",
          "name": "Supabase"
        }
      }
    },
    {
      "id": "generate-feedback",
      "name": "AI Generate Feedback",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [2060, 200],
      "parameters": {
        "promptType": "define",
        "text": "Дай краткую обратную связь на тренировку",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Ты — AI-тренер по бегу. Дай краткую позитивную обратную связь на выполненную тренировку.\n\nДАННЫЕ ТРЕНИРОВКИ:\n- Дистанция: {{ $('Parse Extraction Result').item.json.data.distance_km }} км\n- Время: {{ Math.floor($('Parse Extraction Result').item.json.data.duration_seconds / 60) }} минут\n- Темп: {{ Math.floor($('Parse Extraction Result').item.json.data.pace_seconds / 60) }}:{{ String($('Parse Extraction Result').item.json.data.pace_seconds % 60).padStart(2, '0') }}/км\n- Самочувствие: {{ $('Parse Extraction Result').item.json.data.feeling || 'не указано' }}\n- RPE: {{ $('Parse Extraction Result').item.json.data.rpe || 'не указан' }}\n\nПРАВИЛА:\n1. Будь кратким (2-3 предложения)\n2. Похвали за тренировку\n3. Если есть feeling/RPE, прокомментируй\n4. Используй 1-2 эмодзи\n5. Спроси о самочувствии ТОЛЬКО если feeling не указан\n\nПример хорошего ответа:\n\"Записал! 5 км за 30 минут — темп 6:00/км. Отличная легкая пробежка! 💪 Как ощущения по шкале 1-10?\"\n\nОтветь ТОЛЬКО текстом для Telegram, без JSON.",
          "maxIterations": 2
        }
      },
      "typeVersion": 1.7
    },
    {
      "id": "openai-model-feedback",
      "name": "OpenAI Model (Feedback)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1980, 420],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.8
        }
      },
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIALS_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "id": "ask-for-clarification",
      "name": "Ask for Clarification",
      "type": "n8n-nodes-base.set",
      "position": [960, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "type": "string",
              "value": "={{ $json.clarification_needed || 'Не понял данные тренировки. Напиши в формате: \"Пробежал X км за Y минут\"' }}"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{ $json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.4
    },
    {
      "id": "merge-skip-plan",
      "name": "Merge (Skip Plan)",
      "type": "n8n-nodes-base.merge",
      "position": [1400, 300],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [2280, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output || $json.text || 'Тренировка записана! 💪' }}"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{ $('Parse Extraction Result').item.json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.4
    },
    {
      "id": "merge-output",
      "name": "Merge Output",
      "type": "n8n-nodes-base.merge",
      "position": [2500, 300],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "sticky-note-1",
      "name": "Sticky Note - Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-200, 150],
      "parameters": {
        "color": 4,
        "width": 350,
        "height": 200,
        "content": "## AI Running Coach - Training Logger\n\n**Этот sub-workflow:**\n1. Извлекает данные из сообщения\n2. Проверяет полноту данных\n3. Сохраняет тренировку в БД\n4. Обновляет статус плана\n5. Генерирует обратную связь"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-2",
      "name": "Sticky Note - Patterns",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-200, 400],
      "parameters": {
        "color": 7,
        "width": 350,
        "height": 220,
        "content": "## Распознаваемые форматы\n\n- \"Пробежал 5 км за 30 минут\"\n- \"10К, темп 5:30\"\n- \"Легкая пробежка 3 км\"\n- \"Интервалы 8 км, устал\"\n- \"Длительная 15 км 1:35\"\n- \"пятерка за полчаса\""
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "When Called by Main Workflow": {
      "main": [
        [
          {
            "node": "AI Extract Training Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model (Extract)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extract Training Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Training Data": {
      "main": [
        [
          {
            "node": "Parse Extraction Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extraction Result": {
      "main": [
        [
          {
            "node": "Has Enough Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Enough Data?": {
      "main": [
        [
          {
            "node": "Save Training to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask for Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Training to DB": {
      "main": [
        [
          {
            "node": "Update Plan Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Plan Status": {
      "main": [
        [
          {
            "node": "Get Plan Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge (Skip Plan)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plan Data": {
      "main": [
        [
          {
            "node": "Mark Day Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Day Completed": {
      "main": [
        [
          {
            "node": "Update Plan in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Plan in DB": {
      "main": [
        [
          {
            "node": "AI Generate Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge (Skip Plan)": {
      "main": [
        [
          {
            "node": "AI Generate Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model (Feedback)": {
      "ai_languageModel": [
        [
          {
            "node": "AI Generate Feedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Feedback": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for Clarification": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI Running Coach"
    },
    {
      "name": "Sub-workflow"
    }
  ],
  "triggerCount": 1,
  "active": false
}
