n8n-workflows/workflow-main-chatbot.json
{
  "name": "Main Chatbot v2 Fixed",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "parameters": {
        "jsCode": "const msg = $input.item.json.message;\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || '',\n    message_id: msg.message_id\n  }\n}];"
      },
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [640, 400],
      "alwaysOutputData": true
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst messageData = $('Extract Message').item.json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      training_type: userData.training_type,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      onboarding_data: userData.onboarding_data || {},\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n}"
      },
      "name": "Check User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400],
      "notesInFlow": true,
      "notes": "Added onboarding_data for tracking"
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.userExists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "User Not Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 400]
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "parameters": {
        "operation": "create",
        "tableId": "users",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.telegram_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "started"
            },
            {
              "fieldId": "language",
              "fieldValue": "ru"
            }
          ]
        }
      },
      "name": "Create User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1240, 550]
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').item.json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User Again",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1440, 550]
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "parameters": {
        "jsCode": "let userData;\nlet messageData;\n\nconst checkUserData = $('Check User').item.json;\n\nif (checkUserData.userExists) {\n  userData = {\n    id: checkUserData.user_id,\n    first_name: checkUserData.first_name,\n    onboarding_stage: checkUserData.onboarding_stage || 'started',\n    level: checkUserData.level,\n    weekly_runs: checkUserData.weekly_runs,\n    goal: checkUserData.goal,\n    training_type: checkUserData.training_type,\n    current_5k_pace_seconds: checkUserData.current_5k_pace_seconds,\n    age: checkUserData.age,\n    height_cm: checkUserData.height_cm,\n    weight_kg: checkUserData.weight_kg,\n    onboarding_data: checkUserData.onboarding_data || {}\n  };\n  messageData = {\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id\n  };\n} else {\n  userData = $input.item.json;\n  userData.onboarding_stage = 'started';\n  userData.onboarding_data = {};\n  messageData = {\n    chat_id: $('Check User').item.json.chat_id,\n    message_text: $('Check User').item.json.message_text,\n    message_id: $('Check User').item.json.message_id\n  };\n}\n\nconst message = messageData.message_text;\nconst stage = userData.onboarding_stage;\nconst firstName = userData.first_name || 'друг';\nconst onboardingData = userData.onboarding_data || {};\n\nlet intent = 'general';\nlet systemPrompt = '';\nlet extractField = null;\nlet nextStage = stage;\nlet newOnboardingData = { ...onboardingData };\n\nconst JSON_INSTRUCTION = 'ВАЖНО: Ответь ТОЛЬКО валидным JSON без markdown. Формат: {\"extracted\": {...}, \"response\": \"твой ответ\"}';\n\nif (stage !== 'completed') {\n  intent = 'onboarding';\n  \n  switch (stage) {\n    case 'started':\n      systemPrompt = `Ты дружелюбный AI-тренер по бегу. Поприветствуй ${firstName} тепло и расскажи о себе:\n- Ты персональный AI-тренер по бегу\n- Помогаешь составлять планы тренировок\n- Отслеживаешь прогресс и даёшь советы\n- С тобой можно общаться как с живым тренером - писать свободно, голосовыми, присылать скриншоты тренировок\n\nПосле приветствия спроси про уровень бега: новичок (бегаю меньше года), любитель (1-3 года), продвинутый (более 3 лет). ${JSON_INSTRUCTION} extracted должен быть пустым объектом {}.`;\n      nextStage = 'profile';\n      break;\n      \n    case 'profile':\n      systemPrompt = `Ты AI-тренер. Пользователь отвечает на вопрос об уровне бега. Проанализируй его ответ и определи уровень: beginner (новичок, начинающий, меньше года), intermediate (любитель, средний, 1-3 года), advanced (продвинутый, опытный, более 3 лет). Если не можешь определить - переспроси. После этого спроси возраст, рост и вес (примерно) - это нужно для расчёта безопасных зон пульса и персонализации плана. ${JSON_INSTRUCTION} extracted: {\"level\": \"beginner\"|\"intermediate\"|\"advanced\"|null}`;\n      extractField = 'level';\n      nextStage = 'physical';\n      break;\n      \n    case 'physical':\n      systemPrompt = `Ты AI-тренер. Пользователь отвечает про возраст, рост и вес. Извлеки: возраст (число лет, 10-100), рост в см (100-250), вес в кг (30-200). Пользователь может ответить в любом формате: \"30 лет, 175 см, 75 кг\", \"мне 30, рост 175, вешу 75\" и т.д. Если указал не всё - попроси уточнить недостающее. После получения всех значений, спроси про темп на 5 км (например 6 мин/км или общее время). Если не знает темп - это нормально. ${JSON_INSTRUCTION} extracted: {\"age\": число|null, \"height_cm\": число|null, \"weight_kg\": число|null}`;\n      extractField = 'physical';\n      nextStage = 'running_info';\n      break;\n      \n    case 'running_info':\n      systemPrompt = `Ты AI-тренер. Пользователь отвечает про темп бега. Проанализируй: если говорит время на 5км (например 30 минут) - раздели на 5 чтобы получить темп на км в секундах. Если говорит темп (6 мин/км) - переведи в секунды (360). Если не знает - верни null. Затем спроси сколько раз в неделю бегает или планирует (от 1 до 7). ${JSON_INSTRUCTION} extracted: {\"pace_seconds\": число|null}`;\n      extractField = 'pace';\n      nextStage = 'goal';\n      newOnboardingData.step = 'frequency';\n      break;\n      \n    case 'goal':\n      const currentStep = onboardingData.step || 'frequency';\n      \n      if (currentStep === 'frequency') {\n        systemPrompt = `Ты AI-тренер. Пользователь отвечает сколько раз в неделю бегает. Извлеки число (1-7). Если не понятно - предположи 3. Затем спроси про цель: для здоровья и удовольствия, подготовка к забегу, или улучшить результаты. ${JSON_INSTRUCTION} extracted: {\"weekly_runs\": число}`;\n        extractField = 'frequency';\n        nextStage = 'goal';\n        newOnboardingData.step = 'goal_select';\n      } else {\n        systemPrompt = `Ты AI-тренер. Пользователь отвечает про цель бега. Определи: general (здоровье, форма, удовольствие, поддержание), race (забег, соревнование, марафон, полумарафон), improvement (улучшить, быстрее, результаты, прогресс). Поздравь с завершением профиля и скажи что уже составляешь персональный план тренировок на неделю - скоро пришлёшь! ${JSON_INSTRUCTION} extracted: {\"goal\": \"general\"|\"race\"|\"improvement\"}`;\n        extractField = 'goal';\n        nextStage = 'completed';\n        newOnboardingData.step = 'completed';\n      }\n      break;\n  }\n} else {\n  const msgLower = message.toLowerCase();\n  if (msgLower.includes('план') || msgLower.includes('/plan')) {\n    intent = 'plan';\n    systemPrompt = `Пользователь хочет план тренировок. Скажи что функция скоро будет. ${JSON_INSTRUCTION} extracted: {}`;\n  } else if (msgLower.includes('улиц') || msgLower.includes('на улице') || msgLower.includes('парк')) {\n    intent = 'change_type';\n    systemPrompt = `Пользователь хочет бегать на улице. Подтверди смену формата. ${JSON_INSTRUCTION} extracted: {\"training_type\": \"outdoor\"}`;\n  } else if (msgLower.includes('зал') || msgLower.includes('дорожк') || msgLower.includes('тренажер')) {\n    intent = 'change_type';\n    systemPrompt = `Пользователь хочет в зал. Подтверди смену формата. ${JSON_INSTRUCTION} extracted: {\"training_type\": \"treadmill\"}`;\n  } else {\n    systemPrompt = `Ты AI-тренер по бегу для ${firstName}. Уровень: ${userData.level}, цель: ${userData.goal}. Отвечай кратко и дружелюбно. ${JSON_INSTRUCTION} extracted: {}`;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: userData.id,\n    chat_id: messageData.chat_id,\n    message_text: message,\n    message_id: messageData.message_id,\n    intent: intent,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    extract_field: extractField,\n    new_onboarding_data: newOnboardingData\n  }\n}];"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 400]
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"{{ $json.system_prompt.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.message_text.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500,\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {}
      },
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 400]
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst prepareData = $('Prepare Data').item.json;\nconst aiContent = response.choices[0].message.content;\n\n// Parse JSON response from AI\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {\n  // If JSON parsing fails, use raw content as response\n  responseText = aiContent;\n}\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    message_id: prepareData.message_id,\n    user_message: prepareData.message_text,\n    intent: prepareData.intent,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    new_onboarding_data: prepareData.new_onboarding_data\n  }\n}];"
      },
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 400]
    },
    {
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "parameters": {
        "operation": "create",
        "tableId": "chat_history",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.user_message }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $json.intent }}"
            },
            {
              "fieldId": "telegram_message_id",
              "fieldValue": "={{ $json.message_id }}"
            }
          ]
        }
      },
      "name": "Save User Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2240, 300]
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-234567890123",
      "parameters": {
        "operation": "create",
        "tableId": "chat_history",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Response').item.json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Extract Response').item.json.response_text }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Extract Response').item.json.intent }}"
            }
          ]
        }
      },
      "name": "Save AI Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "id": "a3b4c5d6-e7f8-9012-abcd-345678901234",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id.toString() }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {}
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2240, 500]
    },
    {
      "id": "b4c5d6e7-f8a9-0123-bcde-456789012345",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-onboarding",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "onboarding",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2240, 700]
    },
    {
      "id": "c5d6e7f8-a9b0-1234-cdef-567890123456",
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst extractedData = data.extracted_data || {};\n\n// Build update fields from AI-extracted data\nconst updateFields = {};\n\n// Always update stage if it changed\nif (data.next_stage && data.next_stage !== data.onboarding_stage) {\n  updateFields.onboarding_stage = data.next_stage;\n}\n\n// Add extracted data from AI response\nif (extractedData.level) updateFields.level = extractedData.level;\nif (extractedData.pace_seconds) updateFields.current_5k_pace_seconds = extractedData.pace_seconds;\nif (extractedData.weekly_runs) updateFields.weekly_runs = extractedData.weekly_runs;\nif (extractedData.goal) updateFields.goal = extractedData.goal;\nif (extractedData.training_type) updateFields.training_type = extractedData.training_type;\nif (extractedData.age) updateFields.age = extractedData.age;\nif (extractedData.height_cm) updateFields.height_cm = extractedData.height_cm;\nif (extractedData.weight_kg) updateFields.weight_kg = extractedData.weight_kg;\n\n// Always update onboarding_data to preserve step tracking\nif (data.new_onboarding_data) {\n  updateFields.onboarding_data = data.new_onboarding_data;\n}\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0\n  }\n}];"
      },
      "name": "Build Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 700]
    },
    {
      "id": "d6e7f8a9-b0c1-2345-defa-678901234567",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-updates",
              "leftValue": "={{ $json.has_updates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2640, 700]
    },
    {
      "id": "e7f8a9b0-c1d2-3456-efab-789012345678",
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
            },
            {
              "fieldId": "level",
              "fieldValue": "={{ $json.update_fields.level }}"
            },
            {
              "fieldId": "current_5k_pace_seconds",
              "fieldValue": "={{ $json.update_fields.current_5k_pace_seconds }}"
            },
            {
              "fieldId": "weekly_runs",
              "fieldValue": "={{ $json.update_fields.weekly_runs }}"
            },
            {
              "fieldId": "goal",
              "fieldValue": "={{ $json.update_fields.goal }}"
            },
            {
              "fieldId": "training_type",
              "fieldValue": "={{ $json.update_fields.training_type }}"
            },
            {
              "fieldId": "age",
              "fieldValue": "={{ $json.update_fields.age }}"
            },
            {
              "fieldId": "height_cm",
              "fieldValue": "={{ $json.update_fields.height_cm }}"
            },
            {
              "fieldId": "weight_kg",
              "fieldValue": "={{ $json.update_fields.weight_kg }}"
            },
            {
              "fieldId": "onboarding_data",
              "fieldValue": "={{ $json.update_fields.onboarding_data }}"
            }
          ]
        }
      },
      "name": "Update User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2840, 650]
    },
    {
      "id": "plan-check-001",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-just-completed",
              "leftValue": "={{ $('Extract Response').item.json.next_stage }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-was-not-completed",
              "leftValue": "={{ $('Extract Response').item.json.onboarding_stage }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Just Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3040, 650]
    },
    {
      "id": "plan-get-user-002",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Extract Response').item.json.user_id }}"
            }
          ]
        }
      },
      "name": "Get User For Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3240, 600]
    },
    {
      "id": "plan-prepare-003",
      "parameters": {
        "jsCode": "const user = $input.item.json;\nconst chatId = $('Extract Response').item.json.chat_id;\n\n// Calculate week boundaries (Monday to Sunday)\nconst today = new Date();\nconst dayOfWeek = today.getDay();\nconst mondayOffset = dayOfWeek === 0 ? -6 : 1 - dayOfWeek;\nconst weekStart = new Date(today);\nweekStart.setDate(today.getDate() + mondayOffset);\nweekStart.setHours(0, 0, 0, 0);\n\nconst weekEnd = new Date(weekStart);\nweekEnd.setDate(weekStart.getDate() + 6);\n\nconst formatDate = (d) => d.toISOString().split('T')[0];\n\nconst formatPace = (seconds) => {\n  if (!seconds) return null;\n  const min = Math.floor(seconds / 60);\n  const sec = seconds % 60;\n  return `${min}:${sec.toString().padStart(2, '0')}`;\n};\n\nconst formatPaceRange = (baseSec, addMin, addMax) => {\n  if (!baseSec) return null;\n  const minPace = formatPace(baseSec + addMin);\n  const maxPace = formatPace(baseSec + addMax);\n  return `${minPace}-${maxPace}`;\n};\n\n// ========== COACH KNOWLEDGE BASE ==========\n// Based on scientific-foundation.md v2.0\n\nconst LEVEL_PARAMS = {\n  beginner: {\n    name: 'Новичок',\n    weeklyKmRange: [10, 20],\n    longRunMaxKm: 8,\n    intensityPerWeek: 0,\n    allowedTypes: ['rest', 'easy_run', 'long_run'],\n    easyPaceAdd: [60, 90],\n    longPaceAdd: [90, 120]\n  },\n  intermediate: {\n    name: 'Любитель',\n    weeklyKmRange: [25, 40],\n    longRunMaxKm: 15,\n    intensityPerWeek: 1,\n    allowedTypes: ['rest', 'easy_run', 'long_run', 'tempo', 'fartlek'],\n    easyPaceAdd: [45, 60],\n    longPaceAdd: [60, 90],\n    tempoPaceAdd: [-5, 15]\n  },\n  advanced: {\n    name: 'Продвинутый',\n    weeklyKmRange: [50, 80],\n    longRunMaxKm: 25,\n    intensityPerWeek: 2,\n    allowedTypes: ['rest', 'easy_run', 'long_run', 'tempo', 'intervals', 'fartlek', 'recovery'],\n    easyPaceAdd: [30, 45],\n    longPaceAdd: [45, 60],\n    tempoPaceAdd: [-10, 5],\n    intervalPaceAdd: [-20, -10]\n  }\n};\n\nconst GOAL_FOCUS = {\n  general: 'Регулярность, удовольствие, 90% лёгких тренировок',\n  race: 'Специфичная подготовка к дистанции, темповые и длинные ключевые',\n  improvement: 'Прогресс в скорости, интервалы и темповые для VO2max и порога'\n};\n\nconst level = user.level || 'beginner';\nconst goal = user.goal || 'general';\nconst weeklyRuns = user.weekly_runs || 3;\nconst pace5k = user.current_5k_pace_seconds;\nconst age = user.age;\nconst heightCm = user.height_cm;\nconst weightKg = user.weight_kg;\nconst params = LEVEL_PARAMS[level];\n\n// Calculate BMI and safety flags\nlet bmi = null;\nlet bmiWarning = '';\nlet walkingOnly = false;\nif (heightCm && weightKg) {\n  const heightM = heightCm / 100;\n  bmi = weightKg / (heightM * heightM);\n  bmi = Math.round(bmi * 10) / 10;\n  if (bmi >= 35) {\n    walkingOnly = true;\n    bmiWarning = '⚠️ ВАЖНО: BMI >= 35. Только ходьба и очень лёгкий бег. Никаких интенсивных тренировок!';\n  } else if (bmi >= 30) {\n    bmiWarning = '⚠️ BMI >= 30. Акцент на лёгкие тренировки, минимум нагрузки на суставы.';\n  }\n}\n\n// Calculate MAF heart rate zone (180 - age)\nlet mafHR = null;\nlet hrInfo = '';\nif (age) {\n  mafHR = 180 - age;\n  hrInfo = `\n- MAF пульс (аэробная зона): до ${mafHR} уд/мин`;\n}\n\n// Calculate paces\nlet paceInfo = '';\nif (pace5k) {\n  const easyPace = formatPaceRange(pace5k, params.easyPaceAdd[0], params.easyPaceAdd[1]);\n  const longPace = formatPaceRange(pace5k, params.longPaceAdd[0], params.longPaceAdd[1]);\n  paceInfo = `\n- Темп на 5К: ${formatPace(pace5k)} мин/км\n- Лёгкий бег: ${easyPace} мин/км\n- Длинная: ${longPace} мин/км`;\n  \n  if (params.tempoPaceAdd) {\n    paceInfo += `\n- Темповая: ${formatPaceRange(pace5k, params.tempoPaceAdd[0], params.tempoPaceAdd[1])} мин/км`;\n  }\n  if (params.intervalPaceAdd) {\n    paceInfo += `\n- Интервалы: ${formatPaceRange(pace5k, params.intervalPaceAdd[0], params.intervalPaceAdd[1])} мин/км`;\n  }\n} else {\n  paceInfo = '\n- Темп не указан — используй описания ощущений (RPE)';\n}\n\n// Add HR info to pace info\nif (hrInfo) {\n  paceInfo += hrInfo;\n}\n\n// Safety overrides for high BMI\nlet actualParams = { ...params };\nlet safetyNote = '';\nif (walkingOnly) {\n  actualParams.allowedTypes = ['rest', 'easy_run'];\n  actualParams.intensityPerWeek = 0;\n  actualParams.weeklyKmRange = [5, 15];\n  actualParams.longRunMaxKm = 5;\n  safetyNote = bmiWarning + '\n';\n} else if (bmiWarning) {\n  safetyNote = bmiWarning + '\n';\n}\n\nconst systemPrompt = `Ты профессиональный тренер по бегу. Составь план тренировок СТРОГО по научным принципам.\n${safetyNote}\n=== ЖЕЛЕЗНЫЕ ПРАВИЛА (НЕЛЬЗЯ НАРУШАТЬ) ===\n1. Правило 80/20: 80% тренировок — лёгкие (зоны 1-2), только 20% интенсивные\n2. Минимум 1 полный день отдыха в неделю\n3. НИКОГДА 2 тяжёлых дня подряд — после интенсивной всегда отдых или лёгкая\n4. Длинная пробежка ≤30% недельного объёма\n5. Интенсивных тренировок в неделю: максимум ${actualParams.intensityPerWeek}\n6. Разрешённые типы для уровня ${params.name}: ${actualParams.allowedTypes.join(', ')}\n\n=== ПРОФИЛЬ БЕГУНА ===\n- Уровень: ${params.name}\n- Возраст: ${age || 'не указан'}\n- BMI: ${bmi || 'не рассчитан'}\n- Тренировок в неделю: ${weeklyRuns}\n- Цель: ${GOAL_FOCUS[goal]}\n- Недельный объём: ${actualParams.weeklyKmRange[0]}-${actualParams.weeklyKmRange[1]} км\n- Макс. длинная: ${actualParams.longRunMaxKm} км\n${paceInfo}\n\n=== ТИПЫ ТРЕНИРОВОК ===\n- rest: Полный отдых\n- easy_run: Лёгкий бег, разговорный темп, RPE 3-5\n- long_run: Длинная, комфортный темп, RPE 4-6\n- tempo: Темповая, комфортно-тяжело, RPE 6-7 (только intermediate+)\n- intervals: Интервалы, очень тяжело, RPE 8-10 (только advanced)\n- fartlek: Фартлек, игра с темпом, RPE 5-8 (только intermediate+)\n- recovery: Восстановительный, очень медленно, RPE 2-3\n\n=== ЗАДАНИЕ ===\nСоставь план на 7 дней. Учитывай: пользователь хочет бегать ${weeklyRuns} раз в неделю.\nОстальные дни — rest.\n\nОтветь ТОЛЬКО валидным JSON:\n{\n  \"plan\": {\n    \"monday\": {\"type\": \"тип\", \"distance_km\": число, \"pace_range\": \"M:SS-M:SS или null\", \"duration_minutes\": число, \"notes\": \"описание на русском\"},\n    \"tuesday\": {...},\n    \"wednesday\": {...},\n    \"thursday\": {...},\n    \"friday\": {...},\n    \"saturday\": {...},\n    \"sunday\": {...}\n  },\n  \"total_distance_km\": число,\n  \"total_sessions\": число,\n  \"summary\": \"Краткое описание плана\"\n}`;\n\nreturn [{\n  json: {\n    user_id: user.id,\n    chat_id: chatId,\n    week_start: formatDate(weekStart),\n    week_end: formatDate(weekEnd),\n    system_prompt: systemPrompt,\n    user_data: {\n      level: level,\n      pace: pace5k,\n      weekly_runs: weeklyRuns,\n      goal: goal,\n      age: age,\n      bmi: bmi,\n      maf_hr: mafHR\n    }\n  }\n}];"
      },
      "name": "Prepare Plan Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3440, 600]
    },
    {
      "id": "plan-generate-004",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"{{ $json.system_prompt.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"},\n    {\"role\": \"user\", \"content\": \"Составь план тренировок\"}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1500,\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {}
      },
      "name": "Generate Plan AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3640, 600]
    },
    {
      "id": "plan-parse-005",
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst prepData = $('Prepare Plan Prompt').item.json;\nconst aiContent = response.choices[0].message.content;\n\nlet planData = {};\nlet totalDistance = 0;\nlet totalSessions = 0;\nlet summary = '';\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  planData = parsed.plan || {};\n  totalDistance = parsed.total_distance_km || 0;\n  totalSessions = parsed.total_sessions || 0;\n  summary = parsed.summary || '';\n} catch (e) {\n  // Fallback plan if parsing fails\n  planData = {\n    monday: { type: 'easy_run', distance_km: 5, notes: 'Лёгкий бег' },\n    tuesday: { type: 'rest', notes: 'Отдых' },\n    wednesday: { type: 'intervals', distance_km: 6, notes: 'Интервалы' },\n    thursday: { type: 'rest', notes: 'Отдых' },\n    friday: { type: 'easy_run', distance_km: 5, notes: 'Лёгкий бег' },\n    saturday: { type: 'long_run', distance_km: 10, notes: 'Длинная тренировка' },\n    sunday: { type: 'rest', notes: 'Отдых' }\n  };\n  totalDistance = 26;\n  totalSessions = 4;\n  summary = 'Базовый план тренировок';\n}\n\n// Add completed: false to each day\nfor (const day of Object.keys(planData)) {\n  planData[day].completed = false;\n  planData[day].completed_at = null;\n}\n\nreturn [{\n  json: {\n    user_id: prepData.user_id,\n    chat_id: prepData.chat_id,\n    week_start: prepData.week_start,\n    week_end: prepData.week_end,\n    plan_data: planData,\n    total_distance_km: totalDistance,\n    total_sessions: totalSessions,\n    summary: summary\n  }\n}];"
      },
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3840, 600]
    },
    {
      "id": "plan-save-006",
      "parameters": {
        "operation": "create",
        "tableId": "weekly_plans",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "week_start",
              "fieldValue": "={{ $json.week_start }}"
            },
            {
              "fieldId": "week_end",
              "fieldValue": "={{ $json.week_end }}"
            },
            {
              "fieldId": "week_number",
              "fieldValue": "1"
            },
            {
              "fieldId": "plan_data",
              "fieldValue": "={{ $json.plan_data }}"
            },
            {
              "fieldId": "total_distance_km",
              "fieldValue": "={{ $json.total_distance_km }}"
            },
            {
              "fieldId": "total_sessions",
              "fieldValue": "={{ $json.total_sessions }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "active"
            }
          ]
        }
      },
      "name": "Save Weekly Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [4040, 600]
    },
    {
      "id": "plan-format-007",
      "parameters": {
        "jsCode": "const data = $('Parse Plan').item.json;\nconst plan = data.plan_data;\n\nconst dayNames = {\n  monday: 'Понедельник',\n  tuesday: 'Вторник',\n  wednesday: 'Среда',\n  thursday: 'Четверг',\n  friday: 'Пятница',\n  saturday: 'Суббота',\n  sunday: 'Воскресенье'\n};\n\nconst typeEmoji = {\n  rest: '😴',\n  easy_run: '🏃',\n  long_run: '🏃‍♂️',\n  tempo: '⚡',\n  intervals: '🔥',\n  fartlek: '🎯'\n};\n\nconst typeNames = {\n  rest: 'Отдых',\n  easy_run: 'Лёгкий бег',\n  long_run: 'Длинная',\n  tempo: 'Темповая',\n  intervals: 'Интервалы',\n  fartlek: 'Фартлек'\n};\n\nlet message = '🗓 *План тренировок на неделю*\\n';\nmessage += `📅 ${data.week_start} — ${data.week_end}\\n\\n`;\n\nconst days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];\n\nfor (const day of days) {\n  const workout = plan[day];\n  if (!workout) continue;\n  \n  const emoji = typeEmoji[workout.type] || '📌';\n  const typeName = typeNames[workout.type] || workout.type;\n  \n  message += `*${dayNames[day]}* ${emoji}\\n`;\n  \n  if (workout.type === 'rest') {\n    message += `└ ${workout.notes || 'День отдыха'}\\n`;\n  } else {\n    if (workout.distance_km) {\n      message += `└ ${typeName}: ${workout.distance_km} км`;\n      if (workout.pace_range) {\n        message += ` @ ${workout.pace_range}`;\n      }\n      message += '\\n';\n    }\n    if (workout.notes && workout.type !== 'rest') {\n      message += `└ ${workout.notes}\\n`;\n    }\n  }\n  message += '\\n';\n}\n\nmessage += `📊 *Итого:* ${data.total_distance_km} км за ${data.total_sessions} тренировок\\n\\n`;\nmessage += `💡 ${data.summary}\\n\\n`;\nmessage += '_После каждой тренировки напиши мне результат — я скорректирую план!_';\n\nreturn [{\n  json: {\n    chat_id: data.chat_id,\n    message: message\n  }\n}];"
      },
      "name": "Format Plan Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4240, 600]
    },
    {
      "id": "plan-send-008",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id.toString() }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Plan to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4440, 600]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Extract Message", "type": "main", "index": 0}]]
    },
    "Extract Message": {
      "main": [[{"node": "Get User", "type": "main", "index": 0}]]
    },
    "Get User": {
      "main": [[{"node": "Check User", "type": "main", "index": 0}]]
    },
    "Check User": {
      "main": [[{"node": "User Not Found?", "type": "main", "index": 0}]]
    },
    "User Not Found?": {
      "main": [
        [{"node": "Create User", "type": "main", "index": 0}],
        [{"node": "Prepare Data", "type": "main", "index": 0}]
      ]
    },
    "Create User": {
      "main": [[{"node": "Get User Again", "type": "main", "index": 0}]]
    },
    "Get User Again": {
      "main": [[{"node": "Prepare Data", "type": "main", "index": 0}]]
    },
    "Prepare Data": {
      "main": [[{"node": "Call OpenAI", "type": "main", "index": 0}]]
    },
    "Call OpenAI": {
      "main": [[{"node": "Extract Response", "type": "main", "index": 0}]]
    },
    "Extract Response": {
      "main": [[
        {"node": "Save User Msg", "type": "main", "index": 0},
        {"node": "Send to Telegram", "type": "main", "index": 0},
        {"node": "Is Onboarding?", "type": "main", "index": 0}
      ]]
    },
    "Save User Msg": {
      "main": [[{"node": "Save AI Msg", "type": "main", "index": 0}]]
    },
    "Is Onboarding?": {
      "main": [
        [{"node": "Build Update Data", "type": "main", "index": 0}],
        []
      ]
    },
    "Build Update Data": {
      "main": [[{"node": "Has Updates?", "type": "main", "index": 0}]]
    },
    "Has Updates?": {
      "main": [
        [{"node": "Update User Profile", "type": "main", "index": 0}],
        []
      ]
    },
    "Update User Profile": {
      "main": [[{"node": "Just Completed?", "type": "main", "index": 0}]]
    },
    "Just Completed?": {
      "main": [
        [{"node": "Get User For Plan", "type": "main", "index": 0}],
        []
      ]
    },
    "Get User For Plan": {
      "main": [[{"node": "Prepare Plan Prompt", "type": "main", "index": 0}]]
    },
    "Prepare Plan Prompt": {
      "main": [[{"node": "Generate Plan AI", "type": "main", "index": 0}]]
    },
    "Generate Plan AI": {
      "main": [[{"node": "Parse Plan", "type": "main", "index": 0}]]
    },
    "Parse Plan": {
      "main": [[{"node": "Save Weekly Plan", "type": "main", "index": 0}]]
    },
    "Save Weekly Plan": {
      "main": [[{"node": "Format Plan Message", "type": "main", "index": 0}]]
    },
    "Format Plan Message": {
      "main": [[{"node": "Send Plan to Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
