n8n-workflows/workflow-main-chatbot-v4.json
{
  "name": "AI Running Coach - Main Chatbot v4 (RACE-only)",
  "nodes": [
    {
      "id": "telegram-trigger",
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      }
    },
    {
      "id": "extract-message",
      "parameters": {
        "functionCode": "const msg = items[0].json.message;\n\nreturn [{\n  json: {\n    telegram_id: msg.from.id,\n    chat_id: msg.chat.id,\n    username: msg.from.username || '',\n    first_name: msg.from.first_name || 'Друг',\n    last_name: msg.from.last_name || '',\n    message_text: msg.text || '',\n    message_id: msg.message_id\n  }\n}];"
      },
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "id": "get-user",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "check-user",
      "parameters": {
        "functionCode": "const messageData = $('Extract Message').first().json;\n\nif (items.length === 0 || !items[0].json || !items[0].json.id) {\n  return [{\n    json: {\n      userExists: false,\n      telegram_id: messageData.telegram_id,\n      chat_id: messageData.chat_id,\n      username: messageData.username,\n      first_name: messageData.first_name,\n      last_name: messageData.last_name,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n} else {\n  const userData = items[0].json;\n  return [{\n    json: {\n      userExists: true,\n      user_id: userData.id,\n      telegram_id: userData.telegram_id,\n      first_name: userData.first_name || messageData.first_name,\n      onboarding_stage: userData.onboarding_stage || 'started',\n      level: userData.level,\n      age: userData.age,\n      height_cm: userData.height_cm,\n      weight_kg: userData.weight_kg,\n      weekly_runs: userData.weekly_runs,\n      goal: userData.goal,\n      current_5k_pace_seconds: userData.current_5k_pace_seconds,\n      race_date: userData.race_date,\n      race_distance: userData.race_distance,\n      target_time_seconds: userData.target_time_seconds,\n      resting_hr: userData.resting_hr,\n      max_hr: userData.max_hr,\n      has_lab_testing: userData.has_lab_testing,\n      vo2max: userData.vo2max,\n      lthr: userData.lthr,\n      hr_zone1_max: userData.hr_zone1_max,\n      hr_zone2_max: userData.hr_zone2_max,\n      hr_zone3_max: userData.hr_zone3_max,\n      hr_zone4_max: userData.hr_zone4_max,\n      hr_zone5_max: userData.hr_zone5_max,\n      chat_id: messageData.chat_id,\n      message_text: messageData.message_text,\n      message_id: messageData.message_id\n    }\n  }];\n}"
      },
      "name": "Check User",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        400
      ]
    },
    {
      "id": "user-not-found",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.userExists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "User Not Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ]
    },
    {
      "id": "get-active-plan",
      "parameters": {
        "operation": "getAll",
        "tableId": "weekly_plans",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').first().json.user_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "active"
            }
          ]
        },
        "options": {
          "orderByColumn": "created_at",
          "orderType": "desc"
        }
      },
      "name": "Get Active Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "merge-user-plan",
      "parameters": {
        "functionCode": "const checkUserData = $('Check User').first().json;\nconst planItems = $('Get Active Plan').all();\n\nlet activePlan = null;\nif (planItems.length > 0 && planItems[0].json && planItems[0].json.id) {\n  activePlan = planItems[0].json;\n}\n\nreturn [{\n  json: {\n    ...checkUserData,\n    active_plan: activePlan\n  }\n}];"
      },
      "name": "Merge User & Plan",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        500
      ]
    },
    {
      "id": "create-user",
      "parameters": {
        "operation": "create",
        "tableId": "users",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $json.telegram_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.last_name }}"
            },
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "started"
            },
            {
              "fieldId": "language",
              "fieldValue": "ru"
            }
          ]
        }
      },
      "name": "Create User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "get-user-again",
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $('Check User').first().json.telegram_id }}"
            }
          ]
        }
      },
      "name": "Get User Again",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "prepare-data",
      "parameters": {
        "functionCode": "// RACE-ONLY Prepare Data v0.4.0\n// Получаем данные пользователя (из Check User или Merge User & Plan)\nlet checkUserData;\ntry {\n  checkUserData = $('Merge User & Plan').first().json;\n} catch (e) {\n  checkUserData = $('Check User').first().json;\n}\n\nlet userData, messageData, activePlan;\n\nif (checkUserData.userExists) {\n  userData = {\n    id: checkUserData.user_id,\n    first_name: checkUserData.first_name,\n    onboarding_stage: checkUserData.onboarding_stage || 'started',\n    level: checkUserData.level,\n    weekly_runs: checkUserData.weekly_runs,\n    age: checkUserData.age,\n    height_cm: checkUserData.height_cm,\n    weight_kg: checkUserData.weight_kg,\n    resting_hr: checkUserData.resting_hr,\n    max_hr: checkUserData.max_hr,\n    has_lab_testing: checkUserData.has_lab_testing,\n    vo2max: checkUserData.vo2max,\n    lthr: checkUserData.lthr,\n    current_5k_pace_seconds: checkUserData.current_5k_pace_seconds,\n    race_date: checkUserData.race_date,\n    race_distance: checkUserData.race_distance,\n    target_time_seconds: checkUserData.target_time_seconds\n  };\n  messageData = {\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id\n  };\n  activePlan = checkUserData.active_plan || null;\n} else {\n  userData = items[0].json;\n  userData.onboarding_stage = 'started';\n  messageData = {\n    chat_id: checkUserData.chat_id,\n    message_text: checkUserData.message_text,\n    message_id: checkUserData.message_id\n  };\n  activePlan = null;\n}\n\nconst message = messageData.message_text;\nconst stage = userData.onboarding_stage;\nconst firstName = userData.first_name || 'друг';\n\nlet intent = 'general';\nlet systemPrompt = '';\nlet nextStage = stage;\nlet isPlanGeneration = false;\nlet isStrategyGeneration = false;\n\nconst JSON_FORMAT = `ФОРМАТ ОТВЕТА — СТРОГО JSON:\n{\n  \"extracted\": {...},\n  \"response\": \"текст ответа\"\n}\n\nВАЖНО: поле \"response\" должно содержать ЧИТАЕМЫЙ ТЕКСТ для пользователя.\nНЕ используй символы * _ \\` [ ] — они ломают Telegram.\nИспользуй • для списков, обычные скобки () для пояснений.`;\n\n// ============================================\n// ONBOARDING (RACE-ONLY)\n// ============================================\nif (stage !== 'completed') {\n  intent = 'onboarding';\n\n  switch (stage) {\n    case 'started':\n      systemPrompt = `Ты AI-тренер по бегу. Пользователь ${firstName} только что запустил бота.\n\nЗАДАЧА — написать приветственное сообщение:\n1. Поприветствуй по имени\n2. Представься как AI-тренер, специализирующийся на подготовке к ШОССЕЙНЫМ ЗАБЕГАМ (road running)\n3. Объясни что умеет бот:\n   • Составляет персональную СТРАТЕГИЮ подготовки к забегу\n   • Генерирует недельные планы с разминкой, основной частью и заминкой\n   • Учитывает пульсовые зоны и темп\n   • Помогает прогрессировать безопасно по науке\n4. Уточни специализацию:\n   \"Я специализируюсь на шоссейном беге — классические забеги по асфальту от 5К до ультрамарафонов.\n   Трейлраннинг (бег по пересечённой местности) пока не моя специализация — там другая методика подготовки.\"\n5. Задай первый вопрос: какой уровень бега?\n   • Новичок (бегаю меньше года)\n   • Любитель (1-3 года регулярно)\n   • Продвинутый (3+ года, есть результаты на забегах)\n\n${JSON_FORMAT}\nextracted: {}`;\n      nextStage = 'profile';\n      break;\n\n    case 'profile':\n      systemPrompt = `AI-тренер. ${firstName} ответил про уровень бега. НЕ здоровайся — диалог уже идёт.\n\nЗАДАЧА:\n1. Определи уровень: beginner (новичок), intermediate (любитель), advanced (продвинутый)\n2. Коротко подтверди выбор\n3. Спроси возраст — нужен для расчёта максимального пульса и тренировочных зон\n\n${JSON_FORMAT}\nextracted: {\"level\": \"beginner\"|\"intermediate\"|\"advanced\"}`;\n      nextStage = 'physical';\n      break;\n\n    case 'physical':\n      systemPrompt = `AI-тренер. ${firstName} указал возраст. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки возраст\n2. Спроси рост (см) и вес (кг) — нужно для расчёта безопасных нагрузок и BMI\n\n${JSON_FORMAT}\nextracted: {\"age\": число}`;\n      nextStage = 'heart_rate';\n      break;\n\n    case 'heart_rate':\n      systemPrompt = `AI-тренер. ${firstName} указал рост и вес. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки рост (см) и вес (кг)\n2. Спроси про пульс покоя:\n\n\"Знаешь свой пульс покоя?\n\nКак измерить: утром, не вставая с кровати, посчитай пульс за 60 секунд.\nЛучше измерить 3-5 дней и взять среднее.\n\nТипичные значения:\n• 60-80 уд/мин — обычный уровень\n• 50-60 уд/мин — хорошая форма\n• 40-50 уд/мин — отличная форма\n\nЕсли не знаешь — напиши 'не знаю', посчитаю по стандартным значениям.\"\n\n${JSON_FORMAT}\nextracted: {\"height_cm\": число, \"weight_kg\": число}`;\n      nextStage = 'running_info';\n      break;\n\n    case 'running_info':\n      systemPrompt = `AI-тренер. ${firstName} ответил про пульс покоя. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки пульс покоя в уд/мин. Если написал \"не знаю\" — поставь null\n2. Спроси про текущий темп:\n\n\"Какой твой текущий темп на 5 км?\n\nПримеры:\n• '5:30 на км'\n• 'пробегаю 5км за 28 минут'\n• 'бегаю в темпе 6 минут'\n\nЕсли не знаешь точно — напиши примерно или 'не знаю'\"\n\n${JSON_FORMAT}\nextracted: {\"resting_hr\": число|null}`;\n      nextStage = 'lab_testing';\n      break;\n\n    case 'lab_testing':\n      systemPrompt = `AI-тренер. ${firstName} указал темп. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки темп в секундах/км:\n   • \"5:30\" = 330 сек\n   • \"6:00 на км\" = 360 сек\n   • \"28 мин на 5км\" = 336 сек (28*60/5)\n   • Если не указал — null\n\n2. Спроси про лабораторное тестирование:\n\n\"Есть результаты профессионального тестирования (спироэргометрия, VO2max тест на дорожке с маской)?\n\nЕсли да — можешь поделиться:\n• VO2max (мл/кг/мин)\n• Пороговый пульс (LTHR)\n\nЕсли нет — напиши 'нет', рассчитаю зоны по формулам.\"\n\n${JSON_FORMAT}\nextracted: {\"current_5k_pace_seconds\": число|null}`;\n      nextStage = 'training_freq';\n      break;\n\n    case 'training_freq':\n      systemPrompt = `AI-тренер. ${firstName} ответил про тестирование. НЕ здоровайся.\n\nЗАДАЧА:\n1. Определи, есть ли лабораторные данные:\n   • Если да — извлеки vo2max и/или lthr\n   • Если нет — has_lab_testing = false\n\n2. Спроси про частоту тренировок:\n\n\"Сколько дней в неделю готов тренироваться?\n\nРекомендации:\n• 3 дня — минимум для прогресса\n• 4 дня — оптимально для любителей\n• 5-6 дней — для продвинутых бегунов\n\nВажно: 1-2 дня отдыха обязательны для восстановления!\"\n\n${JSON_FORMAT}\nextracted: {\"has_lab_testing\": true|false, \"vo2max\": число|null, \"lthr\": число|null}`;\n      nextStage = 'race_details';\n      break;\n\n    case 'race_details':\n      systemPrompt = `AI-тренер. ${firstName} указал частоту тренировок. НЕ здоровайся.\n\nЗАДАЧА:\n1. Извлеки weekly_runs (3-6 дней в неделю)\n2. Спроси детали забега:\n\n\"К какому забегу готовимся?\n\nРасскажи:\n• Дистанция (5К, 10К, полумарафон, марафон или ультра)\n• Когда забег? (дата или 'через X месяцев')\n• Целевое время (если есть конкретная цель)\n\nНапример: 'полумарафон в сентябре, хочу за 1:50'\"\n\n${JSON_FORMAT}\nextracted: {\"weekly_runs\": число}`;\n      nextStage = 'strategy_preview';\n      break;\n\n    case 'strategy_preview':\n      // Собираем все данные и генерируем стратегию\n      const distanceRu = {\n        '5k': '5 км', '10k': '10 км', 'half': 'полумарафон',\n        'marathon': 'марафон', 'ultra': 'ультра'\n      };\n\n      // Рассчитываем недели до забега\n      let weeksToRace = 12; // default\n      if (userData.race_date) {\n        const raceDate = new Date(userData.race_date);\n        const today = new Date();\n        weeksToRace = Math.floor((raceDate - today) / (7 * 24 * 60 * 60 * 1000));\n        if (weeksToRace < 4) weeksToRace = 4;\n        if (weeksToRace > 52) weeksToRace = 52;\n      }\n\n      // Рассчитываем зоны\n      const maxHR = userData.max_hr || (220 - userData.age);\n      const restingHR = userData.resting_hr || (userData.level === 'beginner' ? 70 : userData.level === 'intermediate' ? 60 : 50);\n\n      // Метод Карвонена для зон\n      const hrReserve = maxHR - restingHR;\n      const zone1Max = Math.round(restingHR + hrReserve * 0.6);\n      const zone2Max = Math.round(restingHR + hrReserve * 0.7);\n      const zone3Max = Math.round(restingHR + hrReserve * 0.8);\n      const zone4Max = Math.round(restingHR + hrReserve * 0.9);\n\n      systemPrompt = `AI-тренер. ${firstName} указал детали забега. НЕ здоровайся.\n\nСООБЩЕНИЕ: \"${message}\"\n\nЗАДАЧА:\n1. Извлеки из сообщения:\n   • race_distance: \"5k\", \"10k\", \"half\", \"marathon\", \"ultra\"\n   • race_date: формат YYYY-MM-DD\n     - \"в сентябре\" → \"2026-09-15\"\n     - \"через 3 месяца\" → посчитай от сегодня (февраль 2026)\n   • target_time_seconds: целевое время в секундах (если указано)\n\n2. СГЕНЕРИРУЙ СТРАТЕГИЮ ПОДГОТОВКИ:\n\nДанные пользователя:\n• Уровень: ${userData.level === 'beginner' ? 'новичок' : userData.level === 'intermediate' ? 'любитель' : 'продвинутый'}\n• Возраст: ${userData.age} лет\n• Max HR: ${maxHR} уд/мин\n• Resting HR: ${restingHR} уд/мин\n• Темп 5км: ${userData.current_5k_pace_seconds ? Math.floor(userData.current_5k_pace_seconds/60) + ':' + (userData.current_5k_pace_seconds%60).toString().padStart(2,'0') + '/км' : 'не указан'}\n• Тренировок в неделю: ${userData.weekly_runs}\n${userData.vo2max ? '• VO2max: ' + userData.vo2max + ' мл/кг/мин' : ''}\n${userData.lthr ? '• Пороговый пульс: ' + userData.lthr + ' уд/мин' : ''}\n\nПУЛЬСОВЫЕ ЗОНЫ (Карвонен):\n• Зона 1 (восстановление): до ${zone1Max} уд/мин\n• Зона 2 (аэробная база): ${zone1Max}-${zone2Max} уд/мин — 80% тренировок!\n• Зона 3 (темповая): ${zone2Max}-${zone3Max} уд/мин\n• Зона 4 (пороговая): ${zone3Max}-${zone4Max} уд/мин\n• Зона 5 (VO2max): ${zone4Max}+ уд/мин\n\nФОРМАТ СТРАТЕГИИ:\nПокажи периодизацию с учётом недель до забега.\nИспользуй фазы: БАЗА → РАЗВИТИЕ → СПЕЦИАЛИЗАЦИЯ → ТЕЙПЕР\nУкажи примерные объёмы для каждой фазы.\n\nВ конце спроси: \"Готов начать? Составлю первый недельный план!\"\n\n${JSON_FORMAT}\nextracted: {\n  \"race_distance\": \"...\",\n  \"race_date\": \"YYYY-MM-DD\",\n  \"target_time_seconds\": число|null,\n  \"strategy_generated\": true,\n  \"weeks_to_race\": число,\n  \"max_hr\": ${maxHR},\n  \"resting_hr\": ${restingHR}\n}`;\n      nextStage = 'completed';\n      isStrategyGeneration = true;\n      break;\n  }\n} else {\n  // ============================================\n  // COMPLETED ONBOARDING — TRAINING MODE\n  // ============================================\n  const levelRu = userData.level === 'beginner' ? 'новичок' :\n                  userData.level === 'intermediate' ? 'любитель' : 'продвинутый';\n\n  // Расчёт зон\n  const maxHR = userData.max_hr || (220 - userData.age);\n  const restingHR = userData.resting_hr || 60;\n  const hrReserve = maxHR - restingHR;\n\n  const zone1Max = Math.round(restingHR + hrReserve * 0.6);\n  const zone2Max = Math.round(restingHR + hrReserve * 0.7);\n  const zone3Max = Math.round(restingHR + hrReserve * 0.8);\n  const zone4Max = Math.round(restingHR + hrReserve * 0.9);\n\n  // Расчёт темпов\n  let paceStr = 'не указан';\n  let easyPace, tempoPace, longPace, intervalPace;\n\n  if (userData.current_5k_pace_seconds) {\n    const paceMin = Math.floor(userData.current_5k_pace_seconds / 60);\n    const paceSec = userData.current_5k_pace_seconds % 60;\n    paceStr = `${paceMin}:${paceSec.toString().padStart(2, '0')}/км`;\n\n    easyPace = userData.current_5k_pace_seconds + 60; // +1 мин к темпу 5К\n    tempoPace = userData.current_5k_pace_seconds + 15; // +15 сек\n    longPace = easyPace + 15; // чуть медленнее easy\n    intervalPace = userData.current_5k_pace_seconds - 10; // чуть быстрее 5К\n  } else {\n    easyPace = 420; // 7:00/км default\n    tempoPace = 360; // 6:00/км\n    longPace = 450; // 7:30/км\n    intervalPace = 330; // 5:30/км\n  }\n\n  const formatPace = (sec) => `${Math.floor(sec/60)}:${(sec%60).toString().padStart(2,'0')}`;\n  const paceToSpeed = (sec) => (60 / (sec / 60)).toFixed(1);\n\n  // Info о забеге\n  let raceInfo = '';\n  if (userData.race_date) {\n    const distanceRu = {\n      '5k': '5 км', '10k': '10 км', 'half': 'полумарафон',\n      'marathon': 'марафон', 'ultra': 'ультра'\n    }[userData.race_distance] || userData.race_distance;\n    raceInfo = `\\nЦЕЛЬ: ${distanceRu}, ${userData.race_date}`;\n\n    // Недели до забега\n    const raceDate = new Date(userData.race_date);\n    const today = new Date();\n    const weeksLeft = Math.floor((raceDate - today) / (7 * 24 * 60 * 60 * 1000));\n    if (weeksLeft > 0) {\n      raceInfo += ` (${weeksLeft} нед. до старта)`;\n    }\n  }\n\n  const wantsPlan = /план|состав|давай|начн|готов|хочу|тренировк|недел/i.test(message);\n\n  if (wantsPlan) {\n    isPlanGeneration = true;\n\n    systemPrompt = `Ты AI-тренер для ${firstName}. НЕ здоровайся.\n\nПРОФИЛЬ:\n• Уровень: ${levelRu}\n• Возраст: ${userData.age} лет\n• Темп 5км: ${paceStr}\n• Тренировок/нед: ${userData.weekly_runs}${raceInfo}\n\nПУЛЬСОВЫЕ ЗОНЫ:\n• Зона 1 (восстановление): до ${zone1Max} уд/мин\n• Зона 2 (аэробная): ${zone1Max}-${zone2Max} уд/мин\n• Зона 3 (темповая): ${zone2Max}-${zone3Max} уд/мин\n• Зона 4 (пороговая): ${zone3Max}-${zone4Max} уд/мин\n• Зона 5 (интервалы): ${zone4Max}+ уд/мин\n\nТЕМПЫ / СКОРОСТИ ДЛЯ ДОРОЖКИ:\n• Лёгкий: ${formatPace(easyPace)}/км = ${paceToSpeed(easyPace)} км/ч\n• Темповый: ${formatPace(tempoPace)}/км = ${paceToSpeed(tempoPace)} км/ч\n• Длинный: ${formatPace(longPace)}/км = ${paceToSpeed(longPace)} км/ч\n• Интервальный: ${formatPace(intervalPace)}/км = ${paceToSpeed(intervalPace)} км/ч\n\nЗАДАЧА: Составь план на неделю (${userData.weekly_runs} тренировок)\n\nФОРМАТ КАЖДОЙ ТРЕНИРОВКИ:\nДень — Тип тренировки\n\nРАЗМИНКА (10-15 мин):\n• 5-10 мин лёгкая трусца (зона 1-2)\n• Динамическая растяжка\n\nОСНОВНАЯ ЧАСТЬ:\n• Описание с указанием темпа/скорости И пульсовой зоны\n• Для дорожки: точная скорость в км/ч\n\nЗАМИНКА (5-10 мин):\n• 5 мин лёгкая трусца\n• Растяжка\n\nПримечание (если нужно)\n\n---\n\nПРАВИЛА ПЛАНА:\n• 80% тренировок в зонах 1-2 (лёгкие)\n• Не более 2 интенсивных тренировок в неделю\n• После тяжёлой тренировки — лёгкая или отдых\n• Минимум 1 полный день отдыха\n\nИтого за неделю: X км\n\n${JSON_FORMAT}\nextracted: {\"plan_generated\": true, \"total_km\": число, \"total_sessions\": ${userData.weekly_runs}}`;\n\n  } else {\n    // Обычный вопрос — отвечаем в контексте плана\n    let planContext = '';\n    if (activePlan && activePlan.plan_data) {\n      const planData = typeof activePlan.plan_data === 'string' ? JSON.parse(activePlan.plan_data) : activePlan.plan_data;\n      planContext = `\\n\\nАКТИВНЫЙ ПЛАН ТРЕНИРОВОК (${activePlan.week_start} - ${activePlan.week_end}):\\n${planData.raw_plan || JSON.stringify(planData)}`;\n    }\n\n    systemPrompt = `Ты AI-тренер для ${firstName}. НЕ здоровайся.\n\nПРОФИЛЬ: ${levelRu}, ${userData.age} лет, ${userData.weekly_runs} трен/нед${raceInfo}${planContext}\n\nПУЛЬСОВЫЕ ЗОНЫ:\n• Зона 2 (основная): ${zone1Max}-${zone2Max} уд/мин\n• Зона 3 (темпо): ${zone2Max}-${zone3Max} уд/мин\n• Зона 4 (порог): ${zone3Max}-${zone4Max} уд/мин\n\nТЕМПЫ / СКОРОСТИ:\n• Лёгкий: ${formatPace(easyPace)}/км = ${paceToSpeed(easyPace)} км/ч\n• Темповый: ${formatPace(tempoPace)}/км = ${paceToSpeed(tempoPace)} км/ч\n\nСООБЩЕНИЕ: \"${message}\"\n\nВАЖНО:\n• Отвечай в контексте подготовки к забегу\n• Если вопрос про темп/скорость — ВСЕГДА давай и темп, и скорость для дорожки\n• Если вопрос про пульс — объясняй через зоны\n• Будь конкретным и практичным\n\n${JSON_FORMAT}\nextracted: {}`;\n  }\n}\n\nreturn [{\n  json: {\n    user_id: userData.id,\n    chat_id: messageData.chat_id,\n    message_text: message,\n    message_id: messageData.message_id,\n    intent: intent,\n    system_prompt: systemPrompt,\n    onboarding_stage: stage,\n    next_stage: nextStage,\n    is_plan_generation: isPlanGeneration,\n    is_strategy_generation: isStrategyGeneration,\n    weekly_runs: userData.weekly_runs\n  }\n}];\n"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1640,
        400
      ]
    },
    {
      "id": "call-openai",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.message_text) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1000,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
      },
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "koikxNcf4ds6vKgZ",
          "name": "OpenAI - Running Coach"
        }
      }
    },
    {
      "id": "extract-response",
      "parameters": {
        "functionCode": "const response = items[0].json;\nconst prepareData = $('Prepare Data').first().json;\nconst aiContent = response.choices[0].message.content;\n\nlet extracted = {};\nlet responseText = aiContent;\n\ntry {\n  const parsed = JSON.parse(aiContent);\n  extracted = parsed.extracted || {};\n  responseText = parsed.response || aiContent;\n} catch (e) {\n  responseText = aiContent;\n}\n\n// Очищаем текст от спецсимволов Telegram Markdown\nresponseText = responseText\n  .replace(/\\*/g, '•')  // звёздочки → буллеты\n  .replace(/_/g, ' ')   // подчёркивания → пробелы\n  .replace(/`/g, \"'\")   // бэктики → кавычки\n  .replace(/\\[/g, '(')  // скобки\n  .replace(/\\]/g, ')');\n\nreturn [{\n  json: {\n    user_id: prepareData.user_id,\n    chat_id: prepareData.chat_id,\n    message_id: prepareData.message_id,\n    user_message: prepareData.message_text,\n    intent: prepareData.intent,\n    response_text: responseText,\n    onboarding_stage: prepareData.onboarding_stage,\n    next_stage: prepareData.next_stage,\n    extracted_data: extracted,\n    is_plan_generation: prepareData.is_plan_generation,\n    is_strategy_generation: prepareData.is_strategy_generation,\n    weekly_runs: prepareData.weekly_runs\n  }\n}];"
      },
      "name": "Extract Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2040,
        400
      ]
    },
    {
      "id": "send-telegram",
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id.toString() }}",
        "text": "={{ $json.response_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "SLNhx6dJUSPFBV35",
          "name": "Telegram Bot - Running Coach"
        }
      }
    },
    {
      "id": "is-onboarding",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Extract Response').first().json.intent }}",
              "rightValue": "onboarding",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        400
      ]
    },
    {
      "id": "build-update-data",
      "parameters": {
        "functionCode": "// RACE-ONLY Build Update Data v0.4.0\nconst data = $('Extract Response').first().json;\nconst extractedData = data.extracted_data || {};\n\nconst updateFields = {};\n\nlet actualNextStage = data.next_stage;\n\n// RACE-ONLY: всегда устанавливаем goal = race\nif (data.onboarding_stage === 'started') {\n  updateFields.goal = 'race';\n}\n\n// Для strategy_preview, если стратегия сгенерирована - переходим к completed\nif (data.onboarding_stage === 'strategy_preview' && extractedData.strategy_generated) {\n  actualNextStage = 'completed';\n}\n\n// Обновляем этап\nif (actualNextStage && actualNextStage !== data.onboarding_stage) {\n  updateFields.onboarding_stage = actualNextStage;\n}\n\n// Базовые поля профиля\nif (extractedData.level) updateFields.level = extractedData.level;\nif (extractedData.age) updateFields.age = extractedData.age;\nif (extractedData.height_cm) updateFields.height_cm = extractedData.height_cm;\nif (extractedData.weight_kg) updateFields.weight_kg = extractedData.weight_kg;\nif (extractedData.current_5k_pace_seconds) updateFields.current_5k_pace_seconds = extractedData.current_5k_pace_seconds;\nif (extractedData.weekly_runs) updateFields.weekly_runs = extractedData.weekly_runs;\n\n// Поля для забега\nif (extractedData.race_distance) updateFields.race_distance = extractedData.race_distance;\nif (extractedData.race_date) updateFields.race_date = extractedData.race_date;\nif (extractedData.target_time_seconds) updateFields.target_time_seconds = extractedData.target_time_seconds;\n\n// HR и lab testing поля\nif (extractedData.resting_hr) updateFields.resting_hr = extractedData.resting_hr;\nif (extractedData.max_hr) updateFields.max_hr = extractedData.max_hr;\nif (extractedData.has_lab_testing !== undefined) updateFields.has_lab_testing = extractedData.has_lab_testing;\nif (extractedData.vo2max) updateFields.vo2max = extractedData.vo2max;\nif (extractedData.lthr) updateFields.lthr = extractedData.lthr;\n\n// HR зоны (из strategy_preview)\nif (extractedData.hr_zone1_max) updateFields.hr_zone1_max = extractedData.hr_zone1_max;\nif (extractedData.hr_zone2_max) updateFields.hr_zone2_max = extractedData.hr_zone2_max;\nif (extractedData.hr_zone3_max) updateFields.hr_zone3_max = extractedData.hr_zone3_max;\nif (extractedData.hr_zone4_max) updateFields.hr_zone4_max = extractedData.hr_zone4_max;\nif (extractedData.hr_zone5_max) updateFields.hr_zone5_max = extractedData.hr_zone5_max;\n\nreturn [{\n  json: {\n    user_id: data.user_id,\n    chat_id: data.chat_id,\n    update_fields: updateFields,\n    has_updates: Object.keys(updateFields).length > 0,\n    is_plan_generation: data.is_plan_generation || extractedData.plan_generated,\n    is_strategy_generation: data.is_strategy_generation || extractedData.strategy_generated,\n    plan_data: extractedData.plan_generated ? {\n      total_km: extractedData.total_km,\n      total_sessions: extractedData.total_sessions\n    } : null,\n    response_text: data.response_text,\n    weekly_runs: data.weekly_runs\n  }\n}];\n"
      },
      "name": "Build Update Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2640,
        300
      ]
    },
    {
      "id": "has-updates",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.has_updates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2840,
        300
      ]
    },
    {
      "id": "update-user",
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "onboarding_stage",
              "fieldValue": "={{ $json.update_fields.onboarding_stage }}"
            },
            {
              "fieldId": "level",
              "fieldValue": "={{ $json.update_fields.level }}"
            },
            {
              "fieldId": "current_5k_pace_seconds",
              "fieldValue": "={{ $json.update_fields.current_5k_pace_seconds }}"
            },
            {
              "fieldId": "weekly_runs",
              "fieldValue": "={{ $json.update_fields.weekly_runs }}"
            },
            {
              "fieldId": "goal",
              "fieldValue": "={{ $json.update_fields.goal }}"
            },
            {
              "fieldId": "age",
              "fieldValue": "={{ $json.update_fields.age }}"
            },
            {
              "fieldId": "height_cm",
              "fieldValue": "={{ $json.update_fields.height_cm }}"
            },
            {
              "fieldId": "weight_kg",
              "fieldValue": "={{ $json.update_fields.weight_kg }}"
            },
            {
              "fieldId": "race_date",
              "fieldValue": "={{ $json.update_fields.race_date }}"
            },
            {
              "fieldId": "race_distance",
              "fieldValue": "={{ $json.update_fields.race_distance }}"
            },
            {
              "fieldId": "target_time_seconds",
              "fieldValue": "={{ $json.update_fields.target_time_seconds }}"
            },
            {
              "fieldId": "resting_hr",
              "fieldValue": "={{ $json.update_fields.resting_hr }}"
            },
            {
              "fieldId": "max_hr",
              "fieldValue": "={{ $json.update_fields.max_hr }}"
            },
            {
              "fieldId": "has_lab_testing",
              "fieldValue": "={{ $json.update_fields.has_lab_testing }}"
            },
            {
              "fieldId": "vo2max",
              "fieldValue": "={{ $json.update_fields.vo2max }}"
            },
            {
              "fieldId": "lthr",
              "fieldValue": "={{ $json.update_fields.lthr }}"
            },
            {
              "fieldId": "hr_zone1_max",
              "fieldValue": "={{ $json.update_fields.hr_zone1_max }}"
            },
            {
              "fieldId": "hr_zone2_max",
              "fieldValue": "={{ $json.update_fields.hr_zone2_max }}"
            },
            {
              "fieldId": "hr_zone3_max",
              "fieldValue": "={{ $json.update_fields.hr_zone3_max }}"
            },
            {
              "fieldId": "hr_zone4_max",
              "fieldValue": "={{ $json.update_fields.hr_zone4_max }}"
            },
            {
              "fieldId": "hr_zone5_max",
              "fieldValue": "={{ $json.update_fields.hr_zone5_max }}"
            }
          ]
        }
      },
      "name": "Update User Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3040,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "is-plan-generation",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('Extract Response').first().json.is_plan_generation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Plan Generation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        500
      ]
    },
    {
      "id": "prepare-plan-data",
      "parameters": {
        "functionCode": "const extractResponse = $('Extract Response').first().json;\n\nif (!extractResponse.is_plan_generation) {\n  return [];\n}\n\nconst now = new Date();\nconst dayOfWeek = now.getDay();\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - (dayOfWeek === 0 ? 6 : dayOfWeek - 1));\nmonday.setHours(0, 0, 0, 0);\n\nconst sunday = new Date(monday);\nsunday.setDate(monday.getDate() + 6);\n\nconst formatDate = (d) => d.toISOString().split('T')[0];\n\nconst responseText = extractResponse.response_text || '';\nconst extracted = extractResponse.extracted_data || {};\n\nconst planData = {\n  raw_plan: responseText,\n  generated_at: new Date().toISOString(),\n  total_km: extracted.total_km || null,\n  total_sessions: extracted.total_sessions || extractResponse.weekly_runs || 3\n};\n\nreturn [{\n  json: {\n    user_id: extractResponse.user_id,\n    week_start: formatDate(monday),\n    week_end: formatDate(sunday),\n    week_number: 1,\n    plan_data: planData,\n    total_distance_km: extracted.total_km || null,\n    total_sessions: extracted.total_sessions || 3,\n    status: 'active'\n  }\n}];"
      },
      "name": "Prepare Plan Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2840,
        500
      ]
    },
    {
      "id": "save-plan",
      "parameters": {
        "operation": "create",
        "tableId": "weekly_plans",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "week_start",
              "fieldValue": "={{ $json.week_start }}"
            },
            {
              "fieldId": "week_end",
              "fieldValue": "={{ $json.week_end }}"
            },
            {
              "fieldId": "week_number",
              "fieldValue": "={{ $json.week_number }}"
            },
            {
              "fieldId": "plan_data",
              "fieldValue": "={{ JSON.stringify($json.plan_data) }}"
            },
            {
              "fieldId": "total_distance_km",
              "fieldValue": "={{ $json.total_distance_km }}"
            },
            {
              "fieldId": "total_sessions",
              "fieldValue": "={{ $json.total_sessions }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "name": "Save Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3040,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "save-user-message",
      "parameters": {
        "operation": "create",
        "tableId": "chat_history",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Extract Response').first().json.user_message }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Extract Response').first().json.intent === 'onboarding' ? 'onboarding' : 'general' }}"
            },
            {
              "fieldId": "telegram_message_id",
              "fieldValue": "={{ $('Extract Response').first().json.message_id }}"
            }
          ]
        }
      },
      "name": "Save User Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2440,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    },
    {
      "id": "save-bot-response",
      "parameters": {
        "operation": "create",
        "tableId": "chat_history",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Extract Response').first().json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Extract Response').first().json.response_text }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Extract Response').first().json.intent === 'onboarding' ? 'onboarding' : $('Extract Response').first().json.is_plan_generation ? 'planning' : 'general' }}"
            }
          ]
        }
      },
      "name": "Save Bot Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2640,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CJ3Z1MvRt6BxblaB",
          "name": "Supabase - Running Coach"
        }
      }
    }
  ],
  "connections": {
    "TelegramTrigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "User Not Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Not Found?": {
      "main": [
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Active Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Plan": {
      "main": [
        [
          {
            "node": "Merge User & Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User & Plan": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User": {
      "main": [
        [
          {
            "node": "Get User Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Again": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Is Onboarding?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Plan Generation?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Onboarding?": {
      "main": [
        [
          {
            "node": "Build Update Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Update Data": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "Update User Profile",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Plan Generation?": {
      "main": [
        [
          {
            "node": "Prepare Plan Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Plan Data": {
      "main": [
        [
          {
            "node": "Save Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Save Bot Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}